<div class="news-details__main row">
    <div class="home__main__section--first news-list__main col-12 col-md-8">
        <div class="home__main__section--first__info
            news-list__main--first-section">
            <div
                class="home__main__section--first__info--text
                news-list__main--first-section--header
                news-details__main--header activity-details__main--header">
                <h2>
                    Самостоятелни обекти в сграда в гр. Благоевград, ул. „Стефан
                    Стамболов“№1 с обща застроена площ
                    1190,11 кв.м
                </h2>
            </div>
        </div>
    </div>
    <div class="news-list__main--first-section--breadcrumb
        news-details__main--breadcrumb col-12 col-md-4">
        <div class="news-list__main--first-section--breadcrumb--old">
            <span>
                <a href="index.html">Начало</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow"
                    />
            </span>
            <span>
                <a href="#">Продукти и услуги</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow"
                    />
            </span>
            <span>
                <a href="#">Продажба на активи</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow"
                    />
            </span>
            <span>
                <a href="#">Недвижими имоти</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow"
                    />
            </span>
        </div>
        <div class="news-list__main--first-section--breadcrumb--active">
            <span><a href="activity-list.html">Самостоятелни обекти в сграда в
                    гр. Благоевград, ул. „Стефан…</a></span>
        </div>
    </div>
</div>
<div class="news-details__body">
    <div class="news-details__body--text">
        <p>
            В тазгодишното издание на специализирана финансова конференция
            „Шумът на парите“ София Касидова, отговаряща за стратегическо
            развитие и планиране в ББР, представи гаранционните програми в
            подкрепа на попадналите в затруднение служители и бизнеси в резултат
            на пандемията от COVID-19. За тях банката получи специален мандат от
            правителството да формира и управлява инструменти през търговските
            банки.
        </p>
        <p>
            По първата програма – за подкрепа на служители в неплатен отпуск и
            самоосигурени от старта в края на април до сега са отпуснати над 28
            млн. Лв. Максималната стойност на безлихвения кредит е 4 500 лева,
            срокът на погасяване е 5 години, с минимум 6 месеца и максимум 24
            месеца гратисен период. Броят на постъпилите до момента искания са
            около 13 хиляди със средна стойност около 4 100 лева. Две трети са
            от лица на трудов договор, а останалите – от самоосигуряващи се.
            Банките-партньори приеха много добре програмата и вече 10 от тях
            участват в нея, посочи София Касидова.
        </p>
        <p>
            Втората програма, насочена към МСП, е отворена за фирми, които имат
            до 250 служители и работят във всички сектори на икономиката, сред
            които и най-засегнатите от пандемията. Гаранционната програма, която
            е с бюджет от 500 млн. Лв., подкрепя оборотно финансиране за фирми в
            затруднение. Заявления по нея вече приема първата банка, подписала
            споразумение – БАКБ. Очаква се броят на банките-партньори да
            достигне 10.
        </p>
        <p>
            ББР покрива 80% от обезпечението по главниците и лихви по
            предоставяните от търговските банки кредити. Обезпечението от
            кредитополучателя е само 20%, което е голямо облекчение за
            компаниите. От друга страна, това е и вид индиректна помощ за
            търговските банки, които ползват кредитно улеснение от гаранционното
            покритие от ББР.
            В отговор на въпрос по време на дискусията Касидова обясни, че тези
            антикризисни мерки могат да бъдат удължени, ако има втора вълна на
            пандемията, но това е въпрос на политическо решение. Продуктът е
            структуриран така, че финансовите споразумения с търговските банки
            да се подпишат до края на 2020 г.
        </p>
        <p>
            Екатерина Кирилова, член на УС на УниКредит Булбанк, която също беше
            участник в дискусията, отбеляза, че сътрудничеството с ББР по тези
            гаранционни програми е било впечатляващо, така че да може
            търговските банки да осъществят това посредничество по всички
            правила. Тя оцени и като много успешна кампанията на ББР, чрез която
            информацията достига до хората.
        </p>
        <p>
            По време на разговора беше дискутирана и ролята на държавните банки
            за развитие, като София Касидова обърна внимание, че именно те са
            гъвкав и ефективен инструмент на правителствата за създаване на
            антикризисните програми като тези, които вече стартираха. Почти
            всички банки за развитие в Европейския съюз се включиха в мерките за
            намаляване на последиците от карантинните мерки. В такива моменти
            ясно се вижда тяхната роля като партньор, а не конкурент на
            търговските банки. Банките за развитие са тези, които могат да
            гарантират бизнесът да получи кредити когато има най-голяма
            потребност, поясни тя.
        </p>
        <p>
            А какво правят банките за развитие когато няма криза? Чрез тях се
            създават различни гъвкави инструменти за реализиране на политиките
            на правителствата. Като пример тя даде Програмата за енергийна
            ефективност на многофамилни жилищни сгради, която ББР реализира.
            Много съществена роля например е и подкрепата за стартъпи, финтех
            компании, иновации, които и в спокойна икономическа обстановка нямат
            добър достъп до финансиране. Ролята на банките за развитие е да
            попълнят подобни ниши в структурата на пазарите. Стратегията на
            Българската банка за развитие обаче не е само тази, обясни Касидова
            – тя може да бъде толкова голяма, колкото големи са идеите и
            амбициите на правителството.
        </p>
    </div>
    <div class="news-details__body--links">
        <div class="news-details__body--links__items">
            <div class="news-details__body--links__items--img">
                <img src="../../assets/images/pdf.svg" alt="pdf" />
            </div>
            <a href="#">
                Отчет по чл. 100б, ал. 3 от ЗППЦК за спазване на условията по
                трета облигационна емисия на ББР (борсов
                код: BI6B, ISIN код: BG2100014104) към 30.09.2015 г.
            </a>
        </div>
        <div class="news-details__body--links__items">
            <div class="news-details__body--links__items--img">
                <img src="../../assets/images/doc.svg" alt="doc" />
            </div>
            <a href="#">
                Общи условия, приложими към дейността на ББР АД в качеството ѝ
                на инвестиционен посредник и сключените
                договори с клиенти
            </a>
        </div>
        <div class="news-details__body--links__items">
            <div class="news-details__body--links__items--img">
                <img src="../../assets/images/xls.svg" alt="xls" />
            </div>
            <a href="#">
                Тарифа за условията, лихвите, таксите и комисионите за ЕТ и
                юридически лица (в сила от 17.12.2019 г.)
            </a>
        </div>
        <div class="news-details__body--links__items">
            <div class="news-details__body--links__items--img">
                <img src="../../assets/images/pdf.svg" alt="pdf" />
            </div>
            <a href="#">Информация по реда на чл.3 от Делегиран регламент (ЕС)
                2017/576 на ЕК</a>
        </div>

        <div class="news-details__body--gallery">
            <div class="news-details__body--gallery__main">
                <img
                    src="../../assets/images/activity-details-1.png"
                    alt="Big
                    photo"
                    id="news-details__gallery--big"
                    />
            </div>
            <div class="news-details__body--gallery__list row">
                <img class="col-3"
                    src="../../assets/images/activity-details-2.png"
                    alt="Gallery img" />
                <img class="col-3"
                    src="../../assets/images/activity-details-3.png"
                    alt="Gallery img" />
                <img class="col-3"
                    src="../../assets/images/activity-details-4.png"
                    alt="Gallery img" />
                <img class="col-3"
                    src="../../assets/images/activity-details-5.png"
                    alt="Gallery img" />
            </div>
        </div>
    </div>
</div>
