<section class="activity-details__main__form">
    <div class="activity-details__main__form__header">
        <h3>
            Форма за запитване
        </h3>
        <p>За запитвания или повече информация, свързани с актива,
            Моля попълнете формуляра .</p>
    </div>
    <div class="activity-details__main__form__main">
        <form class="activity-details__main__form__main__inner">
            <div class="row">
                <div class="col-12 col-md-6">
                    <input type="text" placeholder="Име*">
                </div>
                <div class="col-12 col-md-6">
                    <input type="text"
                        placeholder="Фамилия*">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <input type="tel"
                        placeholder="Телефон*">
                </div>
                <div class="col-12 col-md-6">
                    <input type="email"
                        placeholder="И-мейл*">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <textarea name="" id="" cols="30" rows="10"
                        class="col-12" placeholder="Съобщение"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12 activity-details__main__form__main--check">
                    <input type="checkbox" name=""
                        id="activity-details__main__form__main--check">
                    <label for="activity-details__main__form__main--check">Съгласен
                        съм
                        личните ми данни да бъдат обработвани от Българска банка
                        за
                        развитие*</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="#"
                        class="activity-details__main__form__main--button">Изпрати</a>
                </div>
            </div>
        </form>
    </div>
</section>