<div class="home__main__section--first news-list__main">
    <div class=" home__main__section--first__info news-list__main--first-section">
        <div class="home__main__section--first__info--text news-list__main--first-section--header">
            <h2>Недвижими имоти</h2>
        </div>
    </div>
</div>
<div class="news-list__main--first-section--breadcrumb">
    <div class="news-list__main--first-section--breadcrumb--old">
        <span><a href="index.html">Начало</a><img src="../../assets/images/right-arrow.svg" alt="Right arrow"></span>
        <span><a href="#">Продукти и услуги</a><img src="../../assets/images/right-arrow.svg" alt="Right arrow"></span>
        <span><a href="#">Продажба на активи</a><img src="../../assets/images/right-arrow.svg" alt="Right arrow"></span>
    </div>
    <div class="news-list__main--first-section--breadcrumb--active"><span><a href="activity-list.html">Недвижими имоти
            </a></span></div>
</div>
<div class="home__main__section--news__main activity-list__main__cards mt-5">
    <div class="activity-list__main__cards__card row  news-list__main__news__inner">
        <div class="activity-list__main__cards__card--img col-12 col-md-6 col-lg-5 col-xl-3">
            <img src="../../assets/images/activity-list-1.png" alt="Activity list" width="266" height="266">
        </div>
        <div class="activity-list__main__cards__card--body col-12 col-md-6 col-lg-7 col-xl-9">
            <div class="home__main__section--news__main--card__body card-body">
                <h5 class="card-title">
                    Самостоятелни обекти в сграда в гр. Благоевград, ул. „Стефан Стамболов“№1 с обща застроена площ
                    1190,11 кв.м
                </h5>
                <p class="card-text">
                    ББР АД продава НЕДВИЖИМИ ИМОТИ – САМОСТОЯТЕЛНИ ОБЕКТИ В СГРАДА, находящи се в град Благоевград, ул.
                    „Стефан Стамболов“ № 1, община Благоевград, област Благоевград, с обща застроена площ 1190,11 кв.м
                    (хиляда сто и деветдесет цяло и единадесет стотни квадратни метра), ведно със съответните идеални
                    части от общите части на сградата и от правото на строеж върху мястото, върху което е построена
                    сградата.
                    - 65,09% представляващи 5.87кв.м / 9.02кв.м от СОС с идентификатор: 04279.613.349.4.1, с
                    предназначение – за обществено хранене, етаж 0, със застроена площ 9,02 кв.м, представляващ склад –
                    снек-бар в сутеренен етаж на сградата, ведно с припадащите му се идеални части от общите части на
                    сградата и от правото на строеж върху …мястото.
                    - 65,09% представляващи 6.22кв.м / 9.57кв.м от СОС с идентификатор: 04279.613.349.4.2, с
                    предназначение – друг вид самостоятелен обект в сграда, етаж 0, със застроена площ 9,57 кв.м,
                    представляващ сервизно помещение от сутеренен етаж на сградата, ведно с припадащите му се идеални
                    части от общите части на сградата и от правото на строеж върху мястото.
                </p>
            </div>
            <div class="home__main__section--news__main--card__footer d-flex justify-content-between  pt-0">
                <span class="home__main__section--news__main--card__footer--link">
                    <a href="#">Виж Oще</a>
                    <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                </span>

            </div>
        </div>
    </div>
    <div class="activity-list__main__cards__card row  news-list__main__news__inner">
        <div class="activity-list__main__cards__card--img col-12 col-md-6 col-lg-5 col-xl-3">
            <img src="../../assets/images/activity-list-2.png" alt="Activity list" width="266" height="266">
        </div>
        <div class="activity-list__main__cards__card--body col-12 col-md-6 col-lg-7 col-xl-9">
            <div class="home__main__section--news__main--card__body card-body">
                <h5 class="card-title">
                    Поземлен имот с изградена в него масивна двуетажна вилна сграда в югоизточната част на землището на
                    гр. Долна баня, в голф селището на „Голф клуб Ибър“.
                </h5>
                <p class="card-text">
                    ББР АД продава Поземлен имот с идентификатор № 22006.118.98 с трайно предназначение на територията:
                    урбанизирана, начин на трайно ползване: ниско застрояване /до 10 м/. Площта на парцела е 972 кв.м.
                    Парцелът е с неправилна форма, теренът е равнинен, покрит с неподдържана тревна растителност.
                    Достъпът се осъществява от запад по улица с асфалтова настилка. Върху имота е изградена Масивна
                    двуетажна вилна сграда /тип Кристина 1/ с идентификатор № 22006.118.98.1., построена на две нива със
                    ЗП 78,00 кв.м и РЗП 164,00 кв.м. Във функционално отношение, на първия етаж /кота 0,00 м/ се състои
                    от: входно антре, тоалетна, техническо помещение /килер/, кухня… дневна с трапезария и стълбище към
                    втория етаж; и на втория етаж /кота +3,50 м/ се състои от: три спални, две бани, балкон, фоайе и
                    стълбище към първия етаж.
                </p>
            </div>
            <div class="home__main__section--news__main--card__footer d-flex justify-content-between  pt-0">
                <span class="home__main__section--news__main--card__footer--link">
                    <a href="#">Виж Oще</a>
                    <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                </span>

            </div>
        </div>
    </div>
    <div class="activity-list__main__cards__card row  news-list__main__news__inner">
        <div class="activity-list__main__cards__card--img col-12 col-md-6 col-lg-5 col-xl-3">
            <img src="../../assets/images/activity-list-3.png" alt="Activity list" width="266" height="266">
        </div>
        <div class="activity-list__main__cards__card--body col-12 col-md-6 col-lg-7 col-xl-9">
            <div class="home__main__section--news__main--card__body card-body">
                <h5 class="card-title">
                    30 броя поземлени имота с обща площ от 236 дка в землището на гр. Долна баня, обл. София
                </h5>
                <p class="card-text">
                    ББР АД продава 30 броя поземлени имота за трайно ползване - ниви, пасище, мера, жилищна територия и
                    индивидуално застрояване. Общата им площ е 236 дка. Намират се в землището на гр. Долна баня, общ.
                    Долна баня, обл. София в м.„Айкъна“, м. „Мерата“, м.“Белата вода“, м. “Долнобанско“ и м. „Гроздова“.
                    Една част от тях попадат в границите на „Голф клуб Ибър“, а останалите са разположени около и в
                    близост до игрището.
                    Имотите представляват земеделски земи и поземлени имоти с променено предназначение за индивидуално
                    или жилищно застрояване. Имотите не се използват и поддържат, в основната си част са равнинни, но с
                    неправилна …форма. В района вертикалната планировка не е изградена. Липсват пътища с трайна
                    настилка, не са изградени елементите на локалната инженерна и техническа инфраструктура.
                </p>
            </div>
            <div class="home__main__section--news__main--card__footer d-flex justify-content-between  pt-0">
                <span class="home__main__section--news__main--card__footer--link">
                    <a href="#">Виж Oще</a>
                    <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                </span>

            </div>
        </div>
    </div>
    <div class="activity-list__main__cards__card row  news-list__main__news__inner">
        <div class="activity-list__main__cards__card--img col-12 col-md-6 col-lg-5 col-xl-3">
            <img src="../../assets/images/activity-list-4.png" alt="Activity list" width="266" height="266">
        </div>
        <div class="activity-list__main__cards__card--body col-12 col-md-6 col-lg-7 col-xl-9">
            <div class="home__main__section--news__main--card__body card-body">
                <h5 class="card-title">
                    Недвижим имот в гр. София, район „Студентски”, м. „Младост 1 –Мусагеница“ в непосредствена близост
                    до бул. „Цариградско шосе”
                </h5>
                <p class="card-text">
                    Имотът се намира в град София, район „Студентски”, м. „Младост 1 –Мусагеница“ в непосредствена
                    близост до бул. „Цариградско шосе”, бул. „Драган Цанков”, бул. „Климент Охридски” и редица други
                    улици и булеварди, които го правят на изключително комуникативно и желано местоположение. Разположен
                    е върху урбанизирана територия, която е с начин на трайно ползване – „за друг вид застрояване“. С
                    изработения нов Проект за подробен устройствен план (ПУП) - План за регулация и застрояване (ПРЗ) на
                    м. Младост 1 - Мусагеница, имотът е предвиден „За озеленяване с режим на ТГО”. Общата площ на имота
                    е 4 687.00 кв.м., по скица е с площ 4 698 кв.м. Районът е с изцяло …изградени елементи на локалната
                    инжинерна инфраструктура (ел. Захранване, ВиК, ТЕЦ). Непосредствено до оценявания имот е разположена
                    спирка на обществен градски транспорт,
                </p>
            </div>
            <div class="home__main__section--news__main--card__footer d-flex justify-content-between  pt-0">
                <span class="home__main__section--news__main--card__footer--link">
                    <a href="#">Виж Oще</a>
                    <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                </span>

            </div>
        </div>
    </div>
    <div class="activity-list__main__cards__card row  news-list__main__news__inner">
        <div class="activity-list__main__cards__card--img col-12 col-md-6 col-lg-5 col-xl-3">
            <img src="../../assets/images/activity-list-5.png" alt="Activity list" width="266" height="266">
        </div>
        <div class="activity-list__main__cards__card--body col-12 col-md-6 col-lg-7 col-xl-9">
            <div class="home__main__section--news__main--card__body card-body">
                <h5 class="card-title">
                    Поземлен имот с площ 834 кв.м в гр. Хасково, ул. „Славянска“ №2, заедно с 4-етажна промишлена сграда
                    и 4-етажна производствена сграда
                </h5>
                <p class="card-text">
                    Българската банка за развитие продава ПОЗЕМЛЕН ИМОТ с идентификатор № 77195.736.239, с площ 834 кв.м
                    (осемстотин тридесет и четири квадратни метра), находящ се в гр. Хасково, община Хасково, обл.
                    Хасково, ул. „Славянска“ №2, заедно с ЧЕТИРИЕТАЖНА ПРОМИШЛЕНА СГРАДА с идентификатор 77195.736.239.1
                    със ЗП 134 кв.м (сто тридесет и четири квадратни метра) и ЧЕТИРИЕТАЖНА ПРОИЗВОДСТВЕНА СГРАДА с
                    идентификатор 77195.736.239.2 със ЗП 345 кв.м (триста четиридесет и пет квадратни метра). Имотът се
                    намира в южната част на гр. Хасково, жк. „Овчарски“, в близост до кръстовището на булеварди
                    „Освобождение“ и „Илинден“. Транспортната …достъпност на района е отлична. В близост е изградена
                    инженерната инфраструктура. Съседните имоти са застроени.
                </p>
            </div>
            <div class="home__main__section--news__main--card__footer d-flex justify-content-between  pt-0">
                <span class="home__main__section--news__main--card__footer--link">
                    <a href="#">Виж Oще</a>
                    <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                </span>

            </div>
        </div>
    </div>
    <div class="activity-list__main__cards__card row  news-list__main__news__inner">
        <div class="activity-list__main__cards__card--img col-12 col-md-6 col-lg-5 col-xl-3">
            <img src="../../assets/images/activity-list-6.png" alt="Activity list" width="266" height="266">
        </div>
        <div class="activity-list__main__cards__card--body col-12 col-md-6 col-lg-7 col-xl-9">
            <div class="home__main__section--news__main--card__body card-body">
                <h5 class="card-title">
                    Поземлен имот с овощна градина в землището на с. Церово, област Пазарджик
                </h5>
                <p class="card-text">
                    ББР АД продава НЕДВИЖИМИ ИМОТИ – САМОСТОЯТЕЛНИ ОБЕКТИ В СГРАДА, находящи се в град Благоевград, ул.
                    „Стефан Стамболов“ № 1, община Благоевград, област Благоевград, с обща застроена площ 1190,11 кв.м
                    (хиляда сто и деветдесет цяло и единадесет стотни квадратни метра), ведно със съответните идеални
                    части от общите части на сградата и от правото на строеж върху мястото, върху което е построена
                    сградата.
                    - 65,09% представляващи 5.87кв.м / 9.02кв.м от СОС с идентификатор: 04279.613.349.4.1, с
                    предназначение – за обществено хранене, етаж 0, със застроена площ 9,02 кв.м, представляващ склад –
                    снек-бар в сутеренен етаж на сградата, ведно с припадащите му се идеални части от общите части на
                    сградата и от правото на строеж върху …мястото.
                    - 65,09% представляващи 6.22кв.м / 9.57кв.м от СОС с идентификатор: 04279.613.349.4.2, с
                    предназначение – друг вид самостоятелен обект в сграда, етаж 0, със застроена площ 9,57 кв.м,
                    представляващ сервизно помещение от сутеренен етаж на сградата, ведно с припадащите му се идеални
                    части от общите части на сградата и от правото на строеж върху мястото.
                </p>
            </div>
            <div class="home__main__section--news__main--card__footer d-flex justify-content-between  pt-0">
                <span class="home__main__section--news__main--card__footer--link">
                    <a href="#">Виж Oще</a>
                    <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                </span>

            </div>
        </div>
    </div>
</div>
<div class="home__main__section--news__main row news-list__main__news__outer">
    <div class="news-list__main__news__outer__list">
        <span class="active">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
    </div>
</div>