<aside class="additional-info">
    <a href="#" class="additional-info__items">
        <img
            src="../../assets/images/Online Banking.svg"
            alt="Online banking logo"
            class="additional-info__items--img"
        />
        <span class="additional-info__items--text">Онлайн банкиране</span>
    </a>

    <a href="credit-form.html" class="additional-info__items">
        <img class="additional-info__items--img" src="../../assets/images/coin.svg" alt="Coin logo" />
        <span class="additional-info__items--text">Кандидатствай</span>
    </a>
    <a href="#" class="additional-info__items hasPopUp" id="additional--currency">
        <img class="additional-info__items--img" src="../../assets/images/euro.svg" alt="Euros logo" />
        <span class="additional-info__items--text">Валутни курсове</span>
        <div class="additional-info__items__popup--arrow popup" id="additional-info__items__popup__arrow--2"></div>
        <div class="additional-info__items__popup__main popup" id="additional-info__items__popup__main--2">
            <h5 class="additional-info__items__popup__main--title">Валутни курсове</h5>
            <ul class="additional-info__items__popup__main--nav">
                <li class="additional-info__items__popup__main--nav--items selected">Фиксинг</li>
                <li class="additional-info__items__popup__main--nav--items">Касово</li>
                <li class="additional-info__items__popup__main--nav--items">Безкасово</li>
            </ul>
            <div
                class="additional-info__items__popup__main--table selected"
                id="additional-info__items__popup__main--1"
            >
                <table>
                    <tr>
                        <th>Валута</th>
                        <th>Фиксинг</th>
                    </tr>
                    <tr>
                        <td>EUR</td>
                        <td>1,95583</td>
                    </tr>
                    <tr>
                        <td>USD</td>
                        <td>1,66298</td>
                    </tr>
                    <tr>
                        <td>GBP</td>
                        <td>2,3079</td>
                    </tr>
                    <tr>
                        <td>CHF</td>
                        <td>1,8133</td>
                    </tr>
                </table>
            </div>
            <div class="additional-info__items__popup__main--table" id="additional-info__items__popup__main--2">
                <table>
                    <tr>
                        <th>Валута</th>
                        <th>Купува</th>
                        <th>Продава</th>
                    </tr>
                    <tr>
                        <td>EUR</td>
                        <td>1,949</td>
                        <td>1,961</td>
                    </tr>
                    <tr>
                        <td>USD</td>
                        <td>1,6321</td>
                        <td>1,6954</td>
                    </tr>
                </table>
            </div>
            <div class="additional-info__items__popup__main--table" id="additional-info__items__popup__main--3">
                <table>
                    <tr>
                        <th>Валута</th>
                        <th>Купува</th>
                        <th>Продава</th>
                    </tr>
                    <tr>
                        <td>EUR</td>
                        <td>1,95</td>
                        <td>1,96</td>
                    </tr>
                    <tr>
                        <td>USD</td>
                        <td>1,6331</td>
                        <td>1,6944</td>
                    </tr>
                    <tr>
                        <td>GBP</td>
                        <td>2,2634</td>
                        <td>2,344</td>
                    </tr>
                    <tr>
                        <td>CHF</td>
                        <td>1,7824</td>
                        <td>1,8366</td>
                    </tr>
                </table>
            </div>
        </div>
    </a>
    <a href="#" class="additional-info__items hasPopUp" id="additional--indexes">
        <img class="additional-info__items--img" src="../../assets/images/Percent.svg" alt="Percent logo" />
        <span class="additional-info__items--text">Лихвени индекси</span>
        <div class="additional-info__items__popup--arrow popup" id="additional-info__items__popup__arrow--2"></div>
        <div class="additional-info__items__popup__main popup" id="additional-info__items__popup__main--2">
            <h5 class="additional-info__items__popup__main--title">Лихвени индекси</h5>
            <ul class="additional-info__items__popup__main--nav">
                <li class="additional-info__items__popup__main--nav--items selected">Euribor</li>
                <li class="additional-info__items__popup__main--nav--items">LIBOR USD</li>
            </ul>
            <div
                class="additional-info__items__popup__main--table selected"
                id="additional-info__items__popup__main--1"
            >
                <table>
                    <tr>
                        <th>Наименование</th>
                        <th>Стойност</th>
                    </tr>
                    <tr>
                        <td>1 Месец</td>
                        <td>-0,568</td>
                    </tr>
                    <tr>
                        <td>3 Месеца</td>
                        <td>-0,54</td>
                    </tr>
                    <tr>
                        <td>6 Месеца</td>
                        <td>-0,527</td>
                    </tr>
                </table>
            </div>
            <div class="additional-info__items__popup__main--table" id="additional-info__items__popup__main--2">
                <table>
                    <tr>
                        <th>Наименование</th>
                        <th>Стойност</th>
                    </tr>
                    <tr>
                        <td>1 Месец</td>
                        <td>0,09513</td>
                    </tr>
                    <tr>
                        <td>3 Месеца</td>
                        <td>0,12838</td>
                    </tr>
                    <tr>
                        <td>6 Месеца</td>
                        <td>0,14938</td>
                    </tr>
                </table>
            </div>
        </div>
    </a>
</aside>
