<div class="news-details__main row zhalba__main">
    <div class="home__main__section--first news-list__main col-12 col-md-8">
        <div class="home__main__section--first__info news-list__main--first-section zhalba__main--section">
            <div
                class="
                    home__main__section--first__info--text
                    news-list__main--first-section--header
                    news-details__main--header
                "
            >
                <h2>Калкулатор</h2>
                <p class="more-info">
                    Разраборихме калкулатор бързо и лесно изчисляване на приблизителните стойности на месечният кредит
                    или лизинг.
                </p>
                <p>*Представените изчисленията са само примерни и не представляват търговска оферта.</p>
            </div>
        </div>
    </div>
    <div class="news-list__main--first-section--breadcrumb news-details__main--breadcrumb col-12 col-md-4">
        <div class="news-list__main--first-section--breadcrumb--old">
            <span>
                <a href="index.html">Начало</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow" />
            </span>
        </div>
        <div class="news-list__main--first-section--breadcrumb--active">
            <span><a href="calculator.html">Калкулатор</a></span>
        </div>
    </div>
</div>

<div class="calculator__main">
    <div class="contacts__main__cards calculator__main__calculators">
        <div class="contacts__main__cards__card calculator__main__calculators__calculator">
            <div class="calculator__main__calculators__calculator__nav">
                <ul class="d-flex justify-content-between calculator__main__calculators__calculator__nav__list">
                    <li class="calculator__main__calculators__calculator__nav__list__items">
                        Кредит с анюитетна вноска
                    </li>
                    <li class="calculator__main__calculators__calculator__nav__list__items active-tab">
                        Кредит с равна месечна главница
                    </li>
                </ul>
            </div>
            <form class="calculator__main__calculators__calculator__form">
                <div class="credit-form__main__form__inner__steps">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" placeholder="Сума на кредита" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id="home__main__section--second">
                                <div class="col-12">
                                    <div class="selector" style="position: absolute; z-index: 10; left: 0; width: 100%">
                                        <div class="selector__home " id="select__event">
                                            <span
                                                class="select--span"
                                                id="selector__span--currency"
                                                style="color: rgb(105, 102, 108); opacity: 0.52"
                                            >
                                                Срок на договора
                                            </span>
                                        </div>
                                        <div class="selector__body" id="selector__id">
                                            <ul class="selector__body__list">
                                                <li class="selector__body__list__items"><span>1 година</span></li>
                                                <li class="selector__body__list__items"><span>2 години</span></li>
                                                <li class="selector__body__list__items"><span>3 години</span></li>
                                                <li class="selector__body__list__items"><span>4 години</span></li>
                                                <li class="selector__body__list__items"><span>5 години</span></li>
                                                <li class="selector__body__list__items"><span>5+ години</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5rem">
                        <div class="col-12">
                            <div class="custom-numerator">
                                <input type="text" placeholder="Лихвен процент" />
                                <div class="custom-numerator--buttons">
                                    <img
                                        class="custom-numerator--buttons--up"
                                        src="../../assets/images/arrow_bottom.svg"
                                        alt="Arrow"
                                        style="transform: rotate(180deg)"
                                        width="20"
                                        height="10"
                                    />
                                    <img
                                        class="custom-numerator--buttons--down"
                                        src="../../assets/images/arrow_bottom.svg"
                                        alt="Arrow"
                                        width="20"
                                        height="10"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row calculator--calc">
                        <div class="col-12">
                            <a href="#" class="activity-details__main__form__main--button">Изпрати</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="contacts__main__cards__card calculator__main__calculators__calculator">
            <div class="calculator__main__calculators__calculator__nav">
                <ul class="calculator__main__calculators__calculator__nav__list special">
                    <li class="calculator__main__calculators__calculator__nav__list__items active-tab">Лизинг</li>
                    <li class="calculator__main__calculators__calculator__nav__list__items">Лизинг на земя</li>
                </ul>
            </div>
            <form class="calculator__main__calculators__calculator__form">
                <div class="credit-form__main__form__inner__steps">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" placeholder="Обща стойност на оборудването с ДДС" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div id="home__main__section--second">
                                <div class="col-12">
                                    <div class="selector" style="position: absolute; z-index: 10; left: 0; width: 100%">
                                        <div class="selector__home" id="select__event--type--second">
                                            <span
                                                class="select--span"
                                                id="selector__span--type--second"
                                                style="color: rgb(105, 102, 108); opacity: 0.52"
                                            >
                                                Авансова вноска в %
                                            </span>
                                        </div>
                                        <div class="selector__body" id="selector__id--type--second">
                                            <ul class="selector__body__list">
                                                <li class="selector__body__list__items"><span>10%</span></li>
                                                <li class="selector__body__list__items"><span>20%</span></li>
                                                <li class="selector__body__list__items"><span>30%</span></li>
                                                <li class="selector__body__list__items"><span>40%</span></li>
                                                <li class="selector__body__list__items"><span>50%</span></li>
                                                <li class="selector__body__list__items"><span>Повече от 50%</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div id="home__main__section--second">
                                <div class="col-12">
                                    <div class="selector" style="position: absolute; z-index: 11; left: 0; width: 100%">
                                        <div class="selector__home" id="select__event--purpose">
                                            <span
                                                class="select--span"
                                                id="selector__span--purpose"
                                                style="color: rgb(105, 102, 108); opacity: 0.52"
                                            >
                                                Срок на договора
                                            </span>
                                        </div>
                                        <div class="selector__body" id="selector__id--purpose">
                                            <ul class="selector__body__list" style="position: relative; z-index: 10">
                                                <li class="selector__body__list__items"><span>1 година</span></li>
                                                <li class="selector__body__list__items"><span>2 години</span></li>
                                                <li class="selector__body__list__items"><span>3 години</span></li>
                                                <li class="selector__body__list__items"><span>4 години</span></li>
                                                <li class="selector__body__list__items"><span>5 години</span></li>
                                                <li class="selector__body__list__items"><span>5+ години</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5rem">
                        <div class="col-12 col-lg-6">
                            <div class="custom-numerator">
                                <input type="text" placeholder="Лихвен процент" />
                                <div class="custom-numerator--buttons">
                                    <img
                                        class="custom-numerator--buttons--up"
                                        src="../../assets/images/arrow_bottom.svg"
                                        alt="Arrow"
                                        style="transform: rotate(180deg)"
                                        width="20"
                                        height="10"
                                    />
                                    <img
                                        class="custom-numerator--buttons--down"
                                        src="../../assets/images/arrow_bottom.svg"
                                        alt="Arrow"
                                        width="20"
                                        height="10"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div id="home__main__section--second">
                                <div class="col-12">
                                    <div class="selector" style="position: absolute; z-index: 10; left: 0; width: 100%">
                                        <div class="selector__home" id="select__event--type">
                                            <span
                                                class="select--span"
                                                id="selector__span--type"
                                                style="color: rgb(105, 102, 108); opacity: 0.52"
                                            >
                                                Остатъчна стойност в %
                                            </span>
                                        </div>
                                        <div class="selector__body" id="selector__id--type">
                                            <ul class="selector__body__list">
                                                <li class="selector__body__list__items"><span>10%</span></li>
                                                <li class="selector__body__list__items"><span>20%</span></li>
                                                <li class="selector__body__list__items"><span>30%</span></li>
                                                <li class="selector__body__list__items"><span>40%</span></li>
                                                <li class="selector__body__list__items"><span>50%</span></li>
                                                <li class="selector__body__list__items"><span>Повече от 50%</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row calculator--calc">
                        <div class="col-12">
                            <a href="#" class="activity-details__main__form__main--button">Изпрати</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="register-first__main__info register-second__main__info calculator__main__table">
        <table>
            <thead>
                <tr style="position: relative">
                    <th class="num">№</th>
                    <th>Падежна дата</th>
                    <th>Дни в месеца</th>
                    <th>Остатък</th>
                    <th>Главница</th>
                    <th>Лихва</th>
                    <th>Обща вноска</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="num">1</td>
                    <td>05.11.2020</td>
                    <td>30</td>
                    <td>455555.00</td>
                    <td>37962.92</td>
                    <td>1961.42</td>
                    <td>39924.34</td>
                </tr>
                <tr class="num">
                    <td>2</td>
                    <td>05.12.2020</td>
                    <td>31</td>
                    <td>417592.08</td>
                    <td>37962.92</td>
                    <td>1739.97</td>
                    <td>39702.89</td>
                </tr>
                <tr>
                    <td class="num">3</td>
                    <td>05.01.2021</td>
                    <td>31</td>
                    <td>379629.17</td>
                    <td>37962.92</td>
                    <td>1634.51</td>
                    <td>39597.43</td>
                </tr>
                <tr>
                    <td class="num">4</td>
                    <td>05.02.2021</td>
                    <td>28</td>
                    <td>341666.25</td>
                    <td>37962.92</td>
                    <td>1471.06</td>
                    <td>39433.98</td>
                </tr>
                <tr>
                    <td class="num">5</td>
                    <td>05.03.2021</td>
                    <td>31</td>
                    <td>303703.33</td>
                    <td>37962.92</td>
                    <td>1181.07</td>
                    <td>39143.99</td>
                </tr>
                <tr>
                    <td class="num">6</td>
                    <td>05.04.2021</td>
                    <td>30</td>
                    <td>265740.42</td>
                    <td>37962.92</td>
                    <td>1144.16</td>
                    <td>39107.08</td>
                </tr>
                <tr>
                    <td class="num">7</td>
                    <td>05.05.2021</td>
                    <td>31</td>
                    <td>227777.50</td>
                    <td>37962.92</td>
                    <td>949.07</td>
                    <td>38911.99</td>
                </tr>
                <tr>
                    <td class="num">8</td>
                    <td>05.06.2021</td>
                    <td>30</td>
                    <td>189814.58</td>
                    <td>37962.92</td>
                    <td>817.26</td>
                    <td>38780.18</td>
                </tr>
                <tr>
                    <td class="num">9</td>
                    <td>05.07.2021</td>
                    <td>31</td>
                    <td>151851.67</td>
                    <td>37962.92</td>
                    <td>632.72</td>
                    <td>38595.64</td>
                </tr>
                <tr>
                    <td class="num">10</td>
                    <td>05.08.2021</td>
                    <td>31</td>
                    <td>113888.75</td>
                    <td>37962.92</td>
                    <td>490.35</td>
                    <td>38453.27</td>
                </tr>
                <tr>
                    <td class="num">11</td>
                    <td>05.09.2021</td>
                    <td>30</td>
                    <td>75925.83</td>
                    <td>37962.92</td>
                    <td>326.90</td>
                    <td>38121.10</td>
                </tr>
                <tr>
                    <td class="num">12</td>
                    <td>05.10.2021</td>
                    <td>31</td>
                    <td>37962.92</td>
                    <td>37962.92</td>
                    <td>158.18</td>
                    <td>38121.10</td>
                </tr>
                <tr>
                    <td colspan="4" class="final">Общо</td>
                    <td>10000.00</td>
                    <td>274.54</td>
                    <td>10274.54</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
