<div class="news-details__main row">
    <div class="home__main__section--first news-list__main col-12 col-md-8">
        <div class="home__main__section--first__info
            credit-form__main--first">
            <div
                class="home__main__section--first__info--text
                news-list__main--first-section--header
                news-details__main--header">
                <h2>
                    Кандидатстване за кредит
                </h2>
                <p>И-мейл за сигнали свързани с противодействието на изпирането
                    на пари: <a href="mailto:AML@bdbank.bg">AML@bdbank.bg</a>
                    Телeфон за бизнес кредити: <a href="tel:070011227">0700
                        11 227</a></p>
            </div>
        </div>
    </div>
    <div class="news-list__main--first-section--breadcrumb
        news-details__main--breadcrumb col-12 col-md-4">
        <div class="news-list__main--first-section--breadcrumb--old">
            <span>
                <a href="index.html">Начало</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow"
                    />
            </span>
        </div>
        <div class="news-list__main--first-section--breadcrumb--active">
            <span><a href="activity-list.html">Кандидатстване за кредит</a></span>
        </div>
    </div>
</div>
<div class="activity-details__main__form__main credit-form__main__form">
    <form class="activity-details__main__form__main__inner
        credit-form__main__form__inner">
        <div class="credit-form__main__form__inner__steps">
            <div class="credit-form__main__form__inner__steps--headers">
                <h3>Основни данни за фирмата – кредитоискател</h3>
                <span>01</span>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <input type="text" placeholder="Наименование *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text"
                        placeholder="Булстат/ЕИК *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="credit-form__main__form__inner__steps">
            <div class="credit-form__main__form__inner__steps--headers">
                <h3>Собственици</h3>
                <span>02</span>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <input type="text" placeholder="Имена *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text"
                        placeholder="Дялов процент *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
            </div>
            <div class="row form--hidden">
                <div class="col-12 col-md-6">
                    <input type="text" placeholder="Имена *" required >
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text"
                        placeholder="Дялов процент *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
            </div>
            <div class="row credit-form--buttons">
                <div class="col-12">
                    <button class="credit-form__main--button--add add"><img
                            src="../../assets/images/add-button.svg"
                            alt="Add button">Добави нов собственик</button>
                </div>
                <div class="col-12">
                    <button class="credit-form__main--button--add rem"><img
                            src="../../assets/images/remove-button.svg"
                            alt="Remove button">Премахни собственик</button>
                </div>
            </div>
        </div>
        <div class="credit-form__main__form__inner__steps">
            <div class="credit-form__main__form__inner__steps--headers">
                <h3>Лице за контакт във фирмата</h3>
                <span>03</span>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <input type="text" placeholder="Имена*" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text"
                        placeholder="Длъжност *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <input type="tel" placeholder="Телефон *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <input type="email"
                        placeholder="И-мейл *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="credit-form__main__form__inner__steps">
            <div class="credit-form__main__form__inner__steps--headers">
                <h3>Данни за искания кредит</h3>
                <span>04</span>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <input type="text" placeholder="Сума на кредита *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div id="home__main__section--second">
                        <div class="col-12">
                            <div class="selector" style="position: absolute;
                                z-index: 10;left:0;width:100%">
                                <div class="selector__home" id="select__event">
                                    <span class="select--span"
                                        id="selector__span--currency"
                                        style="color: rgb(105, 102, 108);
                                        opacity: 0.52;">Валута*</span>
                                </div>
                                <div class="selector__body" id="selector__id">
                                    <ul class="selector__body__list">
                                        <li class="selector__body__list__items"><span>
                                                Евро</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Левове</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Долари</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Йоани</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Паунди</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Турска лира</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div
                        id="home__main__section--second">
                        <div class="col-12">
                            <div class="selector" style="position: absolute;
                                z-index: 9;left:0;width:100%">
                                <div class="selector__home"
                                    id="select__event--time">
                                    <span class="select--span"
                                        id="selector__span--time">Срок на
                                        кредита*</span>
                                </div>
                                <div class="selector__body"
                                    id="selector__id--time">
                                    <ul class="selector__body__list"
                                        id="selector__body__list--time">
                                        <li class="selector__body__list__items"><span>
                                                1 година</span></li>
                                        <li class="selector__body__list__items"><span>
                                                2 години</span></li>
                                        <li class="selector__body__list__items"><span>
                                                3 години</span></li>
                                        <li class="selector__body__list__items"><span>
                                                4 години</span></li>
                                        <li class="selector__body__list__items"><span>
                                                5 години</span></li>
                                        <li class="selector__body__list__items"><span>
                                                6 години</span></li>
                                        <li class="selector__body__list__items"><span>
                                                6+ години</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div
                        id="home__main__section--second">
                        <div class="col-12">
                            <div class="selector" style="position: absolute;
                                z-index: 9;left:0;width:100%">
                                <div class="selector__home"
                                    id="select__event--purpose">
                                    <span class="select--span"
                                        id="selector__span--purpose">Цел на
                                        кредита*</span>
                                </div>
                                <div class="selector__body"
                                    id="selector__id--purpose">
                                    <ul class="selector__body__list">
                                        <li class="selector__body__list__items"><span>
                                                Бързи пари</span></li>
                                        <li class="selector__body__list__items"><span>
                                                За жилище</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Лизинг за кола</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Спешно пътуване</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Друго</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin-top: 5rem;">
                    <input type="text" placeholder="Предназначение на средствата
                        *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="credit-form__main__form__inner__steps">
            <div class="credit-form__main__form__inner__steps--headers">
                <h3>Обезпечение</h3>
                <span>05</span>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div id="home__main__section--second" class="">
                        <div class="col-12">
                            <div class="selector" style="position: absolute;
                                z-index: 10;left:0;width:100%">
                                <div class="selector__home"
                                    id="select__event--type">
                                    <span class="select--span"
                                        id="selector__span--type" style="color:
                                        rgb(105, 102, 108);
                                        opacity: 0.52;">Вид*</span>
                                </div>
                                <div class="selector__body"
                                    id="selector__id--type">
                                    <ul class="selector__body__list">
                                        <li class="selector__body__list__items"><span>
                                                Недвижим имот</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Оборудване</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Стоково-материални запаси</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Фермерска продукция</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Ценни книжа - акции и облигации</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Други</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4
                    credit-form__main--more-space">

                    <input type="text"
                        placeholder="Кратко описание *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-4
                    credit-form__main--more-space second">
                    <input type="text"
                        placeholder="Предполагаема стойност (лева) *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
            </div>
            <div class="row form--hidden" id="type--third">
                <div class="col-12 col-lg-4">
                    <div id="home__main__section--second" class="">
                        <div class="col-12">
                            <div class="selector" style="position: absolute;
                                z-index: 10;left:0;width:100%">
                                <div class="selector__home"
                                    id="select__event--type--third">
                                    <span class="select--span"
                                        id="selector__span--type--third"
                                        style="color: rgb(105, 102, 108);
                                        opacity: 0.52;">Вид*</span>
                                </div>
                                <div class="selector__body"
                                    id="selector__id--type--third">
                                    <ul class="selector__body__list">
                                        <li class="selector__body__list__items"><span>
                                                Недвижим имот</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Оборудване</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Стоково-материални запаси</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Фермерска продукция</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Ценни книжа - акции и облигации</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Други</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4
                    credit-form__main--more-space">

                    <input type="text"
                        placeholder="Кратко описание *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-4
                    credit-form__main--more-space second">
                    <input type="text"
                        placeholder="Предполагаема стойност (лева) *" required>
                    <div class="credit-form__main__form__inner__steps--err">
                        <img src="../../assets/images/input-error-icon.svg"
                            alt="input-error-icon" width="25.084"
                            height="25.082">
                        <span>Полетата отбелязани с *
                            са задължителни!</span>
                    </div>
                </div>
            </div>
            <div class="row credit-form--buttons">
                <div class="col-12">
                    <button class="credit-form__main--button--add add"><img
                            src="../../assets/images/add-button.svg"
                            alt="Add button">Добави новo обезпечение</button>
                </div>
                <div class="col-12">
                    <button class="credit-form__main--button--add rem"><img
                            src="../../assets/images/remove-button.svg"
                            alt="Remove button">Премахни обезпечение</button>
                </div>
            </div>
        </div>
        <div class="credit-form__main__form__inner__steps">
            <div class="credit-form__main__form__inner__steps--headers">
                <h3>Задължения към финансови институции</h3>
                <span>06</span>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div id="home__main__section--second" class="">
                        <div class="col-12">
                            <div class="selector" style="position: absolute;
                                z-index: 10;left:0;width:100%">
                                <div class="selector__home"
                                    id="select__event--type--second">
                                    <span class="select--span"
                                        id="selector__span--type--second"
                                        style="color: rgb(105, 102, 108);
                                        opacity: 0.52;">Вид*</span>
                                </div>
                                <div class="selector__body"
                                    id="selector__id--type--second">
                                    <ul class="selector__body__list">
                                        <li class="selector__body__list__items"><span>
                                                Tърговска банка</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Лизинг</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Друго</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4
                    credit-form__main--more-space">

                    <input type="text"
                        placeholder="Остатък за погасяване в BGN">

                </div>
                <div class="col-12 col-md-6 col-lg-4
                    credit-form__main--more-space second">

                    <input type="text"
                        placeholder="Формирано просрочие в BGN">

                </div>
            </div>
            <div class="row form--hidden">
                <div class="col-12 col-lg-4">
                    <div id="home__main__section--third" class="">
                        <div class="col-12">
                            <div class="selector" style="position: absolute;
                                z-index: 9;left:0;width:100%">
                                <div class="selector__home"
                                    id="select__event--type--fourth">
                                    <span class="select--span"
                                        id="selector__span--type--fourth"
                                        style="color: rgb(105, 102, 108);
                                        opacity: 0.52;">Вид*</span>
                                </div>
                                <div class="selector__body"
                                    id="selector__id--type--fourth">
                                    <ul class="selector__body__list">
                                        <li class="selector__body__list__items"><span>
                                                Tърговска банка</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Лизинг</span></li>
                                        <li class="selector__body__list__items"><span>
                                                Друго</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4
                    credit-form__main--more-space">

                    <input type="text"
                        placeholder="Остатък за погасяване в BGN">

                </div>
                <div class="col-12 col-md-6 col-lg-4
                    credit-form__main--more-space second">

                    <input type="text"
                        placeholder="Формирано просрочие в BGN">

                </div>
            </div>
            <div class="row credit-form--buttons">
                <div class="col-12">
                    <button class="credit-form__main--button--add add"><img
                            src="../../assets/images/add-button.svg"
                            alt="Add button">Добави новo задължение</button>
                </div>
                <div class="col-12">
                    <button class="credit-form__main--button--add rem"><img
                            src="../../assets/images/remove-button.svg"
                            alt="Remove button">Премахни задължение</button>
                </div>
            </div>
        </div>
        <div class="credit-form__main__form__inner__steps">
            <div class="credit-form__main__form__inner__steps--headers">
                <h3>Информация , свързана с лични данни</h3>
                <span>07</span>
            </div>
            <div class="row">
                <div class="col-12 activity-details__main__form__main--check
                    credit-form__main__form--check">
                    <input type="checkbox" name=""
                        id="credit-form__check--1">
                    <label for="credit-form__check--1">С настоящата форма давам
                        съгласието си фирмата кредитоискател и всички свързани
                        лица да бъдат проверени в Централния кредитен регистър
                        на БНБ. *</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12 activity-details__main__form__main--check
                    credit-form__main__form--check">
                    <input type="checkbox" name=""
                        id="credit-form__check--2">
                    <label for="credit-form__check--2">Запознат/а съм с
                        предоставената ми Политика за поверителност на
                        „Българска банка за развитие“ относно обработваните
                        лични данни съгласно Закона за защита на личните данни и
                        Регламент (ЕС) 2016/679 на Европейския парламент и на
                        Съвета от 27 април 2016 година. Запознат/а съм с
                        доброволния характер на предоставянето на данните и съм
                        информиран/а, че истинността на данните е отговорност на
                        лицето, което ги е попълнило. *:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit"
                        class="activity-details__main__form__main--button
                        credit-form__main--submit">Изпрати</button>
                </div>
            </div>

        </div>
    </form>
</div>
