<header class="header--big header__home__image gf__header__image">
    <div class="header--big__body">
        <h2>Гарантираме подкрепа на Вашият бизнес</h2>
        <p>
            Националният гаранционен фонд (НГФ) е създаден през 2008 г. Като част от групата на Българската банка за
            развитие. Фондът издава гаранции, допълващи обезпеченията, изисквани от търговските банки при отпускането на
            кредити за българския бизнес.
        </p>
        <a href="#" class="header--big__body--button gf__header--button">Онлайн банкиране</a>
    </div>
</header>
