<div class="home__main__section--fourth row g-f__ft-s">
    <div class="col-12 col-xl-6">
        <div class="home__main__section--fourth__left g-f__ft-s__left">
            <span class="inner">
                <img src="../../assets/images/gf-ft-s.svg" alt="Beauty house" class="main-photo"/>
                <span class="play-btn">
                    <img src="../../assets/images/noun_play_3408904.svg" alt="Play img" width="20" height="20" />
                </span>
            </span>
        </div>
    </div>
    <div class="col-12 col-xl-6">
        <div class="home__main__section--fourth__right">
            <div class="home__main__section--fourth__right--text home__main__section--second__left--text">
                <h2>Национална програма за Енергийна ефективност</h2>
                <p>
                    Програмата предвижда предоставянето на финансова помощ на собствениците на частни жилищни сгради с
                    не по-малко от 36 апартамента, построени по индустриален способ. Програмата спомага за намаляване на
                    разходите за електроенергия на домакинствата, както и за удължаване на жизнения цикъл на сградите.
                </p>
            </div>
            <div class="home__main__section--fourth__right--button">
                <a href="#" class="header--big__body--button gf__header--button">Виж още</a>
            </div>
        </div>
    </div>
</div>
