<section class="home__main__section--third gf__main__t-s">
    <div class="home__main__section--third__header">
        <h3>Какво постигнахме за 12 години</h3>
        <p>
            За да се развива един бизнес , са необходими инвестиции и иновации, за това БГФ се старае да подкрепя все
            повече предприятя. Когато Вие успявате, успяваме и ние!
        </p>
    </div>
    <div class="home__main__section--third__main">
        <ul class="home__main__section--third__main__list">
            <li class="home__main__section--third__main__list--item">
                <div class="home__main__section--third__main__list--item__inner">
                    <h4>10</h4>
                    <h5>Успешни проекта</h5>
                </div>
            </li>
            <li class="home__main__section--third__main__list--item">
                <div class="home__main__section--third__main__list--item__inner">
                    <h4>18</h4>
                    <h5>Банки-партньори на НГФ</h5>
                </div>
            </li>
            <li class="home__main__section--third__main__list--item">
                <div class="home__main__section--third__main__list--item__inner">
                    <h4>2 523</h4>
                    <h5>Милиона лева в гарантирани заеми</h5>
                </div>
            </li>
            <li class="home__main__section--third__main__list--item">
                <div class="home__main__section--third__main__list--item__inner">
                    <h4>10 716</h4>
                    <h5>Отпуснатите кредити с гаранция</h5>
                </div>
            </li>
        </ul>
    </div>
</section>
