<footer class="footer gf__footer">
    <div class="footer__inner">
        <div class="footer__inner__main row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="footer__inner__list">
                    <div class="footer__inner__list--header">
                        <h4>Кои сме ние</h4>
                    </div>
                    <ul class="footer__inner__list--main">
                        <li class="footer__inner__list--main--items"><a href="#">Публична информация</a></li>
                        <li class="footer__inner__list--main--items"><a href="#">Обща информация</a></li>
                        <li class="footer__inner__list--main--items"><a href="contacts.html">Контакти</a></li>
                        <li class="footer__inner__list--main--items"><a href="#">Успешни проекти</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="footer__inner__list--header">
                    <h4>Гаранционни схеми</h4>
                </div>
                <ul class="footer__inner__list--main">
                    <li class="footer__inner__list--main--items"><a href="#">НГФ 2019</a></li>
                    <li class="footer__inner__list--main--items"><a href="#">Гаранционна схема COSME</a></li>
                    <li class="footer__inner__list--main--items"><a href="#">Гаранционна схема с МЗХ</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="footer__inner__list--header">
                    <h4>Полезно</h4>
                </div>
                <ul class="footer__inner__list--main">
                    <li class="footer__inner__list--main--items"><a href="#">Пoлитиĸa зa пoвepитeлнocт</a></li>
                    <li class="footer__inner__list--main--items"><a href="#">Политика за употреба на бисквитки</a></li>
                  
                    <li class="footer__inner__list--main--items"><a href="#">Други полезни връзки</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="footer__inner__links">
                    <div class="footer__inner__links--top">
                        <img src="../../assets/images/gf__footer-logo.svg" alt="GF Logo" />
                    </div>
                    <div class="footer__inner__links--bottom">
                        <ul class="footer__inner__links--bottom__list">
                            <li><img src="../../assets/images/gf-map.svg" alt="Maps" /></li>
                            <li><img src="../../assets/images/gf-phone.svg" alt="Phone logo" /></li>
                            <li><img src="../../assets/images/gf-fax.svg" alt="Fax logo" /></li>
                            <li><img src="../../assets/images/gf-mail.svg" alt="Mail logo" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__outer row justify-content-lg-between flex-column flex-lg-row">
        <div class="footer__outer--copyright"><span>© 2020 - Българска банка за развитие</span></div>
        <div class="footer__outer--author">
            <span>Дизайн и програмиране:</span>
            <img src="../../assets/images/pytek_logo.svg" alt="Pytek Logo" />
        </div>
    </div>
</footer>
