<div class="home__main__section--second row" id="home__main__section--second">
    <div class="home__main__section--second__left col-12 col-lg-7 col-xl-6">
        <!-- <div class="home__main__section--second__left--inner"> -->
        <div class="home__main__section--second__left--text">
            <h2>От какво се нуждаете?</h2>
            <p>
                Предимствата на програмите на Националния гаранционен фонд са облекчени изисквания за обезпечения и
                по-ниски лихви по кредитите. Гаранцията покрива до 50% от кредитите, отпускани от търговските банки.
            </p>
        </div>
        <div class="home__main__section--second__left--selection">
            <div class="selector">
                <div class="selector__home" id="select__event--time">
                    <span id="selector__span--time">Изберете гаранционна схема</span>
                </div>
                <div class="selector__body" id="selector__id--time">
                    <ul class="selector__body__list">
                        <li class="selector__body__list__items"><span>Гаранционна схема с МЗХ</span></li>
                        <li class="selector__body__list__items"><span>Гаранционна схема COSME</span></li>
                        <li class="selector__body__list__items"><span>НГФ 2019</span></li>
                    </ul>
                </div>
            </div>
            <div class="home__main__section--second__left--selection--button">
                <a href="#" class="header--big__body--button gf__header--button">Намери</a>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="home__main__section--second__right col-12 col-lg-5 col-xl-6">
        <div class="home__main__section--second__right--inner">
            <img src="../../assets/images/gf-s-s.svg" alt="Beauty photo" />
        </div>
    </div>
</div>
