<header class="header--big header__home__image">
    <div class="header--big__body">
        <h2>Възможностите се случват, когато инвестираме в тях.</h2>
        <p>
            Ние сме партньори на Вашия бизнес. Специализираме се в работа със стартиращи предприятия и иновации,
            износители на готова продукция, преработвателна промишленост, Минерални ресурси и природни богатства,
            земеделие и туризъм.
        </p>
        <a href="#" class="header--big__body--button">Онлайн банкиране</a>
    </div>
</header>
