<div class="home__main__section--first">
    <div class="home__main__section--first__info">
        <div class="home__main__section--first__info--text">
            <h2>Кои сме ние</h2>
            <p>
                Българската банка за развитие (ББР) е финансова институция, 99,9% собственост на българската държава.
                Създадена е през 1999 г. Като Насърчителна банка, като основен фокус в дейността й е подкрепата за
                малките и средни предприятия.
            </p>
        </div>
    </div>
    <div class="home__main__section--first__cards">
        <div class="home__main__section--first__cards--card">
            <div class="home__main__section--first__cards--card__header">
                <div class="home__main__section--first__cards--card__header__inner">
                    <img src="../../assets/images/graph.svg" alt="Graphics logo" />
                </div>
            </div>
            <div class="home__main__section--first__cards--card__body">
                <h4>Предназначение</h4>
                <p>
                    Предназначението на Българската банка за развитие (ББР) е финансиране и професионално консултиране с
                    цел подпомагане на индустриалния растеж на българската икономика.
                </p>
            </div>
        </div>
        <div class="home__main__section--first__cards--card">
            <div class="home__main__section--first__cards--card__header">
                <div class="home__main__section--first__cards--card__header__inner">
                    <img src="../../assets/images/goal.svg" alt="Goal logo" />
                </div>
            </div>
            <div class="home__main__section--first__cards--card__body">
                <h4>Нашата мисия</h4>
                <p>
                    Нашата мисия и специална функция е насърчаване растежа на експортно ориентирани фирми, подпомагане
                    на малки и средни предприятия, както и осигуряване устойчиво развитие.
                </p>
            </div>
        </div>
        <div class="home__main__section--first__cards--card">
            <div class="home__main__section--first__cards--card__header">
                <div class="home__main__section--first__cards--card__header__inner">
                    <img src="../../assets/images/noun_Goal Achieve_1846419.svg" alt="Goal achieve logo" />
                </div>
            </div>
            <div class="home__main__section--first__cards--card__body">
                <h4>Постигнати резултати</h4>
                <p>
                    ББР има множество постигнати резултати. Банката е с най-висок кредитен рейтинг: “BBB” с положителна
                    перспектива от международната рейтингова агенция Fitch.
                </p>
            </div>
        </div>
    </div>
</div>
