<div class="home__main__section--fourth row">
    <div class="col-12 col-xl-6">
        <div class="home__main__section--fourth__left">
            <img src="../../assets/images/home_main_fourth_section.png" alt="Beauty house" />
        </div>
    </div>
    <div class="col-12 col-xl-6">
        <div class="home__main__section--fourth__right">
            <div class="home__main__section--fourth__right--text home__main__section--second__left--text">
                <h2>Национална програма за Енергийна ефективност</h2>
                <p>
                    Програмата предвижда предоставянето на финансова помощ на собствениците на частни жилищни сгради с
                    не по-малко от 36 апартамента, построени по индустриален способ. Програмата спомага за намаляване на
                    разходите за електроенергия на домакинствата, както и за удължаване на жизнения цикъл на сградите.
                </p>
            </div>
            <div class="home__main__section--fourth__right--button">
                <a href="#" class="header--big__body--button">Виж още</a>
            </div>
        </div>
    </div>
</div>
