<div class="home__main__section--news">
    <div class="home__main__section--news__header">
        <h2>Новини</h2>
        <p>
            Научавайте бързо и удобно за последните новини и инициативи, свързани с Българската банка за развитие.
            <span>
                <a href="news.html">Виж всички новини</a>
                <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow" />
            </span>
        </p>
    </div>
    <div class="home__main__section--news__main row">
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/home_news_card-1.png" alt="Card photo" class="card-img-top" />
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">Ред за отсрочване на задължения към банковите институции</h5>
                    <p class="card-text">
                        Групата на Българската банка за развитие е готова да подкрепи своите клиенти, засегнати от
                        кризата с COVID-19, като им предложи…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow" />
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/home_news_card-2.png" alt="Card photo" class="card-img-top" />
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">Близо 1 500 души седмично получават одобрение за безлихвен кредит</h5>
                    <p class="card-text">
                        Близо 1 500 души седмично получават одобрение за безлихвени кредити по програмата за подпомагане…
                        
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow" />
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4 mx-md-auto mt-md-3 mx-xl-0 mt-xl-0">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/home_news_card-3.png" alt="Card photo" class="card-img-top" />
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">
                        Търговските банки отпуснаха над 28 млн. лв. безлихвени кредити за физически лица
                    </h5>
                    <p class="card-text">
                        За малко повече от месец от старта на гаранционната програма на ББР за предоставяне на
                        безлихвени кредити…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow" />
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
    </div>
</div>
