<section class="home__main__section--third">
    <div class="home__main__section--third__header">
        <h3>Защо да изберете нас?</h3>
        <p>
            Българската банка за развитие е с най-високия възможен кредитен рейтинг за финансова институция в България -
            “BBB” с положителна перспектива от международната рейтингова агенция Fitch. Стабилната перспектива показва
            наличието на баланс в рисковете, свързани с оценяването на кредитния рейтинг.
        </p>
    </div>
    <div class="home__main__section--third__main">
        <ul class="home__main__section--third__main__list">
            <li class="home__main__section--third__main__list--item">
                <div class="home__main__section--third__main__list--item__inner">
                    <h4>563</h4>
                    <h5>Успешни проекта</h5>
                </div>
            </li>
            <li class="home__main__section--third__main__list--item">
                <div class="home__main__section--third__main__list--item__inner">
                    <h4>30</h4>
                    <h5>Международни партньори</h5>
                </div>
            </li>
            <li class="home__main__section--third__main__list--item">
                <div class="home__main__section--third__main__list--item__inner">
                    <h4>200</h4>
                    <h5>Милиона инвестирани лева</h5>
                </div>
            </li>
            <li class="home__main__section--third__main__list--item">
                <div class="home__main__section--third__main__list--item__inner">
                    <h4>5</h4>
                    <h5>Дъщерни дружества</h5>
                </div>
            </li>
        </ul>
    </div>
</section>
