<div class="home__main__section--second row" id="home__main__section--second">
    <div class="home__main__section--second__left col-12 col-lg-7 col-xl-6">
        <!-- <div class="home__main__section--second__left--inner"> -->
        <div class="home__main__section--second__left--text">
            <h2>От какво се нуждаете?</h2>
            <p>
                Възполвайте се от актуалните възможности за финансиране на вашия малък или среден бизнес. Изберете
                програмата,а ние ще Ви насочим към съответното дружество.
            </p>
        </div>
        <div class="home__main__section--second__left--selection">
            <div class="selector">
                <div class="selector__home" id="select__event">
                    <span id="selector__span--currency">Изберете услуга</span>
                </div>
                <div class="selector__body" id="selector__id">
                    <ul class="selector__body__list">
                        <li class="selector__body__list__items"><span>Подкрепа за пострадали от Covid-19</span></li>
                        <li class="selector__body__list__items"><span>Дялово финансиране</span></li>
                        <li class="selector__body__list__items"><span>Стартъп и микрофинансиране</span></li>
                        <li class="selector__body__list__items"><span>Проектно финансиране</span></li>
                        <li class="selector__body__list__items"><span>Оборотно финансиране</span></li>
                        <li class="selector__body__list__items"><span>Инвестиционно финансиране</span></li>
                        <li class="selector__body__list__items"><span>Експортно финансиране</span></li>
                        <li class="selector__body__list__items"><span>Лизинг</span></li>
                        <li class="selector__body__list__items"><span>Банкови гаранции</span></li>
                    </ul>
                </div>
            </div>
            <div class="home__main__section--second__left--selection--button">
                <a href="#" class="header--big__body--button">Намери</a>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="home__main__section--second__right col-12 col-lg-5 col-xl-6">
        <div class="home__main__section--second__right--inner">
            <img src="../../assets/images/home_second_section-photo.svg" alt="Beauty photo">
        </div>
    </div>
</div>
