<nav class="nav--outer d-none d-xl-block">
    <div class="navigation d-none d-xl-flex">
        <div class="navigation__left">
            <a href="index.html">
                <img src="../../assets/images/bbr_logo.svg" alt="BBR logo" width="250" height="100" />
            </a>
        </div>
        <div class="navigation__right">
            <ul class="navigation__right__list">
                <li class="navigation__right__list__items">
                    <a href="index.html">Начало</a>
                    <span class="items__line"></span>
                </li>
                <li class="navigation__right__list__items">
                    <a href="#">За нас</a>
                    <span class="items__line"></span>
                </li>
                <li class="navigation__right__list__items" id="navigation__right__list__items--product">
                    <a href="#">Продукти и услуги</a>
                    <span class="items__line"></span>
                </li>
                <li class="navigation__right__list__items">
                    <a href="#">Новини</a>
                    <span class="items__line"></span>
                </li>
                <li class="navigation__right__list__items">
                    <a href="#">Контакти</a>
                    <span class="items__line"></span>
                </li>
                <li class="navigation__right__list__items navigation__right__list__items--logo"
                    id="navigation__list--search-logo">
                    <img src="../../assets/images/search-logo.svg" alt="Search logo"
                        id="navigation__list--search-logo--img" />
                    <img src="../../assets/images/search-icon-blue.svg" alt="Search logo"
                        id="navigation__list--search-logo--img--blue" class="hidden" />
                </li>
                <li class="navigation__right__list__items navigation__right__list__items--logo">
                    <img src="../../assets/images/bg-flag.png" alt="Bg flag" />
                </li>
                <li class="navigation__right__list__items--button">
                    <a href="#">Онлайн банкиране</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav--search-bar hidden">
        <form>
            <button class="nav--search-bar--button">
                <img src="../../assets/images/search-logo.svg" alt="Search logo" />
            </button>
            <input type="search" name="search" id="nav--search--input" placeholder="Търсене…" />
            <span class="nav--search-bar--close" id="nav--search-bar--close">
                <img src="../../assets/images/close-icon.svg" alt="Close button" />
            </span>
        </form>
    </div>
    <div class="nav__dropdown--products" id="nav__dropdown--products">
        <ul class="nav__dropdown--products__list">
            <li id="nav__dropdown--products__list--first">
                Продукти
                <span class="nav__dropdown--products__list--first--buttons">
                    <img src="../../assets/images/right-arrow.svg" />
                    <img src="../../assets/images/blue-right-arrow.svg" class="hidden" />
                </span>
            </li>
            <li>
                Енергийна ефективност
                <span><img src="../../assets/images/right-arrow.svg" /></span>
            </li>
            <li>
                Продажба на активи
                <span><img src="../../assets/images/right-arrow.svg" /></span>
            </li>
        </ul>
        <div id="nav__dropdown--products__list--product" class="hidden">
            <div class="nav__dropdown--products__list--product--first">
                <h5>Българска банка за развитие</h5>
                <ul class="nav__dropdown--products__list--product--first__list">
                    <li>Експортно финансиране</li>
                    <li>Он-лендинг финансиране</li>
                    <li>Оборотно финансиране</li>
                    <li>Инвестиционно финансиране</li>
                    <li>Проектно финансиране</li>
                    <li>Проектно финансиране</li>
                    <li>Финансова подкрепа за пострадали от COVID-19</li>
                </ul>
            </div>
            <div class="nav__dropdown--products__list--product--second">
                <h5>Национален гаранционен фонд</h5>
                <ul class="nav__dropdown--products__list--product--second__list">
                    <li>НГФ 2019</li>
                    <li>Гаранционна схема COSME</li>
                    <li>Гаранционна схема с МЗХ</li>
                </ul>
            </div>
            <div class="nav__dropdown--products__list--product--third">
                <h5>Микрофинансираща институция Джобс</h5>
                <ul class="nav__dropdown--products__list--product--third__list">
                    <li>Кредити</li>
                    <li>Лизинг</li>
                </ul>
            </div>
            <div class="nav__dropdown--products__list--product--fourth">
                <h5>Фонд за капиталови инвестиции</h5>
                <ul class="nav__dropdown--products__list--product--fourth__list">
                    <li>Финансиране на МСФ</li>
                    <li>Финансиране на стартиращи предприемачи</li>
                    <li>Финансиране на социални предприятия</li>
                    <li>Финансиране на иновации</li>
                </ul>
            </div>
            <div class="nav__dropdown--products__list--product--fifth">
                <h5>ББР Факторинг</h5>
                <ul class="nav__dropdown--products__list--product--fifth__list">
                    <li>Факторинг на българския пазар</li>
                    <li>Факторинг за износители</li>
                </ul>
            </div>
            <div class="nav__dropdown--products__list--product--sixth">
                <h5>ББР Лизинг</h5>
                <ul class="nav__dropdown--products__list--product--sixth__list">
                    <li>Ускоряване на растежа</li>
                    <li>Условия за технологично обновление</li>
                    <li>Допълване на финансовите услуги</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<nav class="nav--mobile d-xl-none">
    <div class="nav--mobile__inner">
        <div class="nav--mobile__inner__left">
            <a href="index.html">
                <img src="../../assets/images/bbr_logo.svg" alt="BBR logo" width="200" height="80" />
            </a>
        </div>
        <div class="nav--mobile__inner__right">
            <ul class="nav--mobile__inner__right__list">
                <li class="nav--mobile__inner__right__list__items nav--mobile__inner__right__list__items--logo"
                    id="nav--mobile__inner__right__list--search">
                    <img src="../../assets/images/search-logo.svg" alt="Search logo"
                        id="nav--mobile__list--search-logo--img" />
                    <img src="../../assets/images/search-icon-blue.svg" alt="Search logo"
                        id="nav--mobile__list--search-logo--img--blue" class="hidden" />
                </li>
                <li class="nav--mobile__inner__right__list__items nav--mobile__list--menu" id="nav--mobile__list--menu">
                    <span></span>
                    <ul class="nav--mobile__list--menu__list hidden" id="nav--mobile__list--menu__list">
                        <li class="nav--mobile__list--menu__list__items 1 has-sub--right" id="nav-0-0-1">За нас</li>
                        <li class="nav--mobile__list--menu__list__items 1 has-sub--right" id="nav-0-1-1">
                            Продукти и услуги
                        </li>
                        <li class="nav--mobile__list--menu__list__items 1">Новини</li>
                        <li class="nav--mobile__list--menu__list__items 1 has-sub--right" id="nav-0-2-1">
                            Публична информация
                        </li>
                        <li class="nav--mobile__list--menu__list__items 1">Контакти</li>
                        <!--2-1-->
                        <li class="nav--mobile__list--menu__list__items 2-1 second-row--first has-sub--left"
                            id="nav-0-0-1--back">
                            За нас
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-1 second-row--first">Обща информация</li>
                        <li class="nav--mobile__list--menu__list__items 2-1 second-row--first">Рейтинг</li>
                        <li class="nav--mobile__list--menu__list__items 2-1 second-row--first has-sub--right"
                            id="nav-1-0-2">
                            Дъщерни дружества
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-1 second-row--first">
                            Международни партньори
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-1 second-row--first">Успешни проекти</li>
                        <li class="nav--mobile__list--menu__list__items 2-1 second-row--first has-sub--right"
                            id="nav-1-1-2">
                            Социална отговорност
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-1 second-row--first">Кариери</li>
                        <!-- 2.2 -->
                        <li class="nav--mobile__list--menu__list__items 2-2 second-row--second has-sub--left"
                            id="nav-0-1-1--back">
                            Продукти и услуги
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-2 second-row--second has-sub--right"
                            id="nav-1-2-2">
                            Продукти
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-2 second-row--second has-sub--right"
                            id="nav-1-3-2">
                            Услуги
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-2 second-row--second">
                            Документи за кандидатстване
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-2 second-row--second has-sub--right"
                            id="nav-1-4-2">
                            Енергийна ефективност
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-2 second-row--second has-sub--right"
                            id="nav-1-5-2">
                            Продажби на активи
                        </li>
                        <!-- 2.3 -->
                        <li class="nav--mobile__list--menu__list__items 2-3 second-row--third has-sub--left"
                            id="nav-0-2-1--back">
                            Публична информация
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-3 second-row--third">
                            Закон, стратегия, устав
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-3 second-row--third">
                            Общи условия и тарифа
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-3 second-row--third">Годишни отчети</li>
                        <li class="nav--mobile__list--menu__list__items 2-3 second-row--third">
                            Достъп до обществена информация
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-3 second-row--third">
                            Финансови инструменти
                        </li>
                        <li class="nav--mobile__list--menu__list__items 2-3 second-row--third">Вътрешна информация</li>
                        <li class="nav--mobile__list--menu__list__items 2-3 second-row--third">Облигационни емисии</li>
                        <!-- 3.1 -->
                        <li class="nav--mobile__list--menu__list__items 3-1 third-row--first has-sub--left"
                            id="nav-1-0-2--back">
                            Дъщерни дружества
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-1 third-row--first">
                            Национален гаранционен фонд
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-1 third-row--first">
                            Фонд за капиталови инвестиции
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-1 third-row--first">ББР Микрофинансиране</li>
                        <li class="nav--mobile__list--menu__list__items 3-1 third-row--first">
                            Фонд за капиталови инвестиции
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-1 third-row--first">ББР Факторинг</li>
                        <li class="nav--mobile__list--menu__list__items 3-1 third-row--first">ББР Лизинг</li>

                        <!-- 3.2 -->
                        <li class="nav--mobile__list--menu__list__items 3-2 third-row--second has-sub--left"
                            id="nav-1-1-2--back">
                            Социална отговорност
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-2 third-row--second">Образование и наука</li>
                        <li class="nav--mobile__list--menu__list__items 3-2 third-row--second">Култура и изкуство</li>
                        <li class="nav--mobile__list--menu__list__items 3-2 third-row--second">
                            Уязвими социални групи
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-2 third-row--second">Здравеопазване</li>

                        <!-- 3.3 -->

                        <li class="nav--mobile__list--menu__list__items 3-3 third-row--third has-sub--left"
                            id="nav-1-2-2--back">
                            Продукти
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-3 third-row--third has-sub--right"
                            id="nav-2-0-3">
                            Финансова подкрепа за пострадали от Covid
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-3 third-row--third has-sub--right"
                            id="nav-2-1-3">
                            Он-лендинг финансиране
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-3 third-row--third has-sub--right"
                            id="nav-2-2-3">
                            Експортно финансиране
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-3 third-row--third">Оборотно финансиране</li>
                        <li class="nav--mobile__list--menu__list__items 3-3 third-row--third">Проектно финансиране</li>
                        <li class="nav--mobile__list--menu__list__items 3-3 third-row--third">
                            Инвестиционно финансиране
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-3 third-row--third">Дялово финансиране</li>
                        <li class="nav--mobile__list--menu__list__items 3-3 third-row--third">
                            Микро и стартъп финансиране
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-3 third-row--third">Факторинг</li>
                        <li class="nav--mobile__list--menu__list__items 3-3 third-row--third">Лизинг</li>
                        <li class="nav--mobile__list--menu__list__items 3-3 third-row--third">Банкови гранции</li>

                        <!-- 3-4 -->

                        <li class="nav--mobile__list--menu__list__items 3-4 third-row--fourth has-sub--left"
                            id="nav-1-3-2--back">
                            Услуги
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-4 third-row--fourth">
                            Инвестиционно посредничество
                        </li>
                        <!-- 3-5 -->
                        <li class="nav--mobile__list--menu__list__items 3-5 third-row--fifth has-sub--left"
                            id="nav-1-4-2--back">
                            Енергийна ефективност
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-5 third-row--fifth">Обща информация</li>
                        <li class="nav--mobile__list--menu__list__items 3-5 third-row--fifth">Указания</li>
                        <li class="nav--mobile__list--menu__list__items 3-5 third-row--fifth has-sub--right"
                            id="nav-2-3-3">
                            Регистри
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-5 third-row--fifth">Новини</li>
                        <!-- 3.6 -->
                        <li class="nav--mobile__list--menu__list__items 3-6 third-row--sixth has-sub--left"
                            id="nav-1-5-2--back">
                            Продажби на активи
                        </li>
                        <li class="nav--mobile__list--menu__list__items 3-6 third-row--sixth">Превозни средства</li>
                        <li class="nav--mobile__list--menu__list__items 3-6 third-row--sixth">Машини и съоръжения</li>
                        <li class="nav--mobile__list--menu__list__items 3-6 third-row--sixth">Недвижии имоти</li>
                        <li class="nav--mobile__list--menu__list__items 3-6 third-row--sixth">Други активи</li>

                        <!--- 4-1 -->
                        <li class="nav--mobile__list--menu__list__items 4-1 fourth-row--first has-sub--left"
                            id="nav-2-0-3--back">
                            Финансова подкрепа за пострадали от Covid
                        </li>
                        <li class="nav--mobile__list--menu__list__items 4-1 fourth-row--first">
                            Антикризисна програма в подкрепа на бизнеса
                        </li>
                        <li class="nav--mobile__list--menu__list__items 4-1 fourth-row--first">
                            Безлихвени заеми за физически лица в неплатен отпуск и самоосигуряващи се
                        </li>
                        <!--- 4-2 -->
                        <li class="nav--mobile__list--menu__list__items 4-2 fourth-row--second has-sub--left"
                            id="nav-2-1-3--back">
                            Он-лендинг финансиране
                        </li>
                        <li class="nav--mobile__list--menu__list__items 4-2 fourth-row--second">Свободен ресурс</li>
                        <li class="nav--mobile__list--menu__list__items 4-2 fourth-row--second">Програма "БРОД"</li>
                        <li class="nav--mobile__list--menu__list__items 4-2 fourth-row--second">Програма "НАПРЕД"</li>
                        <li class="nav--mobile__list--menu__list__items 4-2 fourth-row--second">Програма "КОСМЕ+"</li>
                        <li class="nav--mobile__list--menu__list__items 4-2 fourth-row--second">
                            Програма "Лизинг Лайн"
                        </li>
                        <li class="nav--mobile__list--menu__list__items 4-2 fourth-row--second">
                            Програма "ОЛ / 4 / МСП"
                        </li>
                        <li class="nav--mobile__list--menu__list__items 4-2 fourth-row--second">
                            Програма за кредитни кооперации
                        </li>
                        <!-- 4-3 -->
                        <li class="nav--mobile__list--menu__list__items 4-3 fourth-row--third has-sub--left"
                            id="nav-2-2-3--back">
                            Експортно финансиране
                        </li>
                        <li class="nav--mobile__list--menu__list__items 4-3 fourth-row--third">
                            Предекспортно финансиране
                        </li>
                        <li class="nav--mobile__list--menu__list__items 4-3 fourth-row--third">
                            Следекспортно финансиране
                        </li>
                        <!-- 4-4 -->
                        <li class="nav--mobile__list--menu__list__items 4-4 fourth-row--fourth has-sub--left"
                            id="nav-2-3-3--back">
                            Регистри
                        </li>
                        <li class="nav--mobile__list--menu__list__items 4-4 fourth-row--fourth">
                            Регистър на подписаните договори за финансиране
                        </li>
                        <li class="nav--mobile__list--menu__list__items 4-4 fourth-row--fourth">
                            Регистър на заявените искания за финансиране
                        </li>

                        <!-- Bg flag -->

                        <li class="nav--mobile__list--menu__list__items r-lang row-lang has-sub--left"
                            id="nav-lang--back">
                            Назад
                        </li>
                        <li class="nav--mobile__list--menu__list__items r-lang row-lang">
                            <img src="../../assets/images/bg-flag.png" alt="bg flag" width="40" />
                            Български език
                        </li>
                        <li class="nav--mobile__list--menu__list__items r-lang row-lang">
                            <img src="../../assets/images/en-flag.svg" alt="en flag" width="40" />
                            Английски език
                        </li>

                        <li class="nav--mobile__list--menu__list__items lang has-sub--right" id="nav-lang">
                            <img src="../../assets/images/bg-flag.png" alt="bg flag" width="40" />
                            Български език
                        </li>
                    </ul>
                </li>
                <li class="nav--mobile__inner__right__list__items nav--mobile__inner__right__list__items--special">
                    <img src="../../assets/images/Online Banking.svg" alt="Online banking logo" width="40" />
                </li>
            </ul>
        </div>
    </div>
    <div class="nav--mobile--search-bar hidden">
        <form>
            <button class="nav--mobile--search-bar--button">
                <img src="../../assets/images/search-logo.svg" alt="Search logo" />
            </button>
            <input type="search" name="search" id="nav--mobile--search--input" placeholder="Търсене…" />
            <span class="nav--mobile--search-bar--close" id="nav--mobile--search-bar--close">
                <img src="../../assets/images/close-icon.svg" alt="Close button" />
            </span>
        </form>
    </div>
</nav>