<div class="news-details__main row">
    <div class="home__main__section--first news-list__main col-12 col-md-8">
        <div class="home__main__section--first__info news-list__main--first-section">
            <div
                class="
                    home__main__section--first__info--text
                    news-list__main--first-section--header
                    news-details__main--header
                "
            >
                <h2>Близо 16 000 души са одобрени за безлихвени кредити</h2>
            </div>
        </div>
    </div>
    <div class="news-list__main--first-section--breadcrumb news-details__main--breadcrumb col-12 col-md-4">
        <div class="news-list__main--first-section--breadcrumb--old">
            <span>
                <a href="index.html">Начало</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow" />
            </span>
            <span>
                <a href="#">Новини</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow" />
            </span>
            <span>
                <a href="#">Новини и инициативи</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow" />
            </span>
        </div>
        <div class="news-list__main--first-section--breadcrumb--active">
            <span><a href="activity-list.html">Близо 16 000 души са одобрени за безлихвени кредити</a></span>
        </div>
    </div>
</div>
<div class="news-details__body">
    <div class="news-details__body--text">
        <p>
            Близо 16 000 кандидата са одобрени по антикризисната правителствена програма за безлихвено кредитиране на
            физически лица. Общата стойност на одобрените от търговските банки кредити е малко над 65,7 млн. Лв. Към
            средата на август по гаранционната програма, която Българската банка за развитие управлява, към
            банките-партньори са постъпили 26 160 искания, 78 на сто от които са на лица на трудов договор, а останалите
            22% са на самоосигуряващи се. Средната стойност на заемите е над 4100 лв. Срокът за кандидатстване е до края
            на 2020 година.
        </p>
        <p>
            Партньори по Гаранционната програма за предоставяне на безлихвени кредити до 4 500 лева в помощ на хора,
            лишени от възможността да полагат труд поради пандемията от COVID-19, са общо 12 търговски банки. Това са
            Алианц банк, Банка ДСК, Инвестбанк, ОББ, Първа инвестиционна банка, Пощенска банка, Райфайзенбанк, Търговска
            банка Д, Централна кооперативна банка и УниКредит Булбанк.Две от участващите банки вече усвоиха финансовия
            си ресурс по мярката - Общинска и Интернешънъл Асет банк, като една от тях удвои първоначално заявения обем.
            Всички банки бележат напредък, а заявилите по-големи обеми за реализация разполагат с наличен лимит.
        </p>
        <p>
            Българската банка за развитие не разглежда исканията за кредит, а включва вече одобрените от търговските
            банки заеми в издадената портфейлна гаранция.
        </p>
        <p>
            С партньорите по програмата ББР сключи гаранционни споразумения за 136 095 000 лева, от които вече близо 50
            на сто са договорени. Останалите средства остават на разположение за изпълнение на гаранционните
            споразумение, за предоставяне на гаранционни лимити на други банки, както и за вдигане на лимитите на тези,
            които вече са участници в програмата, ако пожелаят това.
        </p>
        <p>
            Целта на мярката е да подпомогне служителите в неплатен отпуск и самоосигуряващите се лица, които са
            прекъснали дейност вследствие на пандемията от COVID-19. Те имат възможността да получат заем до 4 500 лева,
            отпускани наведнъж или на три транша от по 1 500 лева. Максималният срок на погасяване е 5 години, с минимум
            6 месеца и максимум 24 месеца гратисен период. Заемите са освободени от такси, комисиони и неустойки.
        </p>
        <p>
            Kандидатите за безлихвен заем трябва да са били в неплатен отпуск или с прекъсната дейност поради
            пандемията. Съгласно обновените изисквания, желаещите могат да кандидатстват и след като са се завърнали на
            работа. Самоосигуряващите се лица трябва да имат поне 20% спад в доходите през 2020 г., като за всички
            кандидати важи изискването за декларирани осигуровки за период от 6 месеца назад.
        </p>
    </div>
    <div class="news-details__body--links">
        <div class="news-details__body--links__items">
            <div class="news-details__body--links__items--img">
                <img src="../../assets/images/pdf.svg" alt="pdf" />
            </div>
                <a href="#">
                    Отчет по чл. 100б, ал. 3 от ЗППЦК за спазване на условията по трета облигационна емисия на ББР
                    (борсов код: BI6B, ISIN код: BG2100014104) към 30.09.2015 г.
                </a>
        </div>
        <div class="news-details__body--links__items">
            <div class="news-details__body--links__items--img">
                <img src="../../assets/images/doc.svg" alt="doc" />
            </div>
            <a href="#">
                Общи условия, приложими към дейността на ББР АД в качеството ѝ на инвестиционен посредник и сключените
                договори с клиенти
            </a>
        </div>
        <div class="news-details__body--links__items">
            <div class="news-details__body--links__items--img">
                <img src="../../assets/images/xls.svg" alt="xls" />
            </div>
            <a href="#">
                Тарифа за условията, лихвите, таксите и комисионите за ЕТ и юридически лица (в сила от 17.12.2019 г.)
            </a>
        </div>
        <div class="news-details__body--links__items">
            <div class="news-details__body--links__items--img">
                <img src="../../assets/images/pdf.svg" alt="pdf" />
            </div>
            <a href="#">Информация по реда на чл.3 от Делегиран регламент (ЕС) 2017/576 на ЕК</a>
        </div>

        <div class="news-details__body--gallery">
            <div class="news-details__body--gallery__main">
                <img src="../../assets/images/news-details-1.png" alt="Big photo" id="news-details__gallery--big">
            </div>
            <div class="news-details__body--gallery__list row">
                <img class="col-3" src="../../assets/images/news-details-2.png" alt="Gallery img" >
                <img class="col-3" src="../../assets/images/news-details-3.png" alt="Gallery img" >
                <img class="col-3" src="../../assets/images/news-details-4.png" alt="Gallery img" >
                <img class="col-3" src="../../assets/images/news-details-5.png" alt="Gallery img" >
            </div>
        </div>

    </div>
</div>
