<div class="home__main__section--first news-list__main">
    <div class=" home__main__section--first__info news-list__main--first-section">
        <div class="home__main__section--first__info--text news-list__main--first-section--header">
            <h2>Новини и инициативи</h2>
        </div>
    </div>
</div>
<div class="news-list__main--first-section--breadcrumb">
    <div class="news-list__main--first-section--breadcrumb--old">
        <span><a href="index.html">Начало</a><img src="../../assets/images/right-arrow.svg" alt="Right arrow"></span>
        <span><a href="#">Новини</a><img src="../../assets/images/right-arrow.svg" alt="Right arrow"></span>
    </div>
    <div class="news-list__main--first-section--breadcrumb--active"><span><a href="news-list.html">Новини и
                инициативи </a></span></div>
</div>
<div class="news-list__main__news">
    <div class="home__main__section--news__main row news-list__main__news__inner">
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/news-1.png" alt="Card photo" class="card-img-top">
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">Близо 16 000 души са одобрени за безлихвени кредити</h5>
                    <p class="card-text">
                        Близо 16 000 кандидата са одобрени по антикризисната правителствена програма за безлихвено
                        кредитиране на физически лица. Общата стойност на …одобрените от …

                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between pt-0">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4 mx-md-auto mt-md-3 mx-xl-0 mt-xl-0">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/news-2.png" alt="Card photo" class="card-img-top">
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">
                        Мерките в подкрепа на засегнатите от пандемията физически лица и бизнес дават резултат
                    </h5>
                    <p class="card-text">
                        „Програмата се развива успешно, като вече са изпълнени 43 % от заявките по споразуменията между
                        Българската…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between  pt-0">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/news-3.png" alt="Card photo" class="card-img-top">
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">Договорени са 43% от средствата за безлихвено кредитиране на физически лица
                    </h5>
                    <p class="card-text">
                        Търговските банки, партньори по програмата за безлихвено кредитиране на физически лица, са
                        договорили под …
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between  pt-0">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/news-4.png" alt="Card photo" class="card-img-top">
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">Търговските банки одобриха над 13 000 искания за безлихвени кредити за
                        физически лица
                    </h5>
                    <p class="card-text">
                        13 377 искания са одобрени от търговските банки по програмата за безлихвено кредитиране на
                        физически…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/news-5.png" alt="Card photo" class="card-img-top">
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">Одобрени са безлихвени заеми за 53 млн. Лева по програмата за физически лица
                        на ББР
                    </h5>
                    <p class="card-text">
                        Засилва се интересът към гаранционната програма за подпомагане на работещите в неплатен отпуск и
                        самоосигуряващи…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between  pt-0">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/news-6.png" alt="Card photo" class="card-img-top">
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">Близо 50 млн. лв. достигнаха одобрените от търговските банки безлихвени
                        кредити за физически лица
                    </h5>
                    <p class="card-text">
                        Расте броят на отпуснатите кредити по Програмата за гарантиране на безлихвени заеми за
                        служителите в…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/news-7.png" alt="Card photo" class="card-img-top">
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">Над 47 млн. лв. са одобрените от търговските банки безлихвени заеми за
                        физически лица
                    </h5>
                    <p class="card-text">
                        Над 47 млн. лв. са одобрените от търговските банки безлихвени кредити за физически лица към 5
                        юли т.г. Към …
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between  pt-0">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/news-8.png" alt="Card photo" class="card-img-top">
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">Три нови банки се присъединяват към гаранционната програма за подкрепа на МСП
                    </h5>
                    <p class="card-text">
                        Банка ДСК, Пощенска банка и Първа инвестиционна банка подписаха споразумения с Българска банка
                        за …
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/news-9.png" alt="Card photo" class="card-img-top">
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">Райфайзенбанк се присъедини към програмата за безлихвено кредитиране на
                        физически лица
                    </h5>
                    <p class="card-text">
                        Райфайзенбанк е поредната банка, която се присъединява към гаранционната програма за безлихвено
                        кредитиране…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between  pt-0">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/news-10.png" alt="Card photo" class="card-img-top">
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">Изисквания за кандидатите за безлихвен кредит, подпомагащ хората, лишени от
                        възможността да полагат труд поради пандемията от COVID-19
                    </h5>
                    <p class="card-text">
                        За малко повече от месец от старта на гаранционната програма на ББР за предоставяне на
                        безлихвени кредити…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between  pt-0 pb-0">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/news-11.png" alt="Card photo" class="card-img-top">
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">Разширява се обхватът на програмата на ББР за безлихвено кредитиране на
                        физическите лица
                    </h5>
                    <p class="card-text">
                        От 19 юни 2020 г. Влизат в сила обновените правила за отпускане на безлихвени заеми за
                        физическите лица…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
        <div class="home__main__section--news__main--card col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="home__main__section--news__main--card__header">
                    <img src="../../assets/images/news-12.png" alt="Card photo" class="card-img-top">
                </div>
                <div class="home__main__section--news__main--card__body card-body">
                    <h5 class="card-title">София Касидова в “Шумът на парите”: ББР отговори с амбициозни и правилни
                        мерки на коронакризата
                    </h5>
                    <p class="card-text">
                        В тазгодишното издание на специализирана финансова конференция „Шумът на парите“ София …
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer d-flex justify-content-between  pt-0">
                    <span class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg" alt="Right arrow">
                    </span>
                    <span class="home__main__section--news__main--card__footer--date">13.05.2020</span>
                </div>
            </div>
        </div>
    </div>
    <div class="home__main__section--news__main row news-list__main__news__outer">
        <div class="news-list__main__news__outer__list">
            <span class="active">1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
        </div>
    </div>
</div>