<div class="news-details__main row">
    <div class="home__main__section--first news-list__main col-12 col-md-8">
        <div class="home__main__section--first__info news-list__main--first-section">
            <div class="
                    home__main__section--first__info--text
                    news-list__main--first-section--header
                    news-details__main--header
                ">
                <h2>Енергия от слънцето</h2>
            </div>
        </div>
    </div>
    <div class="news-list__main--first-section--breadcrumb news-details__main--breadcrumb col-12 col-md-4">
        <div class="news-list__main--first-section--breadcrumb--old">
            <span>
                <a href="index.html">Начало</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow" />
            </span>
            <span>
                <a href="#">За нас</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow" />
            </span>
            <span>
                <a href="present-list.html">Успешни проекти</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow" />
            </span>
        </div>
        <div class="news-list__main--first-section--breadcrumb--active">
            <span><a href="present-details.html">Енергия от слънцето</a></span>
        </div>
    </div>
</div>
<div class="news-details__body">
    <div class="news-details__body--text">
        <p>
            Производството и употребата на енергия имат огромно влияние върху климата. Около две трети от световните
            емисии на парникови газове са свързани с изгарянето на изкопаеми горива за енергия.
        </p>
        <p> Изпълнявайки мисията си в подкрепа на българския бизнес, Българска банка за развитие винаги е насърчавала
            процеса на трансформация към кръгова икономика, използването на алтернативна енергия и енергоспестяването.
        </p>
        <p>
            Банката беше сред първите, подкрепили планове с банкови гаранции на фирми за изграждането на соларни паркове
            като „Мокреш Солар Парк“, „Монтана солар“ „Солар Вълчедръм“ и Соларен парк “България“.

        </p>
        <p>
            Приемането от МС на Националната стратегия за адаптация към изменението на климата до 2030 г. Показва, че
            визията ни за развитие на сектора в посока алтернативни източници е стратегическа. Ако не бъдат предприети
            действия в тази посока, финансовият риск и тежките последици могат да причинят спиране на икономическия
            растеж до 2050 г.
        </p>
    </div>
    <div class="news-details__body--links">
        <div class="news-details__body--links__items">
            <div class="news-details__body--links__items--img">
                <img src="../../assets/images/pdf.svg" alt="pdf" />
            </div>
            <a href="#">
                Отчет по чл. 100б, ал. 3 от ЗППЦК за спазване на условията по трета облигационна емисия на ББР
                (борсов код: BI6B, ISIN код: BG2100014104) към 30.09.2015 г.
            </a>
        </div>
        <div class="news-details__body--links__items">
            <div class="news-details__body--links__items--img">
                <img src="../../assets/images/doc.svg" alt="doc" />
            </div>
            <a href="#">
                Общи условия, приложими към дейността на ББР АД в качеството ѝ на инвестиционен посредник и сключените
                договори с клиенти
            </a>
        </div>
        <div class="news-details__body--links__items">
            <div class="news-details__body--links__items--img">
                <img src="../../assets/images/xls.svg" alt="xls" />
            </div>
            <a href="#">
                Тарифа за условията, лихвите, таксите и комисионите за ЕТ и юридически лица (в сила от 17.12.2019 г.)
            </a>
        </div>
        <div class="news-details__body--links__items">
            <div class="news-details__body--links__items--img">
                <img src="../../assets/images/pdf.svg" alt="pdf" />
            </div>
            <a href="#">Информация по реда на чл.3 от Делегиран регламент (ЕС) 2017/576 на ЕК</a>
        </div>

        <div class="news-details__body--gallery">
            <div class="news-details__body--gallery__main">
                <img src="../../assets/images/present-details-1.svg" alt="Big photo" id="news-details__gallery--big">
            </div>
            <div class="news-details__body--gallery__list row">
                <img class="col-3" src="../../assets/images/present-details-2.png" alt="Gallery img">
                <img class="col-3" src="../../assets/images/present-details-3.png" alt="Gallery img">
                <img class="col-3" src="../../assets/images/present-details-4.png" alt="Gallery img">
                <img class="col-3" src="../../assets/images/present-details-5.png" alt="Gallery img">
            </div>
        </div>

    </div>
</div>