<section class="present-details__more">
    <div class="present-details__more__header">
        <div class="present-details__more__header__inner">
            <h2>Прочети още </h2>
            <p>Вижте подобни успешни проекти от
                Българската банка за развитие. </p>
            <a href="#">Виж всички стаи
                <img src="../../assets/images/blue-right-arrow.svg"
                    alt="Rightarrow" />
            </a>
        </div>
    </div>
    <div class="present-details__more__main">
        <div class="home__main__section--news__main activity-list__main__cards
            mt-5">
            <div class="activity-list__main__cards__card row
                news-list__main__news__inner present-details__more__main__inner">
                <div class="activity-list__main__cards__card--img col-12
                    col-md-6
                    col-lg-5 col-xl-3 present-details__more__main__inner--img">
                    <img src="../../assets/images/present-details--more-1.png"
                        alt="Activity
                        list" width="266" height="266">
                </div>
                <div class="activity-list__main__cards__card--body col-12
                    col-md-6
                    col-lg-7 col-xl-9 present-details__more__main__inner--text">
                    <div class="home__main__section--news__main--card__body
                        card-body">
                        <h5 class="card-title">
                            Сбъднатите IT- мечти
                        </h5>
                        <p class="card-text">
                            С помощта на оборотен кредит от ББР Рrime holding
                            инвестира в маркетингови дейности и възобновяване на
                            клиентската си база. С подкрепата на банката
                            продължава
                            ръстът на нови клиенти от Швейцария, САЩ и
                            Великобритания…
                        </p>
                    </div>
                    <div class="home__main__section--news__main--card__footer
                        d-flex
                        justify-content-between pt-0">
                        <span
                            class="home__main__section--news__main--card__footer--link">
                            <a href="#">Виж Oще</a>
                            <img src="../../assets/images/right-arrow_small.svg"
                                alt="Right arrow">
                        </span>

                    </div>
                </div>
            </div>
            <div class="activity-list__main__cards__card row
                news-list__main__news__inner present-details__more__main__inner">
                <div class="activity-list__main__cards__card--img col-12 present-details__more__main__inner--img
                    col-md-6
                    col-lg-5 col-xl-3">
                    <img src="../../assets/images/present-details--more-2.png"
                        alt="Activity
                        list" width="266" height="266">
                </div>
                <div class="activity-list__main__cards__card--body col-12
                    col-md-6
                    col-lg-7 col-xl-9 present-details__more__main__inner--text">
                    <div class="home__main__section--news__main--card__body
                        card-body">
                        <h5 class="card-title">
                            “Дунав прес“ печата опаковки за фармацията, като
                            работи
                            изцяло със
                            зелена енергия
                        </h5>
                        <p class="card-text">
                            Русенската печатница “Дунав прес” е наследник на
                            първата
                            съвременна печатница, създадена в българските земи
                            още
                            преди Освобождението. През 1864 г. Османската
                            империя
                            построява четири печатници в Истанбул, Одрин, Солун
                            и
                            Русе, създавайки основите на държавното
                            книгопечатане.
                            Преминавайки през различни форми на собственост и
                            техническо обновление, днес русенската печатница
                            отново
                            е едно от водещите предприятия в страната, като
                            основният и фокус е производството на картонени
                            опаковки
                            за фармацевтичната индустрия.
                            Компанията се развива основно на външния пазар, като
                            делът на износа расте всяка година. През 2016 г…
                        </p>
                    </div>
                    <div class="home__main__section--news__main--card__footer
                        d-flex
                        justify-content-between pt-0">
                        <span
                            class="home__main__section--news__main--card__footer--link">
                            <a href="#">Виж Oще</a>
                            <img src="../../assets/images/right-arrow_small.svg"
                                alt="Right arrow">
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </section>