<div class="news-details__main row">
    <div class="home__main__section--first news-list__main col-12 col-md-8">
        <div class="home__main__section--first__info
            news-list__main--first-section">
            <div class="home__main__section--first__info--text
                news-list__main--first-section--header
                news-details__main--header">
                <h2>Успешни проекти</h2>
            </div>
        </div>
    </div>
    <div class="news-list__main--first-section--breadcrumb
        news-details__main--breadcrumb col-12 col-md-4">
        <div class="news-list__main--first-section--breadcrumb--old">
            <span>
                <a href="index.html">Начало</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow"
                    />
            </span>
            <span>
                <a href="#">За нас</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow"
                    />
            </span>
        </div>
        <div class="news-list__main--first-section--breadcrumb--active">
            <span><a href="present-list.html">Успешни проекти</a></span>
        </div>
    </div>
</div>
<div class="present-list__body">
    <div class="home__main__section--news__main activity-list__main__cards
        mt-5">
        <div class="activity-list__main__cards__card row
            news-list__main__news__inner present-details__more__main__inner">
            <div class="activity-list__main__cards__card--img col-12
                col-md-6
                col-lg-5 col-xl-3 present-details__more__main__inner--img">
                <img src="../../assets/images/present-list-1.png"
                    alt="Activity
                    list" width="266" height="266">
            </div>
            <div class="activity-list__main__cards__card--body col-12
                col-md-6
                col-lg-7 col-xl-9 present-details__more__main__inner--text">
                <div class="home__main__section--news__main--card__body
                    card-body present-list__body__card--text">
                    <h5 class="card-title">
                        “Белана” изнася в 25 държави продукцията си
                    </h5>
                    <p class="card-text">
                        Дин от най-големите производители на малограмажни хартии
                        и санитарно-хигиенни продукти у нас успя да модернизира
                        производството си и да навлезе ударно в 21 век…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer
                    d-flex
                    justify-content-between pt-0">
                    <span
                        class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg"
                            alt="Right arrow">
                    </span>

                </div>
            </div>
        </div>
        <div class="activity-list__main__cards__card row
            news-list__main__news__inner present-details__more__main__inner">
            <div class="activity-list__main__cards__card--img col-12
                present-details__more__main__inner--img
                col-md-6
                col-lg-5 col-xl-3">
                <img src="../../assets/images/present-list-2.png"
                    alt="Activity
                    list" width="266" height="266">
            </div>
            <div class="activity-list__main__cards__card--body col-12
                col-md-6
                col-lg-7 col-xl-9 present-details__more__main__inner--text">
                <div class="home__main__section--news__main--card__body
                    card-body present-list__body__card--text">
                    <h5 class="card-title">
                        Мислим мащабно и прокарваме пътища
                    </h5>
                    <p class="card-text">
                        С финансова подкрепа от ББР се изграждат трасета от
                        магистрали, нови и рехабилитирани пътища от
                        републиканската пътна мрежа…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer
                    d-flex
                    justify-content-between pt-0">
                    <span
                        class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg"
                            alt="Right arrow">
                    </span>

                </div>
            </div>
        </div>
        <div class="activity-list__main__cards__card row
            news-list__main__news__inner present-details__more__main__inner">
            <div class="activity-list__main__cards__card--img col-12
                present-details__more__main__inner--img
                col-md-6
                col-lg-5 col-xl-3">
                <img src="../../assets/images/present-list-3.png"
                    alt="Activity
                    list" width="266" height="266">
            </div>
            <div class="activity-list__main__cards__card--body col-12
                col-md-6
                col-lg-7 col-xl-9 present-details__more__main__inner--text">
                <div class="home__main__section--news__main--card__body
                    card-body present-list__body__card--text">
                    <h5 class="card-title">
                        Да превключим на следващия канал
                    </h5>
                    <p class="card-text">
                        Спорт, филми, музика, новини и разбира се, детски
                        канали. Едва ли може да си представим живота днес без
                        телевизиите, чиито програми ни отвеждат в различните
                        точки на времето и пространството.
                        Преди малко повече от 10 г. Двама предприемачи превръщат
                        един регионален ТВ доставчик във водещ оператор на
                        телевизия с близо 800 000 абонати и приходи от 80 млн.
                        Евро. Булсатком успява да се наложи на конкурентен пазар
                        и дори изстрелва първия български спътник, за да увеличи
                        излъчваните програми и абонатите си.
                        Но бързата експанзия и мащабни нови проекти, сред които
                        лиценз за мобилен оператор, довеждат до натрупване…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer
                    d-flex
                    justify-content-between pt-0">
                    <span
                        class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg"
                            alt="Right arrow">
                    </span>

                </div>
            </div>
        </div>
        <div class="activity-list__main__cards__card row
            news-list__main__news__inner present-details__more__main__inner">
            <div class="activity-list__main__cards__card--img col-12
                present-details__more__main__inner--img
                col-md-6
                col-lg-5 col-xl-3">
                <img src="../../assets/images/present-details--more-2.png"
                    alt="Activity
                    list" width="266" height="266">
            </div>
            <div class="activity-list__main__cards__card--body col-12
                col-md-6
                col-lg-7 col-xl-9 present-details__more__main__inner--text">
                <div class="home__main__section--news__main--card__body
                    card-body present-list__body__card--text">
                    <h5 class="card-title">
                        “Дунав прес“ печата опаковки за фармацията, като работи
                        изцяло със зелена енергия
                    </h5>
                    <p class="card-text">
                        Русенската печатница “Дунав прес” е наследник на първата
                        съвременна печатница, създадена в българските земи още
                        преди Освобождението. През 1864 г. Османската империя
                        построява четири печатници в Истанбул, Одрин, Солун и
                        Русе, създавайки основите на държавното книгопечатане.
                        Преминавайки през различни форми на собственост и
                        техническо обновление, днес русенската печатница отново
                        е едно от водещите предприятия в страната, като
                        основният и фокус е производството на картонени опаковки
                        за фармацевтичната индустрия. Компанията се развива
                        основно на външния пазар, като делът на износа расте
                        всяка година. През 2016 г…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer
                    d-flex
                    justify-content-between pt-0">
                    <span
                        class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg"
                            alt="Right arrow">
                    </span>

                </div>
            </div>
        </div>
        <div class="activity-list__main__cards__card row
            news-list__main__news__inner present-details__more__main__inner">
            <div class="activity-list__main__cards__card--img col-12
                present-details__more__main__inner--img
                col-md-6
                col-lg-5 col-xl-3">
                <img src="../../assets/images/present-details--tumbnail.svg"
                    alt="Activity
                    list" width="266" height="266">
            </div>
            <div class="activity-list__main__cards__card--body col-12
                col-md-6
                col-lg-7 col-xl-9 present-details__more__main__inner--text">
                <div class="home__main__section--news__main--card__body
                    card-body present-list__body__card--text">
                    <h5 class="card-title">
                        Енергия от слънцето
                    </h5>
                    <p class="card-text">
                        Изпълнявайки мисията си в подкрепа на българския бизнес,
                        Българската банка за развитие насърчава процеса на
                        трансформация към кръгова икономика, използването на
                        алтернативна енергия и енергоспестяването…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer
                    d-flex
                    justify-content-between pt-0">
                    <span
                        class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg"
                            alt="Right arrow">
                    </span>

                </div>
            </div>
        </div>
        <div class="activity-list__main__cards__card row
            news-list__main__news__inner present-details__more__main__inner">
            <div class="activity-list__main__cards__card--img col-12
                col-md-6
                col-lg-5 col-xl-3 present-details__more__main__inner--img">
                <img src="../../assets/images/present-details--more-1.png"
                    alt="Activity
                    list" width="266" height="266">
            </div>
            <div class="activity-list__main__cards__card--body col-12
                col-md-6
                col-lg-7 col-xl-9 present-details__more__main__inner--text">
                <div class="home__main__section--news__main--card__body
                    card-body present-list__body__card--text">
                    <h5 class="card-title">
                        Сбъднатите IT- мечти
                    </h5>
                    <p class="card-text">
                        С помощта на оборотен кредит от ББР Рrime holding
                        инвестира в маркетингови дейности и възобновяване на
                        клиентската си база. С подкрепата на банката
                        продължава
                        ръстът на нови клиенти от Швейцария, САЩ и
                        Великобритания…
                    </p>
                </div>
                <div class="home__main__section--news__main--card__footer
                    d-flex
                    justify-content-between pt-0">
                    <span
                        class="home__main__section--news__main--card__footer--link">
                        <a href="#">Виж Oще</a>
                        <img src="../../assets/images/right-arrow_small.svg"
                            alt="Right arrow">
                    </span>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="home__main__section--news__main row news-list__main__news__outer">
    <div class="news-list__main__news__outer__list">
        <span class="active">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
    </div>
</div>