<div class="news-details__main row zhalba__main">
    <div class="home__main__section--first news-list__main col-12 col-md-8">
        <div class="home__main__section--first__info
            news-list__main--first-section register">
            <div class="home__main__section--first__info--text
                news-list__main--first-section--header
                news-details__main--header">
                <h2>Регистър на заявените искания за
                    финансиране</h2>
            </div>
        </div>
    </div>
    <div class="news-list__main--first-section--breadcrumb
        news-details__main--breadcrumb col-12 col-md-4">
        <div class="news-list__main--first-section--breadcrumb--old">
            <span>
                <a href="index.html">Начало</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow"
                    />
            </span>
            <span>
                <a href="index.html">Енергийна ефективност</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow"
                    />
            </span>
        </div>
        <div class="news-list__main--first-section--breadcrumb--active">
            <span><a href="register-first.html">Регистър на заявените искания за
                    финансиране</a></span>
        </div>
    </div>
</div>
<div class="register-first__main ">
    <div class="register-first__main__inputs">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5">
                <div id="home__main__section--second">
                    <div class="col-12">
                        <div class="selector" style="position: absolute;
                            z-index: 10;left:0;width:100%">
                            <div class="selector__home" id="select__event">
                                <span class="select--span"
                                    id="selector__span--currency"
                                    style="color: rgb(105, 102, 108);
                                    opacity: 0.52;">Показване на 10 резултата</span>
                            </div>
                            <div class="selector__body" id="selector__id">
                                <ul class="selector__body__list">
                                    <li class="selector__body__list__items"><span>
                                            Показване на 5 резултата</span></li>
                                    <li class="selector__body__list__items"><span>
                                            Показване на 10 резултата</span></li>
                                    <li class="selector__body__list__items"><span>
                                            Показване на 20 резултата</span></li>
                                    <li class="selector__body__list__items"><span>
                                            Показване на 30 резултата</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
                <div class="register-first__main__inputs--search">
                    <input type="text" placeholder="Търсене във всички колони…">
                    <button class="nav--search-bar--button">
                        <img src="../../assets/images/small-search.svg"
                            alt="Search logo">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="register-first__main__info">
        <table>
            <thead>
                <tr>
                    <th>№ по ред</th>
                    <th>Дата на депозиране
                        на искането</th>
                    <th>БУЛСТАТ
                        на сдружението</th>
                    <th>Наименование на
                        сдружението</th>
                    <th>Програма</th>
                    <th>Населено място</th>
                    <th>Община</th>
                    <th>Адрес на сдружението</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>12.02.2015 г.</td>
                    <td>176812126</td>
                    <td>Обединени входове гр. Враца,
                        жк. Младост бл.1</td>
                    <td>НПЕЕМЖС</td>
                    <td>Враца</td>
                    <td>Враца</td>
                    <td>Гр. Враца, област Враца,
                        жк. Младост бл. 1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>13.02.2015 г.</td>
                    <td>176818727</td>
                    <td>Жилищен блок Спартак,
                        гр.Плевен,
                        ул. Георги Кочев №14</td>
                    <td>НПЕЕМЖС</td>
                    <td>Плевен</td>
                    <td>Плевен</td>
                    <td>гр. Плевен, област Плевен,
                        ул. Георги Кочев №14</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>13.02.2015 г.</td>
                    <td>176821253</td>
                    <td>Мадара 28</td>
                    <td>НПЕЕМЖС</td>
                    <td>Варна</td>
                    <td>Варна</td>
                    <td>Гр. Варна, район Приморски,
                        ул. Мадара№28, кв. Левски бл. 7</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>16.02.2015 г.</td>
                    <td>176817073</td>
                    <td>Блок 12 АБВГ - Гр. Момчилград,
                        ул. Сан Стефано , №14, бл.12</td>
                    <td>НПЕЕМЖС</td>
                    <td>Момчиловград</td>
                    <td>Момчиловград</td>
                    <td>гр. Момчилград, Област Кърджали,
                        Община Момчилград п.к. 6800,
                        ул. Сан Стефано №14, бл.12</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>16.02.2015 г.</td>
                    <td>176817340</td>
                    <td>Родопи - гр. Момчилград,
                        община Момчилград</td>
                    <td>НПЕЕМЖС</td>
                    <td>Момчиловград</td>
                    <td>Момчиловград</td>
                    <td>Гр. Момчилград, Област Кърджали,
                        община Момчилград п.к. 6800,
                        ул. Гюмюрджинска №67, бл.1А</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>17.02.2015 г.</td>
                    <td>176815802</td>
                    <td>Да повишим качеството на живот,
                        Гр. Мадан, община Мадан,
                        ул. Република №26, бл.26</td>
                    <td>НПЕЕМЖС</td>
                    <td>Мадан</td>
                    <td>Мадан</td>
                    <td>гр. Мадан, Област Смолян,
                        Община Мадан п.к. 4900,
                        ул. Република №26, бл.26</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>17.02.2015 г.</td>
                    <td>176815802</td>
                    <td>ГР.Мадан, община Мадан,
                        ул. Паисйй Хилендарски №2, бл.2</td>
                    <td>НПЕЕМЖС</td>
                    <td>Мадан</td>
                    <td>Мадан</td>
                    <td>Гр. Мадан, Област Смолян,
                        Община Мадан п.к. 4900,
                        ул. Паисий Хилендарски №2, бл.2</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>17.02.2015 г.</td>
                    <td>176816651</td>
                    <td>Бл.64, гр.Мадан,
                        ул. Обединение №64</td>
                    <td>НПЕЕМЖС</td>
                    <td>Мадан</td>
                    <td>Мадан</td>
                    <td>гр. Мадан, Област Смолян,
                        община Мадан п.к. 4900,
                        Ул. Обединение №64,
                        бл.64, вх. А, ет. 4, ап. 12</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>17.02.2015 г.</td>
                    <td>176817778</td>
                    <td>Република 8</td>
                    <td>НПЕЕМЖС</td>
                    <td>Мадан</td>
                    <td>Мадан</td>
                    <td>Гр. Мадан, Област Смолян,
                        ул. Република №8, бл. 8</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>17.02.2015 г.</td>
                    <td>176815880</td>
                    <td>Единство 1982 Димитровград,
                        ул. Захари Зограф 18</td>
                    <td>НПЕЕМЖС</td>
                    <td>Димитровград</td>
                    <td>Димитровград</td>
                    <td>гр. Димитровград, Област Хасково,
                        п.к. 6400, ул. Захари Зограф №18</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="register-first__main__bottom-nav">
        <span class="register-first__main__bottom-nav--results">Показване на 10 от 540 резултата</span>
        <div class="news-list__main__news__outer__list">
                <span class="active">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
            </div>
        </div>
    </div>
</div>