<div class="news-details__main row zhalba__main">
    <div class="home__main__section--first news-list__main col-12 col-md-8">
        <div class="home__main__section--first__info news-list__main--first-section zhalba__main--section">
            <div
                class="
                    home__main__section--first__info--text
                    news-list__main--first-section--header
                    news-details__main--header
                "
            >
                <h2>Регистър на подписаните договори за финансиране</h2>
            </div>
        </div>
    </div>
    <div class="news-list__main--first-section--breadcrumb news-details__main--breadcrumb col-12 col-md-4">
        <div class="news-list__main--first-section--breadcrumb--old">
            <span>
                <a href="index.html">Начало</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow" />
            </span>
            <span>
                <a href="index.html">Енергийна ефективност</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow" />
            </span>
        </div>
        <div class="news-list__main--first-section--breadcrumb--active">
            <span><a href="register-first.html">Регистър на подписаните договори за финансиране</a></span>
        </div>
    </div>
</div>
<div class="register-first__main register-second__main">
    <div class="register-first__main__inputs">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5">
                <div id="home__main__section--second">
                    <div class="col-12">
                        <div class="selector" style="position: absolute; z-index: 10; left: 0; width: 100%">
                            <div class="selector__home" id="select__event">
                                <span
                                    class="select--span"
                                    id="selector__span--currency"
                                    style="color: rgb(105, 102, 108); opacity: 0.52"
                                >
                                    Показване на 10 резултата
                                </span>
                            </div>
                            <div class="selector__body" id="selector__id">
                                <ul class="selector__body__list">
                                    <li class="selector__body__list__items"><span>Показване на 5 резултата</span></li>
                                    <li class="selector__body__list__items"><span>Показване на 10 резултата</span></li>
                                    <li class="selector__body__list__items"><span>Показване на 20 резултата</span></li>
                                    <li class="selector__body__list__items"><span>Показване на 30 резултата</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
                <div class="register-first__main__inputs--search">
                    <input type="text" placeholder="Търсене във всички колони…" />
                    <button class="nav--search-bar--button">
                        <img src="../../assets/images/small-search.svg" alt="Search logo" />
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="register-first__main__info register-second__main__info">
        <table>
            <thead>
                <tr style="position:relative">
                    <th>№ по ред</th>
                    <th>Дата на договора</th>
                    <th>БУЛСТ сдруж</th>
                    <th class="long-text">
                        <div id="register--popup" class="popup">
                            <p>За да видите пълните
                                наименования на 
                                сдруженията, поставете
                                курсорът на мишката
                                колоната.</p>
                        </div>
                        <img src="../../assets/images/stretcher.png" alt="Strcher logo" width="11" height="5" />
                        <div>Наименование на сдружението</div>
                    </th>
                    <th>Програма</th>
                    <th>Населено място</th>
                    <th>Община</th>
                    <th class="long-text">
                        <img src="../../assets/images/stretcher.png" alt="Strcher logo" width="11" height="5" />
                        <div>Адрес на сдружението</div>
                    </th>
                    <th>Размер на договореното финансиране</th>
                    <th>Разплатени средства</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>12.02.2015 г.</td>
                    <td>176812126</td>
                    <td class="long-text"><div class="small-td">Обединени входове гр. Враца, жк. Младост бл.1</div></td>
                    <td>НПЕЕМЖС</td>
                    <td>Враца</td>
                    <td>Враца</td>
                    <td class="long-text"><div class="small-td">Гр. Враца, област Враца, жк. Младост бл. 1</div></td>
                    <td>682 624.15</td>
                    <td>676 430.01</td>
                    <td class="green">Приключен</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>13.02.2015 г.</td>
                    <td>176818727</td>
                    <td class="long-text">
                        <div class="small-td">Жилищен блок Спартак, гр.Плевен, ул. Георги Кочев №14</div>
                    </td>
                    <td>НПЕЕМЖС</td>
                    <td>Плевен</td>
                    <td>Плевен</td>
                    <td class="long-text">
                        <div class="small-td">гр. Плевен, област Плевен, ул. Георги Кочев №14</div>
                    </td>
                    <td>1 205 242.14</td>
                    <td>1 188 533.60</td>
                    <td class="green">Приключен</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>13.02.2015 г.</td>
                    <td>176821253</td>
                    <td class="long-text">
                        <div class="small-td">Мадара 28</div>
                    </td>
                    <td>НПЕЕМЖС</td>
                    <td>Варна</td>
                    <td>Варна</td>
                    <td class="long-text">
                        <div class="small-td">Гр. Варна, район Приморски, ул. Мадара№28, кв. Левски бл. 7</div>
                    </td>
                    <td>1 190 996.60</td>
                    <td>1 190 976.88</td>
                    <td class="green">Приключен</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>16.02.2015 г.</td>
                    <td>176817073</td>
                    <td class="long-text">
                        <div class="small-td">Блок 12 АБВГ - Гр. Момчилград, ул. Сан Стефано , №14, бл.12</div>
                    </td>
                    <td>НПЕЕМЖС</td>
                    <td>Момчиловград</td>
                    <td>Момчиловград</td>
                    <td class="long-text">
                        <div class="small-td">
                            гр. Момчилград, Област Кърджали, Община Момчилград п.к. 6800, ул. Сан Стефано №14, бл.12
                        </div>
                    </td>
                    <td>475 515.80</td>
                    <td>475 195.74</td>
                    <td class="green">Приключен</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>16.02.2015 г.</td>
                    <td>176817340</td>
                    <td class="long-text">
                        <div class="small-td">Родопи - гр. Момчилград, община Момчилград</div>
                    </td>
                    <td>НПЕЕМЖС</td>
                    <td>Момчиловград</td>
                    <td>Момчиловград</td>
                    <td class="long-text">
                        <div class="small-td">
                            Гр. Момчилград, Област Кърджали, община Момчилград п.к. 6800, ул. Гюмюрджинска №67, бл.1А
                        </div>
                    </td>
                    <td>472 228.80</td>
                    <td>472 228.80</td>
                    <td class="green">Приключен</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>17.02.2015 г.</td>
                    <td>176815802</td>
                    <td class="long-text">
                        <div class="small-td">
                            Да повишим качеството на живот, Гр. Мадан, община Мадан, ул. Република №26, бл.26
                        </div>
                    </td>
                    <td>НПЕЕМЖС</td>
                    <td>Мадан</td>
                    <td>Мадан</td>
                    <td class="long-text">
                        <div class="small-td">
                            гр. Мадан, Област Смолян, Община Мадан п.к. 4900, ул. Република №26, бл.26
                        </div>
                    </td>
                    <td>1 724 918.35</td>
                    <td>1 707 274.42</td>
                    <td class="green">Приключен</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>17.02.2015 г.</td>
                    <td>176815802</td>
                    <td class="long-text">
                        <div class="small-td">ГР.Мадан, община Мадан, ул. Паисйй Хилендарски №2, бл.2</div>
                    </td>
                    <td>НПЕЕМЖС</td>
                    <td>Мадан</td>
                    <td>Мадан</td>
                    <td class="long-text">
                        <div class="small-td">
                            Гр. Мадан, Област Смолян,Община Мадан п.к. 4900,ул. Паисий Хилендарски №2, бл.2
                        </div>
                    </td>
                    <td>1 668 708</td>
                    <td>1 654 068</td>
                    <td class="green">Приключен</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>17.02.2015 г.</td>
                    <td>176816651</td>
                    <td class="long-text">
                        <div class="small-td">Бл.64, гр.Мадан, ул. Обединение №64</div>
                    </td>
                    <td>НПЕЕМЖС</td>
                    <td>Мадан</td>
                    <td>Мадан</td>
                    <td class="long-text">
                        <div class="small-td">
                            гр. Мадан, Област Смолян, община Мадан п.к. 4900, Ул. Обединение №64, бл.64, вх. А, ет. 4,
                            ап. 12
                        </div>
                    </td>
                    <td>1 016 556</td>
                    <td>1 016 556</td>
                    <td class="green">Приключен</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>17.02.2015 г.</td>
                    <td>176817778</td>
                    <td class="long-text">
                        <div class="small-td">Република 8</div>
                    </td>
                    <td>НПЕЕМЖС</td>
                    <td>Мадан</td>
                    <td>Мадан</td>
                    <td class="long-text">
                        <div class="small-td">Гр. Мадан, Област Смолян, ул. Република №8, бл. 8</div>
                    </td>
                    <td>1 858 812</td>
                    <td>1 845 012</td>
                    <td class="green">Приключен</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>17.02.2015 г.</td>
                    <td>176815880</td>
                    <td class="long-text">
                        <div class="small-td">Единство 1982 Димитровград, ул. Захари Зограф 18</div>
                    </td>
                    <td>НПЕЕМЖС</td>
                    <td>Димитровград</td>
                    <td>Димитровград</td>
                    <td class="long-text">
                        <div class="small-td">гр. Димитровград, Област Хасково, п.к. 6400, ул. Захари Зограф №18</div>
                    </td>
                    <td>579 376.25</td>
                    <td>560 906.51</td>
                    <td class="orange">Подписан</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="register-first__main__bottom-nav">
        <span class="register-first__main__bottom-nav--results">Показване на 10 от 540 резултата</span>
        <div class="news-list__main__news__outer__list">
            <span class="active">1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
        </div>
    </div>
</div>
