<div class="news-details__main row zhalba__main">
    <div class="home__main__section--first news-list__main col-12 col-md-8">
        <div class="home__main__section--first__info
            news-list__main--first-section zhalba__main--section">
            <div class="home__main__section--first__info--text
                news-list__main--first-section--header
                news-details__main--header">
                <h2>Подаване на жалба</h2>
                <p>Жалба може да подадете също на адрес: <a
                        href="mailto:complaints@bdbank.bg">complaints@bdbank.bg</a>
                    Формуляр изтеглете <a href='#'>оттук.</a></p>
            </div>
        </div>
    </div>
    <div class="news-list__main--first-section--breadcrumb
        news-details__main--breadcrumb col-12 col-md-4">
        <div class="news-list__main--first-section--breadcrumb--old">
            <span>
                <a href="index.html">Начало</a>
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow"
                    />
            </span>
        </div>
        <div class="news-list__main--first-section--breadcrumb--active">
            <span><a href="zhalba.html">Жалби</a></span>
        </div>
    </div>
</div>

<div class="activity-details__main__form__main zhalba__form">
    <form class="activity-details__main__form__main__inner zhalba__form__inner">
        <div class="row">
            <div class="col-12 col-md-6">
                <input type="text" placeholder="Име*">
            </div>
            <div class="col-12 col-md-6">
                <input type="text"
                    placeholder="Фамилия*">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <input type="tel"
                    placeholder="ЕГН/ЕИК *">
            </div>
            <div class="col-12 col-md-6">
                <input type="email"
                    placeholder="И-мейл*">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <input type="tel"
                    placeholder="Телефон">
            </div>
            <div class="col-12 col-md-6">
                <input type="text"
                    placeholder="Адрес">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" placeholder="Относно *">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea name="" id="" cols="30" rows="10"
                    class="col-12" placeholder="Искане"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea name="" id="" cols="30" rows="10"
                    class="col-12" placeholder="Описание на проблема *"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label class="zhalba__form__inner__uploader"
                    for="zhalba--uploader">
                    <img src="../../assets/images/upload.svg" alt="Upload"
                        width="32" height="29">
                    <span>Кликнете, за да прикачите файл</span>
                </label>
                <input type="file" style="display:none" id="zhalba--uploader">
            </div>
        </div>
        <div class="row">
            <div class="col-12 zhalba__form__inner__files">
                <h4>Прикачени файлове</h4>
                <div class="zhalba__form__inner__files__inner">
                    <div class="zhalba__form__inner__files__inner__item">
                        <img src="../../assets/images/pdf.svg" alt="pdf"
                            width="46" height="52">
                        <div
                            class="zhalba__form__inner__files__inner__item--info">
                            <div class="d-flex justify-content-between">
                                <h6>Жалба за неприето он-лендинг финансиране.pdf</h6>
                                <span class="files--percentage">81%</span>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <progress class="progressor" max="100"
                                        value="81"></progress>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="zhalba__form__inner__files__inner">
                    <div class="zhalba__form__inner__files__inner__item">
                        <img src="../../assets/images/png.svg" alt="png"
                            width="46" height="52">
                        <div
                            class="zhalba__form__inner__files__inner__item--info">
                            <div class="d-flex justify-content-between">
                                <h6>Снимков Материал.png</h6>
                                <span class="files--percentage">100%</span>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <progress class="progressor" max="100"
                                        value="100"></progress>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="../../assets/images/complaints-succes-upload.svg"
                        alt="Success" class="tick success">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 activity-details__main__form__main--check
                zhalba__form__inner--check">
                <input type="checkbox" name=""
                    id="activity-details__main__form__main--check">
                <label for="activity-details__main__form__main--check">Съгласен
                    съм
                    личните ми данни да бъдат обработвани от Българска банка
                    за
                    развитие*</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="#"
                    class="activity-details__main__form__main--button
                    zhalba__form__inner--button">Изпрати</a>
            </div>
        </div>
    </form>
</div>
