.border-section{
    width: 100%;
    height: 14px;
    margin: 0;
    padding: 0;
    &--yellow{
        background-color: #ffd400;;
    }
    &--orange{
        background-color: #ec6601;
    }
    &--red{
        background-color: #d40e14;
    }
    &--green{
        background-color: #008559;
    }
    &--purple{
        background-color: #b70e77;
    }
    &--blue{
        background-color: #004f95;
    }
}