.contacts__main {
    padding: 0 11rem;
    &__header {
        margin-top: 3.81rem;
        margin-bottom: 3.2rem;
        h2 {
            font-size: 50px;
            font-weight: normal;
            line-height: 1.34;
            color: #000;
            margin: 0;
        }
    }
    &__body {
        &__form {
            input[type='text'],
            input[type='tel'],
            input[type='email'],
            textarea {
                padding: 16px 0 18px 29px;
                object-fit: contain;
                border-radius: 10px;
                box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1);
                background-color: #ffffff;
                width: 100%;
                margin-bottom: 30px;
                border: 0;
                &:focus {
                    border: 1px solid #000;
                    outline: none;
                }
            }
            textarea {
                border-radius: 30px;
                resize: none;
            }
            input[type='checkbox'] {
                width: 22px;
                height: 22px;
                box-shadow: 0 0 7px #d40e14, 0 0 0 30px #fff;
                margin-right: 3.2rem;
            }
            .contacts--check-label {
                font-size: 16px;
                line-height: 1.31;
                color: #aaaaaa;
                margin-bottom: 3.2rem;
                a {
                    text-decoration: underline;
                    color: #414141;
                    &:hover {
                        color: #d40e14;
                    }
                }
            }
            &--button {
                background-color: #d40e14;
                width: 16.25rem;
                padding: 24px 36px 24px 48px;
                outline: none;
                border: 0;
                color: #fff;
                margin-bottom: 4.94rem;
                margin-left: 0;
                border-radius: 10px;
                transition: margin-left 0.7s ease-in-out;
                &::after {
                    content: url('../../assets/images/right-white-arrow.svg');
                    width: 1.25rem;
                    margin-left: 0.75rem;
                    margin-right: 0.75rem;
                    display: inline-block;
                    vertical-align: middle;
                    transition: margin-left 0.7s ease-in-out;
                }
                &:hover {
                    margin-left: 2rem;
                    transition: margin-left 0.7s ease-in-out;
                    background-color: #138496;
                }
                &:hover::after {
                    margin-left: 2rem;
                    transition: margin-left 0.7s ease-in-out;
                }
            }
        }
        &__contacts {
            margin-left: 5.5rem;
            &__list {
                padding-left: 5.5rem;
                position: relative;
                list-style: none;
                // padding-left: 0;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 1.25rem;
                    width: 1px;
                    height: 100%;
                    background-color: #e3e3e3;
                }
                &__items {
                    display: flex;
                    align-items: center;
                    width: 90%;
                    padding: 0 56px 0 27px;
                    border-radius: 17px;
                    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.1);
                    background-color: #ffffff;
                    margin-bottom: 1rem;

                    span {
                        display: inline-block;
                        font-size: 20px;
                        line-height: 1.35;
                        color: #252525;
                    }
                    img {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .contacts__main {
        padding: 0;
        &__header {
            h2 {
                font-size: 30px;
                font-weight: 500;
                text-align: center;
            }
        }
        &__body {
            &__form {
                padding: 0 2rem;
                input[type='checkbox'] {
                    margin-right: 1rem;
                }
                .contacts--check-label {
                    display: inline;
                }
                &--button {
                    display: block;
                    margin: 3.2rem auto;
                }
            }
            &__contacts {
                margin-left: 0;
                &__list {
                    padding: 0 1rem;
                    &::before {
                        width: 0;
                    }
                    &__items {
                        width: 100%;
                        padding: 0;
                        padding-right: 1%;
                        span {
                            font-size: 0.9625em;
                        }
                        img {
                            width: 5rem;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 300px) {
    .contacts__main {
        &__body {
            &__contacts {
                &__list {
                    padding: 0;
                    &__items {
                        img {
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
}
