{{> _miniNavigation}} {{> _navigationMobile}}

<header id="checkout" class="header container">
    <div class="row header__heading">
        <h2>Deine Auswahl</h2>
    </div>
    <div class="row header__heading--sub">
        <h4>Vom xx.xx.xx um xx:xx Uhr</h4>
    </div>
    <div class="row header__price">
        <div class="header__price__block d-block d-md-flex">
            <div class="d-flex header__price__logo">
                <img
                    src="../../assets/images/np_electricity_2169306_000000.png"
                    srcset="
                        ../../assets/images/np-electricity-2169306-000000@2x.png 2x,
                        ../../assets/images/np-electricity-2169306-000000@3x.png 3x
                    "
                    class="np_electricity_2169306_000000"
                    alt="Electricity"
                />
            </div>
            <div class="header__price__info" id="visible">
                <h4>Tarifname</h4>
                <p>3.500 kWh</p>
            </div>
            <span id="checkout__header__nav"><img src="../../assets/images/arrowDn.svg" alt="arrow nav icon" /></span>
        </div>
        <div class="header__price__info nav__items">
            <h4>Pro Monat</h4>
            <p>86,00€ *</p>
        </div>
        <div class="header__price__info nav__items">
            <h4>Bonus</h4>
            <p>250,00€ *</p>
        </div>
        <img class="bee" src="../../assets/images/whiteBeeWithTail.png" alt="Bee" />
    </div>
</header>
