<section class="dankesseite__main--first">
    <div class="dankesseite__main--first__header">
        <h2>So geht es weiter</h2>
    </div>
    <div class="container dankesseite__main--first__body">
        <div class="row">
            <div class="col-12 col-md-3">
                <section class="card dankesseite__main--first__body__card">
                    <div class="dankesseite__main--first__body__card__header">
                        <img src="../../assets/images/Icon - Mail.svg" alt="Mail icon" />
                    </div>
                    <div class="card-body dankesseite__main--first__body__card__body">
                        <p class="card-text">
                            Schau in dein E-Mail-Postfach. Wir haben dir eine Bestätigung geschickt, dass dein Auftrag
                            eingegangen ist.
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-12 col-md-3">
                <section class="card dankesseite__main--first__body__card">
                    <div class="dankesseite__main--first__body__card__header">
                        <img src="../../assets/images/Icon - Bills.svg" alt="Bills icon" />
                    </div>
                    <div class="card-body dankesseite__main--first__body__card__body">
                        <p class="card-text">
                            Wir bearbeiten deinen Auftrag und melden uns so schnell es geht bei dir. Rechne ungefähr mit
                            14 Tagen bis dein neuer Vertrag bei dir eintrifft und der grüne Strom fließt.
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-12 col-md-3">
                <section class="card dankesseite__main--first__body__card">
                    <div class="dankesseite__main--first__body__card__header">
                        <img src="../../assets/images/Icon - Energy.svg" class="card-img-top" alt="Energy icon" />
                    </div>
                    <div class="card-body dankesseite__main--first__body__card__body">
                        <p class="card-text">
                            Geschafft. Du bist jetzt greenergy24 Kunde. Das freut die Umwelt und uns natürlich auch.
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-12 col-md-3">
                <section class="card dankesseite__main--first__body__card">
                    <div class="dankesseite__main--first__body__card__header">
                        <img src="../../assets/images/noun_Present_1681553.svg" alt="Present icon" />
                    </div>
                    <div class="card-body dankesseite__main--first__body__card__body">
                        <p class="card-text">
                            Das war noch nicht alles! Da du zu den ersten 100 Kunden gehörst, kannst du dich über ein
                            kleines Geschenk freuen, das wir handverpackt zu dir nach Hause schicken. Sei gespannt.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
