<footer class="footer">
    <div class="row footer__header">
        <h3>Entdecke grünen Strom</h3>
    </div>
    <div class="row">
        <ul class="footer__socials">
            <li><img class="icon icon--light"
                    src="../../assets/images/linkedin.png"
                    alt="LinkedIn logo"></li>
            <li><img class="icon icon--light"
                    src="../../assets/images/facebook.png"
                    alt="Facebook logo"></li>
            <li><img class="icon icon--light"
                    src="../../assets/images/instagram.png"
                    alt="Instagram logo"></li>
            <li><img class="icon icon--light"
                    src="../../assets/images/twitter.png"
                    alt="Twitter logo"></li>
            <li class="d-none d-md-block"><img class="icon icon--light"
                    src="../../assets/images/youtube.png"
                    alt="YouTube logo"></li>
            <li class="d-none d-md-block"><img class="icon icon--light"
                    src="../../assets/images/vimeo.png"
                    alt="Vimeo logo"></li>
        </ul>
    </div>
    <div class="row footer__text">
        <h3>Unsere Markenwelt</h3>
    </div>
    <div class="container">
        <ul class="row footer__links">
            <li class="col-6 col-md-2 "><img src="../../assets/images/stadtWerke.png"
                    width="60"
                    height="50" alt="Stad Werke logo"></li>
            <li class="col-6 col-md-2"><img src="../../assets/images/greenErgy24.png"
                    width="70"
                    height="40" alt="Green ergy logo"></li>
            <li class="col-6 col-md-2"><img src="../../assets/images/Rouven2.png"
                    width="80"
                    height="80" alt="Rouven logo"></li>
            <li class="col-6 col-md-2"><img src="../../assets/images/IdeenStadtWerke.png"
                    width="80"
                    height="60" alt="Ideen Stad Werke logo"></li>
            <li class="col-6 col-md-2"><img src="../../assets/images/Rouven.png"
                    width="80"
                    height="16" alt="Rouven logo"></li>
            <li class="col-6 col-md-2"><img src="../../assets/images/Balmeon.png"
                    width="42"
                    height="60" alt="Balmeon logo"></li>
        </ul>
    </div>
    <div class="row footer__logo">
        <img src="../../assets/images/greenErgy24.png" alt="Green Ergy logo">
    </div>
    <div class="row footer__logo__text">
        <h4>Günstig guter Strom</h4>
    </div>
    <div class="row">
        <ul class="footer__nav">
            <li>Impressum</li>
            <li>Allgemeine Nutzungsbedingungen</li>
            <li>Datenschutz</li>
        </ul>
    </div>
    <div class="row footer__nav__copyright">
        <h4>© 2020 greenergy24</h4>
    </div>
    <span class="message"><img src="../../assets/images/np_chat_2801618_000000.png" alt="Message logo"></span>

</footer>