<section class="container gallery">
    <div class="row">
        <div class="col-12 col-md-7 img-gallery">
            <img src="../../assets/images/trollinho-1dCrnzJIGFE-unsplash.png"
                alt="trollinho image" title="Trollinho">
        </div>
        <div class="col-12 col-md-5 gallery__f-row">
            <h3>Öko-Upgrade für dein Zuhause</h3>
            <p>Zum Einkaufen gehst du nie ohne deinen Jutebeutel und
                selbst für Obst und Gemüse – vom Wochenmarkt, na klar –
                hast du eigene kleine Beutelchen, du stöberst in Secondhand
                Shops – aber das reicht dir noch nicht? Du willst mehr für die
                Umwelt tun? Dann wird es Zeit, deinem Strom ein Upgrade zu
                verpassen! greenergy24 liefert 100% sauberen Ökostrom
                direkt zu dir nach Hause. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 order-1 order-md-0 gallery__s-row">
            <h3>Noch grüner mit Ökogas</h3>
            <p>Es ist fast schon in der Pipeline: Wir erweitern bald unser
                Angebot. Demnächst können wir dir neben Ökostrom auch
                klimaneutrales Ökogas anbieten. Dann wird dein
                Energieverbrauch noch sauberer und du kannst deinen
                ökologischen Fußabdruck weiter reduzieren. </p>
        </div>
        <div class="col-12 col-md-6 order-0 order-md-1">
            <picture>
                <source media="(max-width:750px)" class="img-gallery"
                    srcset=".../../assets/images/kiki-wang-TOc_JldXOX8-unsplash.png">
                <img class="img-gallery--second"
                    src="../../assets/images/shutterstock_1440165473.png"
                    alt="Shutter Stock" title="Shutter Stock"></div>
        </picture>
    </div>
</section>