<nav class="d-flex navbar navbar-expand-none
    d-md-none ">
    <div class="container">
        <nav class="d-flex navbar navbar-light bg-faded
            navbar-toggleable-md nav--mobile">


            <div class="nav--mobile__logo">
                <img
                    src="../../assets/images/greenergy24_Logo_RGB.png"
                    alt="Image logo" />
            </div>
            <div>

                <button class="navbar-toggler collapsed nav__button"
                    type="button" 
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarToggler"
                    aria-controls="navbarToggler"
                    aria-expanded="false" aria-label="Toggle
                    navigation">

                    <img class="close"
                        src="../../assets/images/icon-close.svg"
                        width="100%" alt="Close icon">
                    <img src="../../assets/images/Group.svg"
                        class="navbar-toggler-image" alt="Navbar
                        Toggler
                        image">
                </button>
            </div>

        </nav>

        <div class="collapse navbar-collapse"
            id="navbarToggler">

            <ul class="nav--mobile__main">
                <li class="nav--mobile__main__item active">Start</li>
                <li class="nav--mobile__main__item">Über Uns</li>
                <hr id="vertical-line--green">
                <li class="nav--mobile__main__item nav--mobile__main__item--sub">Hotline 0800 234567</li>
                <li class="nav--mobile__main__item nav--mobile__main__item--sub underline">Kontakt</li>
            </ul>

        </div>
    </div>
</nav>