    <nav class="d-none
    d-md-block">
    <ul class="navbar__contacts">
        <li><a href="#">Hotline 0800 234567</a> </li>
        <li><a class="underline" id="contact" href="#">Kontakt</a> </li>
    </ul>

    <ul class="navbar__header">
        <li class="navbar__header__tabs active">Start</li>
        <li><img id="logo__header"
                src="../../assets/images/greenergy24_Logo_RGB.png"
                alt="Green Ergy 24 Logo"></li>
        <li class="navbar__header__tabs">Über Uns</li>
    </ul>

</nav>

{{> _navigationMobile}}