<section class="news_unt__main">
    <div class="container news_unt__main__first">
        <div class="row news_unt__main__first__author">
            <h3>Autor | März 30, 2020</h3>
        </div>
        <div class="row news_unt__main__first__header">
            <h2>Bienen schützen – Hilfe für die Vielflieger</h2>
        </div>
        <div class="row news_unt__main__first__text">
            <p>
                Dass die Biene unser Lieblingstier ist, überrascht dich vermutlich wenig. Schließlich findet sie sich
                als Element in unserem Corporate Design wieder – so gerne haben wir die kleine Imme. Deshalb widmen wir
                ihr auch unseren allerersten Blog-Beitrag. Im Tierreich gilt sie nicht ohne Grund als Inbegriff für
                Fleiß: Während ihres Lebens legt eine Honigbiene schätzungsweise 8000 Kilometer zurück. Das ist ungefähr
                die Strecke von Hannover nach Peking. Wenn wir von Bienen im Allgemeinen sprechen, meinen wir meistens
                die Honigbiene. Doch allein in Deutschland gibt es mehr als 560 und weltweit mehr als 20.000
                Bienenarten. Im Staat lebt jedoch nur die Honigbiene. Im Laufe ihres Lebens übernimmt sie für ihr
                Bienenvolk verschiedene Berufe – so reinigt sie am Anfang ihres Lebens die Waben, später versorgt sie
                die Larven, baut die Waben, verarbeitet Honig, wehrt Eindringlinge ab und erst danach schwärmt sie aus
                und sammelt Nektar und Pollen. Allein für diese Arbeitsteilung, die ohne Kompromisse oder
                Projektmanagement-Tools funktioniert, sollte sie einen Orden erhalten, finden wir. Bienen leisten trotz
                ihrer geringen Körpergröße einen gigantischen Beitrag zu einem gesunden Ökosystem. Durch ihre
                Bestäubungsrolle sind sie sowohl für die Artenvielfalt als auch für ertragreiche Ernten unersetzlich.
                Deshalb gehört ihnen der dritte Platz, hinter Rind und Schwein, beim Ranking der wichtigsten
                landwirtschaftlichen Nutztiere. Doch die Bienen sind bedroht: Der Einsatz von Pestiziden, Schadstoffe in
                der Luft, Zerschneidung der Lebensräume, der Klimawandel, der Rückgang von landwirtschaftlichen Flächen
                und die Ausweitung von Monokulturen sind Gründe für das Bienensterben. Vor allem gefährdet die
                Varroamilbe und die Chemikalien, die Imker*innen zum Schutz davor anwenden, die Biene. Wir bei
                greenergy24 machen uns nicht nur für den Schutz der Honigbiene, sondern auch für den der Wildbienen
                stark. Denn was die Wildbiene schützt, kommt auch den Honigbienen zugute. Honigbienen sind auf
                Futtersuche unkompliziert und können bei vielen Blühpflanzen sammeln. Die Wildbienenarten haben sich
                jedoch auf einzelne Pflanzen spezialisiert. Der Schutz der summenden und brummenden Vielflieger ist
                einfach. Ein paar Möglichkeiten stellen wir dir hier vor – für einige brauchst du nicht mal einen Garten
                oder Balkon. !
            </p>
        </div>

        <div class="row news_unt__main__first__list">
            <ol>
                <li>Bienenfreundlich pflanzen</li>
                <br>
                <p>
                    Eine Pflanze ist dann bienenfreundlich, wenn sie entweder Nektar oder Pollen anbietet. Viele
                    Zierpflanzen sind überzüchtet und haben gefüllte Blüten, z.B. zahlreiche Rosenarten oder Geranien.
                    Sie entpuppen sich als echte Irrlichter für Insekten, da sie sie zwar anlocken, jedoch keine Nahrung
                    bieten. Wenn du für Bienen pflanzen möchtest, achte darauf, ungefüllte Blumen zu säen oder zu
                    pflanzen. Bienen benötigen vom Frühjahr bis zum Herbst Nahrung – daher solltest du auch die
                    Blühzeiten der Pflanzen im Auge behalten. Früh im Jahr blühen Krokusse, Schneeglöckchen oder Tulpen,
                    später Pflanzen wie Schafgarbe, Glockenblume, Löwenmäulchen, Lavendel oder weiße Fetthenne. Im
                    Herbst freuen sich die Bienen, wenn sie Astern, Besenheide oder Sonnenblumen zum Ansteuern haben.
                    Falls du noch größer pflanzen möchtest, kannst du heimische Wildstaudenbeete anlegen.
                </p>
                <p>
                    Selbst wenn du keinen Garten hast, kannst du selbst dein geliebtes Balkonien in ein buntes
                    Bienen-Buffet verwandeln. Hier eignen sich Margeriten, Männertreu, Steinkraut und viele weitere
                    Pflanzen. Besonders praktisch ist natürlich die Bepflanzung mit Küchenkräutern wie Thymian, Oregano,
                    Rosmarin, Minze oder Dill – das schmeckt doppelt!
                </p>
                <li>Nistplätze anbieten</li>
                <p>
                    Je nachdem, wie viel Platz du hast, ist von einem 5-Sterne-Wildbienenhotel bis einzelnen
                    Markstängeln alles denkbar. Diese Insektenhotels kannst du fertig kaufen oder mit etwas Geschick
                    selbst basteln. Je nach Größe kannst du sie an das Balkongeländer hängen oder im Garten aufstellen.
                    Besonders verlockend ist es für die summenden Gäste, wenn in direkter Umgebung blühende Wildblumen
                    angesiedelt sind – also eine echte 1A-Lage. Ist nicht so viel Platz vorhanden, können auf dem Balkon
                    auch einzelne hohle oder markhaltige Stängel von Bambus, Schilf, Brombeere oder Holunder senkrecht
                    in die Blumenkästen gesteckt werden. Einige Bienenarten nisten im Erdboden – für sie kannst du
                    beispielsweise einen einzelnen Blumenkasten mit etwas Erde, Sand und Steinen herrichten.
                </p>

                <li>Tränken aufstellen</li>
                <p>
                    Auch Bienen haben Durst. Wenn keine natürliche Wasserquelle in der Nähe ist, kannst du eine
                    bienengerechte Trinkstation basteln. Dafür eignet sich eine mit Wasser gefüllte Schale. Damit die
                    Immen nicht ertrinken, kannst du etwas Moos, Steine oder Kork als Landeflächen umfunktionieren.
                    Wechsel regelmäßig das Wasser aus. Der perfekte Platz für die Tränke ist sonnig, windgeschützt und
                    neben den Blumen.
                </p>
                <li>Seedbombs werfen</li>
                <p>
                    Seedbombs sind kleine, getrocknete Samenkugeln aus Ton, Erde und Samen, die bei Kontakt mit Wasser
                    anfangen zu keimen. Du kannst so entweder im Garten eine kleine Wildblumenwiese anlegen, sie in
                    einen Blumentopf pflanzen oder sie auf städtische Brachflächen werfen – kurz nach dem nächsten
                    Regenschauer fangen die Samen an zu sprießen und innerhalb von vier bis sechs Wochen erblühen sie.
                </p>
                <li>Bienenfreundlich einkaufen</li>
                <p>
                    Schon beim Einkauf kannst du Bienen schützen. Durch den Kauf saisonaler Lebensmittel, die aus
                    ökologischer und sogar regionaler Landwirtschaft stammen, kannst du einen Beitrag zum Schutz der
                    Bienen leisten. Beim Anbau dieser Lebensmittel wird meistens auf bienenschädliche Pestizide
                    verzichtet.
                </p>
                <li>Regionalen Honig kaufen</li>
                <p>
                    Der größte Teil des Honigs, den wir verbrauchen, stammt aus Nicht-EU-Ländern. Abgesehen von den
                    langen Transportstrecken, können über den Honig auch Bienenkrankheiten ungewollt importiert werden.
                    Kaufe deshalb doch einfach direkt Honig aus deiner Region – vielleicht kennst du sogar Imker*innen?
                    Dann schmeckt das Honigbrot gleich besonders gut.
                </p>
                <li>Leere Honiggläser ausspülen</li>
                <p>
                    Wenn du leere Honiggläser ausspülst, verhinderst du die Ausbreitung von Bienenkrankheiten wie der
                    amerikanischen Faulbrut. Diese Krankheiten schmuggeln sich unbemerkt beim Import von Honig aus
                    Nicht-EU-Ländern ein. Werden die Gläser dann im Glasmüll entsorgt, steuern die fleißigen Bestäuber
                    die Quelle des Dufts an und bringen so die Krankheit zu ihrem Bienenvolk. Also wasche einfach leere
                    Gläser in der Spülmaschine oder mit der Hand, bevor du sie entsorgst.
                    <br />
                    Lass uns auf den sozialen Medien wissen, wie du die Bienen schützt und stelle uns deine Projekte zum
                    Schutz der Bienen vor!
                </p>
            </ol>
        </div>
    </div>
</section>
