<section class='container news-section'>
    <div class="row news-section__header">
        <h2>News</h2>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4 col-md-6">
            <div class="card news-section__card">
                <img src="../../assets/images/aaron-burden-GVnUVP8cs1o-unsplash.png" class="card-img-top" alt="Aaron">
                <div class="card-body">
                  <h3>Lorem ipsum dolor sit amet</h3>  
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur
                    sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt. <img src="../../assets/images/np_arrow_1569919_000000.png" alt="left arrow"></p>
                    
                </div>
              </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6">
            <div class="card news-section__card">
                <img src="../../assets/images/aaron-burden-GVnUVP8cs1o-unsplash.png" class="card-img-top" alt="Aaron">
                <div class="card-body">
                  <h3 >Lorem ipsum dolor sit amet</h3>  
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur
                    sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt. <img src="../../assets/images/np_arrow_1569919_000000.png" alt="left arrow"></p>
                    
                </div>
              </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6">
            <div class="card news-section__card">
                <img src="../../assets/images/aaron-burden-GVnUVP8cs1o-unsplash.png" class="card-img-top" alt="Aaron">
                <div class="card-body">
                  <h3>Lorem ipsum dolor sit amet</h3>  
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur
                    sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt. <img src="../../assets/images/np_arrow_1569919_000000.png" alt="left arrow"></p>
                    
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4 col-md-6 d-none d-md-block">
            <div class="card news-section__card">
                <img src="../../assets/images/aaron-burden-GVnUVP8cs1o-unsplash.png" class="card-img-top" alt="Aaron">
                <div class="card-body">
                  <h3>Lorem ipsum dolor sit amet</h3>  
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur
                    sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt. <img src="../../assets/images/np_arrow_1569919_000000.png" alt="left arrow"></p>
                    
                </div>
              </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 d-none d-md-block">
            <div class="card news-section__card">
                <img src="../../assets/images/aaron-burden-GVnUVP8cs1o-unsplash.png" class="card-img-top" alt="Aaron">
                <div class="card-body">
                  <h3>Lorem ipsum dolor sit amet</h3>  
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur
                    sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt. <img src="../../assets/images/np_arrow_1569919_000000.png" alt="left arrow"></p>
                    
                </div>
              </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 d-none d-md-block">
            <div class="card news-section__card">
                <img src="../../assets/images/aaron-burden-GVnUVP8cs1o-unsplash.png" class="card-img-top" alt="Aaron">
                <div class="card-body">
                  <h3>Lorem ipsum dolor sit amet</h3>  
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur
                    sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt. <img src="../../assets/images/np_arrow_1569919_000000.png" alt="left arrow"></p>
                    
                </div>
              </div>
        </div>
    </div>
</section>