<header class="news__header">
    <div class="news__header__info">

        <h2>News</h2>
        <h3>
            Hier findest du regelmäßig Neuigkeiten über unsere aktuellen und abgeschlossenen Projekte. Manchmal schreiben
            wir auch einfach über das, was uns zu den Themen Energie und Klimaschutz bewegt oder über andere spannende
            Aktionen. Außerdem erfährst du hier Wissenswertes über den Schutz der Bienen und was sonst so abgeht bei uns.
        </h3>
    </div>
    <img src="../../assets/images/greenBee.png" alt="Green Bee" />
</header>
