<section class="news_unt__main">
    <div class="container news_unt__main__first">
        <div class="row news_unt__main__first__author">
            <h3>Autor | März 30, 2020</h3>
        </div>
        <div class="row news_unt__main__first__header">
            <h2 class="underline">Umweltschutz vs. Corona?</h2>
        </div>
        <div id="corona-news-section" class="row news_unt__main__first__text">
            <p>
                Während der Corona-Krise über die Klimakrise sprechen? Da platzt der Kopf, oder? Also wollen wir mal
                etwas positiver anfangen, denn die erzwungene Entschleunigung hat auch ein paar gute Seiten – und du
                kommst besser durch den Tag, wenn es nicht nur Horrormeldungen gibt.
            </p>
            <p>
                Wie Satellitenbilder zeigen, lässt der Stillstand der Industrie die Luftverschmutzung zurückgehen. Kein
                Witz. Fischbestände erholen sich, die CO2-Emissionen sinken und da, wo der Mensch sich im Alltag
                zurückzieht, da können sich jetzt Fuchs und Hase gute Nacht sagen.
            </p>
            Klar, wirst du jetzt vielleicht denken. Wenn alle zu Hause sitzen, anstatt zur Arbeit zu gehen, die Fabriken
            leer sind und Schüler*innen sich über extra lange Ferien freuen, dann ist das ja auch nicht anders zu
            erwarten. Nur so lässt sich keine Gesellschaft machen.
            <p>
                Tja, eine ziemlich schwierige Sache, da hast du völlig recht. Aber wir wollen die Sache einmal anders
                angehen. Jetzt, da so viele Bereiche der Gesellschaft vom Lockdown betroffen sind, könnte aus dem
                Neustart, der bald wieder kommt, genauso ein Neustart für die Umwelt werden. Wieso sollte man auch nach
                einer Zwangspause wieder in den alten Trott zurückfallen. Das ist nicht nur wenig innovativ, sondern
                auch stinklangweilig. Jetzt ist also genau die richtige Zeit mit alten Mustern zu brechen, sich endlich
                im Fitnessstudio anzumelden - sobald es wieder auf hat natürlich -, einen kleinen Welpen zu adoptieren,
                Blumen auf dem Balkon zu pflanzen oder die Student*innen-WG auf Next-Level-Ökostrom umzustellen. Und
                wenn du lieber erstmal im Kleinen anfangen willst, dann sprich doch mal deine Freund*innen darauf an, ob
                Fahrradfahren nicht eine echte Alternative zu Auto oder Bus ist.
            </p>
            <p>
                Wir glauben, dass auch in schweren Zeiten die Energiewende eines der wichtigsten Themen im öffentlichen
                Gedächtnis bleiben muss. Und auch, wenn jetzt Plastikscheiben zwischen unseren Schreibtischen stehen und
                wir mit Masken in der Bahn sitzen, dürfen wir die Klimakrise nicht vergessen. Aber wir sind uns sicher,
                zusammen kriegen wir die Kurve und bauen uns eine grüne Zukunft.
            </p>
        </div>
    </div>
</section>
