<section class="news_unt__main">
    <div class="container news_unt__main__first">
        <div class="row news_unt__main__first__author">
            <h3>Autor | März 30, 2020</h3>
        </div>
        <div class="row news_unt__main__first__header">
            <h2>8 Tipps zum Stromsparen, die du bestimmt nicht auf dem Schirm hast</h2>
        </div>
        <div class="row news_unt__main__first__text">
            <p>
                Du knipst Standby-Geräte vollständig aus, achtest beim Kauf neuer Geräte auf die bestmögliche
                Energieeffizienzklasse und ziehst akribisch genau nach jedem Aufladen des Smartphones den Stecker: Wenn
                du diese Maßnahmen wirklich befolgst, bist du wahrscheinlich schon fortgeschritten im Stromsparen. Aber
                auch für dich haben wir ein paar Tipps, die du vielleicht noch nicht kennst.
            </p>
        </div>

        <div class="row news_unt__main__first__list">
            <ol>
                <li>Verwende dimmbare Lampen, damit du deinen Lichtbedarf genau regulieren kannst.</li>
                <p>
                    Zusätzlich können reflektierende Lampenschirme geschickt die indirekte Beleuchtung erhöhen und du
                    benötigst so weniger Lichtstärke.
                </p>

                <li>Reinige das Flusensieb deines Wäschetrockners regelmäßig.</li>
                <p>
                    Denn bei einem vollen Sieb benötigt der Trockner mehr Energie, weil die Trocknungszeit durch ein
                    volles Sieb verlängert wird. Am besten ist es natürlich, wenn du die Wäsche an der Luft trocknen
                    lässt.
                </p>

                <li>Achte beim Kauf eines neuen Laptops darauf,</li>
                <p>
                    dass dieser statt mit einer herkömmlichen HDD-mit einer SSD-Festplatte ausgestattet ist.
                    HDD-Festplatten verbrauchen mehr Strom, da sie einen Motor benötigen, der die Rotation der Scheiben
                    antreibt, auf denen die Daten geschrieben werden. SSD-Festplatten benötigen weniger Strom, da sie
                    keine beweglichen Elemente besitzen.
                </p>

                <li>Tausche deinen Duschkopf gegen einen Sparduschkopf aus.</li>
                <p>
                    In diesen ist ein spezieller Filter eingebaut, der dem Wasser etwas Luft beimischt. Ein Unterschied
                    in der Duschqualität ist meistens kaum zu bemerken. Da weniger Wasser zum Duschen benötigt wird,
                    muss auch nur eine kleinere Menge Wasser erhitzt werden. Ein Wechsel des Duschkopfs lohnt sich also
                    nur, wenn du, wie die meisten Menschen, warm duschst. Wir bei greenergy24 sind auf jeden Fall echte
                    Warmduscher*innen. Achso: Das Gleiche gilt natürlich auch für den Wasserhahn in der Küche.
                </p>

                <li>Eine Kühltruhe ist sparsamer als ein Gefrierschrank,</li>
                <p>
                    allem dann, wenn sie zusätzlich noch im kühlen Keller steht. Kalte Luft ist schwerer als warme Luft,
                    wenn du also die Kühltruhe öffnest, entweicht weniger kalte Luft als bei einem Eisfach, das du
                    frontal öffnest. Außerdem dichtet der schwere Deckel der Truhe gut ab. Zusätzlich sind Eistruhen
                    besser isoliert. Gefrierfächer sind schlechter isoliert, da sie sehr kompakt sind und eine bessere
                    Isolierung die Nutzfläche weiter reduzieren würde. Aber vor allem sollte das Kühlgerät natürlich zum
                    persönlichen Bedarf passen.
                </p>
                <li>Tausche Glühbirnen gegen LEDs aus.</li>
                <p>
                    Glühbirnen (selbst Energiesparlampen) verbrauchen mehr Energie als LEDs oder Halogen. Falls eine
                    Umrüstung in Frage kommt: Beachte, dass die Watt-Angaben nicht vergleichbar sind. Eine LED erreicht
                    bei deutlich weniger Watt die gleiche Helligkeit. Außerdem kann die Farbtemperatur unabhängig von
                    der Watt-Zahl gewählt werden.
                </p>

                <li>Schließe deine Waschmaschine an die Warmwasserleitung an,</li>
                <p>
                    dies sollte bei den meisten Geräten möglich sein. Ein großer Kostenfaktor beim Waschen ist, dass das
                    Wasser auf die gewählte Temperatur erhitzt werden muss. Allerdings ergibt dies nur Sinn, wenn das
                    Warmwasser über eine Solartherme oder einem energieeffizienten Gaskessel erhitzt wird.
                </p>

                <li>Benutze den Wasserkocher, um Kochwasser vorzuheizen.</li>
                <p>
                    Benötigst du nur geringe Mengen an heißem Wasser auf dem Elektroherd, kannst du Energie sparen, wenn
                    du dafür einen Wasserkocher verwendest. Die Regel ist: Je mehr kochendes Wasser du benötigst, desto
                    sinnvoller ist es, es direkt auf dem Herd zu machen. Hast du noch einen Stromspartipp, den jeder
                    kennen sollte? Lass uns in den sozialen Medien wissen.
                </p>
            </ol>
        </div>
    </div>
</section>
