<section>
    <div class="news_unt__main__top__footer">
        <div class="container">
            <div class="row news_unt__main__top__footer__main">
                <h4>Jetzt teilen:</h4>
                <div class="logos">
                    <img src="../../assets/images/linkedin-brands.svg" alt="LinkedIn logo" />
                    <img src="../../assets/images/facebook-square-brands.svg" alt="facebook logo" />
                    <img src="../../assets/images/twitter-square-brands.svg" alt="facebook logo" />
                </div>
            </div>
        </div>
    </div>

    <div class="row news_unt__main__footer">
        <span id="news_unt__main__footer--prev-arrow" class="news_unt__main__footer--left-arrow">
            <img src="../../assets/images/icon-arrow-long-left.svg" alt="Icon arrow left" />
            Vorheriger
        </span>
        <span id="news_unt__main__footer--next-arrow"class="news_unt__main__footer--right-arrow">
            <img src="../../assets/images/icon-arrow-long.svg" alt="Icon arrow right" />
            Nächster
        </span>
    </div>
</section>
