<section class="news__main">
    <div class="container-fluid news__main__body">
        <div class="row">
            <div class="col-12 col-md-4">
                <section class="card news__main__body__card">
                    <div class="news__main__body__card__header">
                        <img src="../../assets/images/serhii-butenko-zx2Vc1zPDIs-unsplash.jpg" alt="Mail icon" />
                        <span class="date">März 30</span>
                    </div>
                    <div class="card-body news__main__body__card__body">
                        <h4 class="card-title">Hier steht die News Headline</h4>
                        <p class="card-text">
                            Schau in dein E-Mail-Postfach. Wir haben dir eine Bestätigung geschickt, dass dein Auftrag
                            eingegangen ist.
                        </p>
                        <a href="#">Mehr dazu</a>
                    </div>
                </section>
            </div>
            <div class="col-12 col-md-4">
                <section class="card news__main__body__card">
                    <div class="news__main__body__card__header">
                        <img src="../../assets/images/serhii-butenko-zx2Vc1zPDIs-unsplash.jpg" alt="Mail icon" />
                        <span class="date">März 30</span>
                    </div>
                    <div class="card-body news__main__body__card__body">
                        <h4 class="card-title">Hier steht die News Headline</h4>
                        <p class="card-text">
                            Schau in dein E-Mail-Postfach. Wir haben dir eine Bestätigung geschickt, dass dein Auftrag
                            eingegangen ist.
                        </p>
                        <a href="#">Mehr dazu</a>
                    </div>
                </section>
            </div>
            <div class="col-12 col-md-4">
                <section class="card news__main__body__card">
                    <div class="news__main__body__card__header">
                        <img src="../../assets/images/serhii-butenko-zx2Vc1zPDIs-unsplash.jpg" alt="Mail icon" />
                        <span class="date">März 30</span>
                    </div>
                    <div class="card-body news__main__body__card__body">
                        <h4 class="card-title">Hier steht die News Headline</h4>
                        <p class="card-text">
                            Schau in dein E-Mail-Postfach. Wir haben dir eine Bestätigung geschickt, dass dein Auftrag
                            eingegangen ist.
                        </p>
                        <a href="#">Mehr dazu</a>
                    </div>
                </section>
            </div>
        </div>
        <div class="row d-none d-md-flex">
            <div class="col-12 col-md-4">
                <section class="card news__main__body__card">
                    <div class="news__main__body__card__header">
                        <img src="../../assets/images/serhii-butenko-zx2Vc1zPDIs-unsplash.jpg" alt="Mail icon" />
                        <span class="date">März 30</span>
                    </div>
                    <div class="card-body news__main__body__card__body">
                        <h4 class="card-title">Hier steht die News Headline</h4>
                        <p class="card-text">
                            Schau in dein E-Mail-Postfach. Wir haben dir eine Bestätigung geschickt, dass dein Auftrag
                            eingegangen ist.
                        </p>
                        <a href="#">Mehr dazu</a>
                    </div>
                </section>
            </div>
            <div class="col-12 col-md-4">
                <section class="card news__main__body__card">
                    <div class="news__main__body__card__header">
                        <img src="../../assets/images/serhii-butenko-zx2Vc1zPDIs-unsplash.jpg" alt="Mail icon" />
                        <span class="date">März 30</span>
                    </div>
                    <div class="card-body news__main__body__card__body">
                        <h4 class="card-title">Hier steht die News Headline</h4>
                        <p class="card-text">
                            Schau in dein E-Mail-Postfach. Wir haben dir eine Bestätigung geschickt, dass dein Auftrag
                            eingegangen ist.
                        </p>
                        <a href="#">Mehr dazu</a>
                    </div>
                </section>
            </div>
            <div class="col-12 col-md-4">
                <section class="card news__main__body__card">
                    <div class="news__main__body__card__header">
                        <img src="../../assets/images/serhii-butenko-zx2Vc1zPDIs-unsplash.jpg" alt="Mail icon" />
                        <span class="date">März 30</span>
                    </div>
                    <div class="card-body news__main__body__card__body">
                        <h4 class="card-title">Hier steht die News Headline</h4>
                        <p class="card-text">
                            Schau in dein E-Mail-Postfach. Wir haben dir eine Bestätigung geschickt, dass dein Auftrag
                            eingegangen ist.
                        </p>
                        <a href="#">Mehr dazu</a>
                    </div>
                </section>
            </div>
        </div>
        <div class="row news__main__body__button">
            <a href="#">Mehr laden</a>
        </div>
    </div>
</section>
