<section class="container rating">
    <div class="rating__header">
        <h2>Geprüft & Ausgezeichnet</h2>
    </div>
    <div class="row rating__gallery">
        <div class="rating__gallery__item">
            <img src="../../assets/images/np_badge_3261207_000000.png" alt="Badge logo">
        </div>
        <div class="rating__gallery__item"> <img
                src="../../assets/images/np_badge_3261207_000000.png" alt="Badge logo"></div>
        <div class="rating__gallery__item"> <img
                src="../../assets/images/np_badge_3261207_000000.png" alt="Badge logo"></div>
        <img class="rating__gallery--bee"src="../../assets/images/beeWhite.png" alt="Bee">
        <img class="rating__gallery__tail--left"src="../../assets/images/leftTail.png" alt="Bee tail">
        <img class="rating__gallery__tail--right"src="../../assets/images/rightTail.png" alt="Bee tail">
    </div>
</div>
</section>