<section class="d-md-none special">
    <div class="special__header">
        <h2>Lorem ipsum dolor
            sit amet</h2>
    </div>
    <div class="special__text">

        <p>Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum
            dolor sit amet. Lorem ipsum dolor sit amet,
            consdolore magna aliquyam erat, sed diam
            voluptua. At vero eos et accusam et
            justo duo dolores et ea rebum. Stet clita
            kasd gubergren, no sea takimata sanctus
            est Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="special__logo">
        <img src="../../assets/images/Greenergy_CMYK.png"
            srcset="../../assets/images/greenergy-cmyk@2x.png 2x,
            ../../assets/images/greenergy-cmyk@3x.png 3x"
            class="Greenergy_CMYK" alt="Special logo">
    </div>
</section>