<section class="_tarife__main__steps">
    <div class="row _tarife__main__steps__header">
        <h2>So einfach geht der Wechsel</h2>
        <p>
            Grünen Strom findest du gut, aber den Wechsel nervig? Mach dir keinen Kopf, denn das meiste übernehmen wir
            für dich. Und da wir ja im 21. Jahrhundert leben, passiert alles digital und für dich jederzeit transparent.
            So muss das sein!
        </p>
        <img src="../../assets/images/rotated-white-bee.png" alt="rotated bee" />
    </div>
    <div class="row _tarife__main__steps__body">
        <div class="card">
            <img src="../../assets/images/greenergy_tarifwahl_1. Auswählen.png" />
            <div class="card-body">
                <h4>1. Tarif auswählen</h4>
                <p class="card-text">
                    Such dir den Tarif aus, der am besten zu dir passt. Egal ob Singlehaushalt, Großfamilie oder
                    Technoclub – grünen Strom gibt’s bei uns für jeden Bedarf und jeden Verbrauch.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/images/greenergy_tarifwahl_2. Kündigung.png" />
            <div class="card-body">
                <h4>2. Wir kündigen für dich</h4>
                <p class="card-text">
                    Schluss machen ist immer unangenehm. Aber keine Angst! Wir übernehmen die Kündigung deines alten
                    Stromvertrages für dich und du kannst dich entspannt zurücklehnen.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/images/greenergy_tarifwahl_3. Neuer Vertrag.png" />
            <div class="card-body">
                <h4>3. Vertrag abschließen</h4>
                <p class="card-text">
                    Zack – schon kommt dein neuer Vertrag per Mail zu dir ins Postfach geflattert. Und wenn du deinen
                    Abschlag nachträglich ändern möchtest, schreib uns gern 'ne Mail zurück.
                </p>
            </div>
        </div>
    </div>
</section>
