<section class="tarife__main__strommix">
    <div class="tarife__main__strommix__header">
        <h2>Strommix</h2>
        <p>
            Strommix? Was ist das nun wieder? Greenergy24-Strom wird zu 100% aus Wasserkraft gewonnen - also nix mit
            Mix. Das heißt Wasser wird in höhergelegenen Seen aufgestaut und treibt beim gezielten Abwärtsfließen
            Turbinen an. Je nach Tarif kommt er entweder aus dem schönen Skandinavien oder lokal aus Deutschland.
        </p>
    </div>
    <div class="tarife__main__strommix__body">
        <img src="../../assets/images/circleWithBee.png" alt="Circle with bee" />
    </div>
    <img src="../../assets/images/whiteBeeWithTail.png" class="tarife__main__strommix__bee" alt="Bee" />
</section>
