<section class="tarife__main__section--first">
    <div class="row tarife__main__section--first__header">
        <h2>Weitere Tarife</h2>
    </div>
    <div class="row tarife__header__main tarife__main__section--first__main justify-content-center">
        <section class="tarife__header__main__card tarife__main__section--first__card">
            <div class="tarife__header__main__card__body tarife__main__section--first__card__body">
                <div
                    class="
                        row
                        tarife__header__main__card__body__heading tarife__main__section--first__card__body__heading
                    "
                >
                    <h3>Honigbiene</h3>
                </div>
                <div
                    class="
                        row
                        tarife__header__main__card__body__subheading
                        tarife__main__section--first__card__body__subheading
                    "
                >
                    <h4>Ideale Lösung für Familien und WGs.</h4>
                </div>
                <div class="tarife__header__main__card__body__list tarife__main__section--first__card__body__list">
                    <ul>
                        <li>Sofortbonus und Treuebonus</li>
                        <li>Niedriger Arbeitspreis</li>
                        <li>100% skandinavische Wasserkraft</li>
                    </ul>
                </div>
                <div
                    class="row tarife__header__main__card__body__bonus tarife__main__section--first__card__body__bonus"
                >
                    <h4>150,00 €</h4>
                    <h5>Bonus</h5>
                </div>
                <div
                    class="row tarife__header__main__card__body__price tarife__main__section--first__card__body__price"
                >
                    <h4>86,00 €</h4>
                    <h5>pro Monat</h5>
                </div>
                <div
                    class="
                        row
                        tarife__header__main__card__body__button tarife__main__section--first__card__body__button
                    "
                >
                    <a href="#">Jetzt wechseln</a>
                </div>
            </div>
            <div class="row tarife__header__main__card__footer tarife__main__section--first__card__footer">
                <span data-bs-toggle="modal" data-bs-target="#tarifeModal">
                    <img src="../../assets/images/np_plus_white_1472307_000000.svg" alt="Plus icon" />
                    Tarifdetails
                </span>
            </div>
        </section>
        <section class="tarife__header__main__card tarife__main__section--first__card">
            <div class="tarife__header__main__card__body tarife__main__section--first__card__body">
                <div
                    class="
                        row
                        tarife__header__main__card__body__heading tarife__main__section--first__card__body__heading
                    "
                >
                    <h3>Honigbiene</h3>
                </div>
                <div
                    class="
                        row
                        tarife__header__main__card__body__subheading
                        tarife__main__section--first__card__body__subheading
                    "
                >
                    <h4>Ideale Lösung für Familien und WGs.</h4>
                </div>
                <div class="tarife__header__main__card__body__list tarife__main__section--first__card__body__list">
                    <ul>
                        <li>Sofortbonus und Treuebonus</li>
                        <li>Niedriger Arbeitspreis</li>
                        <li>100% skandinavische Wasserkraft</li>
                    </ul>
                </div>
                <div
                    class="row tarife__header__main__card__body__bonus tarife__main__section--first__card__body__bonus"
                >
                    <h4>150,00 €</h4>
                    <h5>Bonus</h5>
                </div>
                <div
                    class="row tarife__header__main__card__body__price tarife__main__section--first__card__body__price"
                >
                    <h4>86,00 €</h4>
                    <h5>pro Monat</h5>
                </div>
                <div
                    class="
                        row
                        tarife__header__main__card__body__button tarife__main__section--first__card__body__button
                    "
                >
                    <a href="#">Jetzt wechseln</a>
                </div>
            </div>
            <div class="row tarife__header__main__card__footer tarife__main__section--first__card__footer">
                <span data-bs-toggle="modal" data-bs-target="#tarifeModal">
                    <img src="../../assets/images/np_plus_white_1472307_000000.svg" alt="Plus icon" />
                    Tarifdetails
                </span>
            </div>
        </section>
    </div>
    <div class="square-bee square-bee--small yellow tarife__main__section--first--bottom__bee" ></div>
    <div class="square-bee square-bee--small yellow tarife__main__section--first--top__bee" ></div>
    <div class="square-bee square-bee--middle yellow tarife__main__section--first--top__bee__middle" ></div>
</section>
