<header class="tarife__header">
    <div class="container">
        <div class="row tarife__header__heading">
            <h2>Unsere Strom Tarife im Überblick</h2>
        </div>
        <div class="row tarife__header__list">
            <div class="tarife__header__list__header d-block d-md-flex justify-content-md-center">
                <h4>Ihre Angaben:</h4>
            </div>
            <ul class="tarife__header__list__body d-block d-md-flex justify-content-md-center">
                <li>
                    Postleitzahl:
                    <span class="underline">23456</span>
                </li>
                <li>
                    Jahresverbrauch:
                    <span class="underline">4.000 kWh</span>
                </li>
            </ul>
        </div>
        <div class="row tarife__header__main justify-content-center">
            <section class="tarife__header__main__card">
                <div class="tarife__header__main__card__body">
                    <div class="row tarife__header__main__card__body__heading">
                        <h3>Schmalbiene</h3>
                    </div>
                    <div class="row tarife__header__main__card__body__subheading">
                        <h4>Schmale Laufzeit für maximale Flexibilität.</h4>
                    </div>
                    <div class="tarife__header__main__card__body__list">
                        <ul>
                            <li>1 Monat Mindestlaufzeit</li>
                            <li>2 Wochen Kündigungsfrist</li>
                            <li>100% skandinavische Wasserkraft</li>
                        </ul>
                    </div>
                    <div class="row tarife__header__main__card__body__bonus empty"></div>
                    <div class="row tarife__header__main__card__body__price">
                        <h4>86,00 €</h4>
                        <h5>pro Monat</h5>
                    </div>
                    <div class="row tarife__header__main__card__body__button">
                        <a href="#">Jetzt wechseln</a>
                    </div>
                </div>
                <div class="row tarife__header__main__card__footer">
                    <span data-bs-toggle="modal" data-bs-target="#tarifeModal">
                        <img src="../../assets/images/np_plus_1472307_000000.svg" alt="Plus icon" />
                        Tarifdetails
                    </span>
                </div>
                <div class="badge-bonus">
                    <div class="badge-bonus__container">
                        <img src="../../assets/images/np_badge_799062_000000.png" alt="White badge" width="100%" />
                        <p class="badge-bonus__price">Kunden liebling</p>
                    </div>
                </div>
            </section>
            <section class="tarife__header__main__card">
                <div class="tarife__header__main__card__body">
                    <div class="row tarife__header__main__card__body__heading">
                        <h3>Honigbiene</h3>
                    </div>
                    <div class="row tarife__header__main__card__body__subheading">
                        <h4>Ideale Lösung für Familien und WGs.</h4>
                    </div>
                    <div class="tarife__header__main__card__body__list">
                        <ul>
                            <li>Sofortbonus und Treuebonus</li>
                            <li>Niedriger Arbeitspreis</li>
                            <li>100% skandinavische Wasserkraft</li>
                        </ul>
                    </div>
                    <div class="row tarife__header__main__card__body__bonus">
                        <h4>150,00 €</h4>
                        <h5>Bonus</h5>
                    </div>
                    <div class="row tarife__header__main__card__body__price">
                        <h4>86,00 €</h4>
                        <h5>pro Monat</h5>
                    </div>
                    <div class="row tarife__header__main__card__body__button">
                        <a href="#">Jetzt wechseln</a>
                    </div>
                </div>
                <div class="row tarife__header__main__card__footer">
                    <span data-bs-toggle="modal" data-bs-target="#tarifeModal">
                        <img src="../../assets/images/np_plus_1472307_000000.svg" alt="Plus icon" />
                        Tarifdetails
                    </span>
                </div>
            </section>
            <img class="yellow-bee" src="../../assets/images/yellowBee.png" />
        </div>
    </div>
    <div class="square-bee square-bee--middle"></div>
    <div class="square-bee square-bee--small"></div>
</header>
<div
    class="modal fade tarife__modal"
    id="tarifeModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="tarifeModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="content">
        <div class="modal-content tarife__modal">
            <div class="close-modal row">
                <span class="close" data-bs-dismiss="modal" aria-label="Close" aria-hidden="true">
                    <img src="../../assets/images/np_close_997408_000000.svg" alt="Close button" />
                </span>
            </div>
            <div class="row tarife__modal__header">
                <h3 class="col-10" id="tarifeModalLabel">Tarifdetails</h3>
            </div>
            <div class="container tarife__modal__body">
                <section class="tarife__modal__body__section">
                    <h4 class="col-8">Der Monatspreis wird auf folgender Basis berechnet:</h4>
                    <p class="col-8">
                        Arbeitspreis: 31,48 ct/kWh (brutto) Grundpreis: 110,24 €/Jahr (brutto) Mindestverbrauch: -
                    </p>
                </section>
                <section class="tarife__modal__body__section">
                    <h4 class="col-8">Vertragslaufzeit</h4>
                    <p class="col-8">
                        Die Erstvertraglaufzeit beträgt einen Monat, gerechnet ab Lieferbeginn. Die Kündigungsfrist
                        beträgt 2 Wochen.
                    </p>
                </section>
            </div>
            <div class="tarife__modal__footer">
                <a href="#">Jetzt wechseln</a>
            </div>
        </div>
    </div>
</div>
