<section class="tarife__yellow">
    <div class="square-bee square-bee--big"></div>
    <div class="square-bee square-bee--middle"></div>

    <div class="row tarife__yellow__header">
        <h2>Gute Gründe für greenergy24</h2>
    </div>
    <div class="tarife__yellow__body">
        <div class="row tarife__yellow__body__row first__row">
            <div class="tarife__yellow__body__col__img first__img col-12 col-md-5">
                <img src="../../assets/images/shutterstock_627689030.png" alt="shutterstock" />
            </div>
            <div class="tarife__yellow__body__col__text first__text col-12 col-md-6">
                <h4>Mach mit.</h4>
                <p>
                    Der Klimawandel ist real und das ist ungemütlich – im wahrsten Sinne des Wortes. Wir wollen uns aber
                    nicht damit abfinden, dass in Zukunft jeder Sommer einen neuen Hitzerekord aufstellt. Klar,
                    Klimaanlage ist entspannter als Klima-Demo. Aber „nach uns die Sintflut“ ist einfach nicht unser
                    Stil. Und da du auf unserer Seite gelandet bist, deiner auch nicht. Gut so!
                </p>
            </div>
        </div>
        <div class="row tarife__yellow__body__row second__row">
            <div class="tarife__yellow__body__col__text order-1 order-md-0 second__text col-12 col-md-6">
                <h4>Eine gute Wahl.</h4>
                <p>
                    Wer Ökostrom bezieht positioniert sich. Denn triffst du die Wahl für grünen Strom, setzt du damit
                    ein Zeichen für erneuerbare Energie im Allgemeinen. Also schließ dich an und werd grün.
                </p>
            </div>
            <div class="tarife__yellow__body__col__img second__img col-12 col-md-5">
                <img src="../../assets/images/shutterstock_1097155130.png" alt="shutterstock" />
            </div>
        </div>
        <div class="row tarife__yellow__body__row third__row">
            <div class="tarife__yellow__body__col__img third__img col-12 col-md-5">
                <img src="../../assets/images/shutterstock_262155599.png" alt="shutterstock" />
            </div>
            <div class="tarife__yellow__body__col__text third__text col-12 col-md-6">
                <h4>Grün für alle.</h4>
                <p>
                    Grüner Strom darf kein Vermögen kosten, sonst bleibt er ein Luxusartikel. Und um eine „kritische
                    Masse“ zu werden und die Energiewende ordentlich anzuschieben, müssen möglichst viele mitmachen
                    können.
                </p>
            </div>
        </div>
    </div>
    <div class="square-bee square-bee--small"></div>
</section>
