<section class="uberuns__dachmarke">
    <div class="uberuns__dachmarke__header">
        <h2>Unsere Dachmarke</h2>
    </div>
    <div class="container uberuns__dachmarke__body">
        <div class="row row__first">
            <div class="col-7">
                <p>
                    Greenergy24 ist eine Marke der Ideenstadtwerke. Die Ideenstadtwerke aus Neustadt am Rübenberge in
                    der Region Hannover bündeln die lokalen Stadtwerke, die LeineNetz, das Rouvenwerk mit innovativen
                    Immobilienlösungen und das Schwimm- und Saunabad „Balneon“ unter ihrem Dach. Ihr Portfolio reicht
                    von Ladestationen für E-Mobilität wie Ladesäulen oder Wallboxen über Photovoltaik-Anlagen bis hin
                    zum ersten niedersächsischen kalten Nahwärmenetz. Hauptsache es sind innovative Ideen, die die
                    Energiewende voranbringen.
                </p>
            </div>
            <div class="col-4">
                <img src="../../assets/images/Greenergy_CMYK.png" alt="CMYK" />
            </div>
        </div>
        <div class="row row__second">
            <p class="offset-9 col-3">Im Logo: Statt Rübenberge "Die Voranbringer"</p>
        </div>
    </div>
</section>
