<section class="uberuns___main__yellow">
    <div class="uberuns___main__yellow__body">
        <div class="row uberuns___main__yellow__body__row first__row">
            <div class="uberuns___main__yellow__body__col__img first__img col-12 col-md-5">
                <img src="../../assets/images/uberUnsCartoon1.png" alt="shutterstock" />
            </div>
            <div class="uberuns___main__yellow__body__col__text first__text col-12 col-md-6">
                <h4>Energiewende</h4>
                <p>
                    In fossilen und nuklearen Energieträger sehen wir keine Zukunft. Wir forcieren die Energiewende,
                    indem wir Menschen bundesweit mit sauberem und sicherem Ökostrom versorgen. Als Akteur der
                    nachhaltigen Energiewirtschaft sehen wir uns auch in einer Aufklärungsfunktion und informieren über
                    den Klimaschutz und die Energiewende.
                </p>
            </div>
        </div>
        <div class="row uberuns___main__yellow__body__row second__row">
            <div class="uberuns___main__yellow__body__col__text order-1 order-md-0 second__text col-12 col-md-6">
                <h4>Nachhaltigkeit</h4>
                <p>
                    Für uns hört Umweltschutz nicht bei sauberem Strom auf, sondern fängt damit erst an. Wir arbeiten
                    deshalb jeden Tag daran, dass unser (Büro-)Alltag nachhaltiger wird. Digitalisierung ist bei uns
                    mehr als nur ein Buzzword: Du erhältst sämtliche Unterlagen ausschließlich digital. Wir setzen auch
                    in unserer Lieferkette auf Nachhaltigkeit. So werden zum Beispiel unsere Werbemittel nicht nur aus
                    nachhaltigen Materialen ressourcenschonend hergestellt, sondern haben auch einen kurzen Lieferweg.
                </p>
            </div>
            <div class="uberuns___main__yellow__body__col__img second__img col-12 col-md-5">
                <img src="../../assets/images/uberUnsCartoon2.png" alt="shutterstock" />
            </div>
        </div>
        <div class="row uberuns___main__yellow__body__row third__row">
            <div class="uberuns___main__yellow__body__col__img third__img col-12 col-md-5">
                <img src="../../assets/images/uberUnsCartoon3.png" alt="shutterstock" />
            </div>
            <div class="uberuns___main__yellow__body__col__text third__text col-12 col-md-6">
                <h4>Bienen</h4>
                <p>
                    Der Schutz der Natur und der des Klimas gehen für uns Hand in Hand mit dem Schutz der Bienen. Bienen
                    sind für ein gesundes Ökosystem verantwortlich und spielen eine Schlüsselrolle für den Erhalt der
                    Artenvielfalt. Deshalb ist es für uns eine Herzensangelegenheit, die Bienen zu schützen. Dafür
                    realisieren wir Kooperationen mit Imker*innen vor Ort, errichten Insektenhotels und legen
                    Wildblumenwiesen an.
                </p>
            </div>
        </div>
    </div>
    <div class="square-bee square-bee--big"></div>
    <div class="square-bee square-bee--middle"></div>
    <div class="square-bee square-bee--small"></div>
</section>
