<header class="uberuns__header">
    <h2>Dein Energielieferant aus Niedersachsen</h2>
    <p>
        Zwischen Moor, Leineauen und der Heide liegt unsere kleine Schaltzentrale. Hier tüfteln wir an dem besten
        Ökostrom-Tarif für dich. Durch die direkte Nähe zu den abwechslungsreichen Landschaften liegt uns viel daran,
        diese zu erhalten. Unser Ziel ist es, die Energiewende voranzutreiben und den „Stromsee“ mittelfristig noch
        grüner und langfristig grün zu machen. Uns verbindet eine pulsierende Leidenschaft für innovative Produkte,
        Nachhaltigkeit, Naturschutz und Artenvielfalt. Ein besonderes Herzensprojekt von uns ist der Schutz der Biene.
    </p>
    <img src="../../assets/images/greenBee.png" alt="Green bee" />
</header>
