<section class="uberuns__marken">
    <div class="uberuns__marken__header">
        <h3>Unsere Marken</h3>
    </div>
    <div class="container uberuns__marken__body">
        <div class="row">
            <div class="col-6 item">
                <img src="../../assets/images/stadWerke-green.png" alt="Stad Werke logo">
            </div>
            <div class="col-6 item">
                <img src="../../assets/images/greenErgyGreen.png" alt="Green ergy logo">
            </div>
        </div>
        <div class="row">
            <div class="col-6 item">
                <img src="../../assets/images/Rouven22_sw.png" alt="Rouven logo">
            </div>
            <div class="col-6 item">
                <img src="../../assets/images/leinetzGreen.png" alt="Leinetz logo">
            </div>
        </div>
        <div class="row">
            <div class="col-6 item">
                <img src="../../assets/images/rouvenWerk.png" alt="Rouven Werk logo">
            </div>
            <div class="col-6 item">
                <img src="../../assets/images/balneonGreen.png" alt="Balneon logo">
            </div>
        </div>
    </div>
</section>
