<div class="aboutus__main">
    <div class="aboutus__main__header">
        <h2>Мисия и визия</h2>
    </div>
    <div class="aboutus__main__body">
        <div class="aboutus__main__body--text">
            <h3>Мисия</h3>
            <p>
                Ние, в Училище „Дени Дидро“ работим с поглед в бъдещето на нашите ученици, които възпитаме като
                любознателни, съзнателни и социално отговорни личности и граждани, достойно заемащи място в устойчивото
                бъдеще на обществото. Осигуряваме развиваща, подкрепяща и творческа атмосфера, в която децата градят
                нови знания и умения, откриват и усъвършенстват своите интереси и таланти, израстват с уважение и грижа
                към околния свят. Стремежът ни е учениците да идват с желание при нас и в очакване на нови преживявания
                и предизвикателства. Насърчаваме интегрирането на деца от различни общности и произход и правим възможен
                достъпа им до качествено образование. Контакти
            </p>
        </div>
        <div class="aboutus__main__body--text">
            <h3>Визия</h3>
            <p>
                Светът е място, което нашите ученици изследват задълбочено с отворен ум. Те са добре обучени академично,
                за да го разбират, приемат и развиват. Подготвени за бързо променяща се среда, критично мислещи,
                гъвкави, с глобална перспектива и локална ангажираност, ръководени от общочовешките ценности на
                честност, уважение, съпричастност, сътрудничество и отговорност.
            </p>
            <p>
                Създаваме съвременно училище в близост до природата, водени от обичта към детето и вярата, че то се
                ражда с естествен порив да открива и изследва заобикалящия го свят. Прилагаме иновативен модел на
                обучение с фокус върху индивидуалността на всяко дете и цялостно балансирано развитие на неговата
                личност, напътствано и подкрепяно от вдъхновяващи учители. Приспособяваме процеса на обучение към
                детето, а не детето към него, за да разгърнем пълния му потенциал.
            </p>
        </div>
        <div class="aboutus__main__body--image">
            <img src="../../assets/images/aboutus__image.png" alt="Image" />
        </div>
    </div>
</div>
