<aside class="d-none d-md-block additional">
    <ul class="additional__list">
        <li>
            <a href="contacts.html"><img src="../../assets/images/contacts-logo.svg" alt="Contacts" /></a>
        </li>
        <li>
            <img src="../../assets/images/info-logo.svg" alt="Info logo" />
        </li>
        <li><img src="../../assets/images/priem.svg" alt="Priem logo" /></li>
        <li id="additional__list--close"><img src="../../assets/images/close-icon.svg" alt="Close icon" /></li>
    </ul>
</aside>
