{{> _border-section}}
<footer class="footer">
    <div class="footer__main row navigation">
        <div class="footer__main__left navigation__left">
            <ul class="navigation__left__list">
                <a href="index.html"><img src="../../assets/images/SchoolLogo.png" alt="School logo" /></a>
                <li><img src="../../assets/images/ProBankLogo.png" alt="Pro BankLogo"/></li>
            </ul>
        </div>
        <div class="footer__main__right">
            <div class="footer__main__right--first">
                <ul class="footer__main__right__list">
                    <li>За нас</li>
                    <li>Училищна среда</li>
                    <li>Прием</li>
                    <li><a href="contacts.html">Контакти</a></li>
                </ul>
            </div>
            <div class="footer__main__right--second">
                <ul class="footer__main__right__list">
                    <a href="aboutus.html"><li>Мисия и визия</li></a>
                    <li>Ценности</li>
                    <li>Методи на обучение</li>
                    <li>Екип</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row footer__copyright">
        <h5>
            © 2021 ProCredit Bank
        </h5>
    </div>    
</div>
</footer>