<section class="home-gallery">
    <div class="home-gallery__header">
        <h2>Галерия</h2>
    </div>
    <div class="swiper-container home-gallery__main home-gallery-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide home-gallery__main__items">
                <img src="../../assets/images/gallery-1.jpg" alt="Gallery image" title="Swimming pool"/>
            </div>
            <div class="swiper-slide home-gallery__main__items">
                <img src="../../assets/images/gallery-2.jpg" alt="Gallery image" title="Beauty house"/>
            </div>
            <div class="swiper-slide home-gallery__main__items">
                <img src="../../assets/images/gallery-3.jpg" alt="Gallery image" title="Kitchen" />
            </div>
            <div class="swiper-slide home-gallery__main__items">
                <img src="../../assets/images/gallery-4.jpg" alt="Gallery image" title="The wall"/>
            </div>
            <div class="swiper-slide home-gallery__main__items">
                <img src="../../assets/images/gallery-5.jpg" alt="Gallery image" title="Playground"/>
            </div>
            <div class="swiper-slide home-gallery__main__items">
                <img src="../../assets/images/gallery-6.jpg" alt="Gallery image" title="Studying at school"/>
            </div>
            <div class="swiper-slide home-gallery__main__items">
                <img src="../../assets/images/gallery-7.jpg" alt="Gallery image" title="Outside look"/>
            </div>
            <div class="swiper-slide home-gallery__main__items">
                <img src="../../assets/images/gallery-8.jpg" alt="Gallery image" title="Classroom"/>
            </div>
        </div>
        <!-- <div class="swiper-pagination"></div> -->
        <div class="row home-gallery__main__buttons">
            <div class="swiper-button swiper-button-prev">
                <img src="../../assets/images/left-arrow.svg" alt="Left arrow">
            </div>
            <div class="swiper-button swiper-button-next">
                <img src="../../assets/images/right-arrow.svg" alt="Right arrow">
            </div>
        </div>
    </div>
</section>
