<div class="home-advertise">
    <section class="home-advertise__logos row">
        <div class="home-advertise__logos--mission col-12 col-md-3">
            <img src="../../assets/images/mission-logo.svg" alt="Mission" title="Mission" />
        </div>
        <div class="home-advertise__logos--specials col-12 col-md-3">
            <img src="../../assets/images/specials-logo.svg" alt="Specials" title="Specials" />
        </div>
        <div class="home-advertise__logos--methods col-12 col-md-3">
            <img src="../../assets/images/methods-logo.png" alt="Methods" title="Methods" />
        </div>
        <div class="home-advertise__logos--team col-12 col-md-3">
            <img src="../../assets/images/team-logo.svg" alt="Team" title="Team" />
        </div>
    </section>
    <section class="home-advertise__info row">
        <div class="col-12 col-md-6 home-advertise__info--text">
            <div class="home-advertise__info--text__inner">
                <h3>Защо да изберете нашето училище?</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <img id="more-button" src="../../assets/images/more-button.png" alt="More" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="home-advertise__info--image">
                <img src="../../assets/images/Mask Group 2.jpg" alt="House" class="d-none d-md-inline" title="Beauty house"/>
                <div class="badges badges--red">
                    <div class="badges__inner">
                        <div class="badges__inner--logo badges__inner--logo--red">
                            <img src="../../assets/images/pen.svg" alt="Pen" />
                        </div>
                        <div class="badges__inner--text badges__inner--text--red">
                            <h4>+20</h4>
                            <p>Свободно избирами предмета</p>
                        </div>
                    </div>
                    <img src="" alt="" />
                </div>
                <div class="badges badges--blue">
                    <div class="badges__inner">
                        <div class="badges__inner--logo badges__inner--logo--blue">
                            <img src="../../assets/images/medal.svg" alt="Medal" />
                        </div>
                        <div class="badges__inner--text badges__inner--text--blue">
                            <h4>+50</h4>
                            <p>Места за изява за уменията</p>
                        </div>
                    </div>
                </div>
                <div class="badges badges--orange">
                    <div class="badges__inner">
                        <div class="badges__inner--logo badges__inner--logo--orange">
                            <img src="../../assets/images/garden.svg" alt="Garder" />
                        </div>
                        <div class="badges__inner--text badges__inner--text--orange">
                            <h4>
                                5000 м
                                <sup>2</sup>
                            </h4>
                            <p>Училищно пространство</p>
                        </div>
                    </div>
                </div>
                <div class="badges badges--purple">
                    <div class="badges__inner">
                        <div class="badges__inner--logo badges__inner--logo--purple">
                            <img src="../../assets/images/businesswoman.svg" alt="Business Woman" />
                        </div>
                        <div class="badges__inner--text badges__inner--text--purple">
                            <h4>33</h4>
                            <p>Сертифицирани Учители</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
