<section class="home-future row">
    <div class="col-12 col-md-6 home-future--image">
        <img src="../../assets/images/Taking care of the Earth-rafiki.svg" alt="Taking care of the Earth" title="Taking care of the Earth"/>
    </div>
    <div class="col-12 col-md-6 home-future--text">
        <div class="home-future--text__inner">
            <h3>Заедно за едно по-добро бъдеще</h3>
            <p>
                За направата на училището са използвани само естествени материали. За да запазим природата такава
                каквато е всичките дървета бяха запазени при строежа. Изградихме специална озонираща система, за
                намаляване на количеството отделени вредни емисии. Бъдещето на Планетата е в наши ръце и трябва да се
                грижим за нея.
            </p>
        </div>
    </div>
</section>
