<nav class="d-none d-lg-flex navigation row">
    <div class="navigation__left">
        <ul class="navigation__left__list">
            <li>
                <a href="index.html"><img src="../../assets/images/SchoolLogo.png" alt="School logo" title="Deni Didro school"/></a>
            </li>
            <li><img src="../../assets/images/ProBankLogo.png" alt="Pro BankLogo" title="Pro Bank"/></li>
        </ul>
    </div>
    <div class="navigation__right">
        <ul class="navigation__right__list">
            <li id="nav--dropdown">
                <span class="navigation__right__list--dropdown">
                    За нас
                    <img src="../../assets/images/noun_chevron arrow_2074151.svg" alt="Icon" />
                </span>
                <ul id="nav__dropdown-list--forUs" class="nav__dropdown-list">
                    <li>Училището</li>
                    <li>Дени Дидро</li>
                    <li> <a href="aboutus.html">Нашата идентичност</a></li>
                    <li>Училищна общност</li>
                    <li>Екип</li>
                    <li>Новини</li>
                </ul>
            </li>
            <li>Училищна среда</li>

            <li>Прием</li>
            <li><a href="contacts.html">Контакти</a></li>
            <li><img src="../../assets/images/Mask Group 6.png" alt="Bg Logo" /></li>
        </ul>
    </div>
</nav>

<nav class="d-flex d-lg-none navigation--mobile">
    <div class="navigation--mobile__left">
        <ul class="navigation--mobile__left__list">
            <li>
                <a href="index.html"><img src="../../assets/images/SchoolLogo.png" alt="School logo" title="Deni Didro school"/></a>
            </li>
            <li><img src="../../assets/images/ProBankLogo.png" alt="Pro BankLogo" title="Pro Bank"/></li>
        </ul>
    </div>
    <div class="navigation--mobile__right">
        <ul class="navigation--mobile__right__list">
            <li><img src="../../assets/images/Mask Group 6.png" alt="Bg Logo" /></li>
            <li class="btn-list">
                <button id="nav--mobile--btn" class="navigation--mobile--button">
                    <span></span>
                </button>
            </li>
        </ul>
        <ul id="nav--mobile" class="navigation--mobile__list">
            <li class="navigation--mobile__list__dropdown" id="dropdown__list--mobile--btn">
                <span class="navigation__right__list--dropdown">
                    За нас
                    <img src="../../assets/images/white-dropdown-button.svg" alt="Icon" />
                </span>
            </li>
            <li class="dropdown__list--mobile">Училището</li>
            <li class="dropdown__list--mobile">Дени Дидро</li>
            <li class="dropdown__list--mobile"><a href="aboutus.html">Нашата идентичност</a></li>
            <li class="dropdown__list--mobile">Училищна общност</li>
            <li class="dropdown__list--mobile">Екип</li>
            <li class="dropdown__list--mobile">Новини</li>
            <li>Училищна среда</li>
            <li>Прием</li>
            <li><a href="contacts.html">Контакти</a></li>
        </ul>
    </div>
</nav>
