<section class="swiper-container header-slider slider-section">
    <div class="swiper-wrapper">
        <div class="swiper-slide slider-section__inner" id="slider-1">
            <div class="slider-section__inner--left">
                <h3>Най-доброто за Вашето дете</h3>
            </div>
        </div>
        <div class="swiper-slide slider-section__inner" id="slider-2">
            <div class="slider-section__inner--left">
                <h3>Съвременно училище сред природата</h3>
            </div>
        </div>
        <div class="swiper-slide slider-section__inner" id="slider-3">
            <div class="slider-section__inner--left">
                <h3>Лятна програма</h3>
            </div>
        </div>
        <div class="swiper-slide slider-section__inner" id="slider-4">
            <div class="slider-section__inner--left">
                <h3>
                    Подкрепяща среда за интереси и талант
                </h3>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    </div>
</section>
{{> _border-section}}