.header {
    li {
        list-style-type: none;
    }

    &__main {
        background: url('../../assets/images/green-background.png');
        // clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
        width: 100%;
        // background-color: var(--jade-green);
        height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        // z-index: -3;
        &__text {
            width: 50%;
            margin: auto;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;

            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            padding-top: 53px;
            h2 {
                font-size: 45px;
                line-height: 1.27;
            }
            p {
                line-height: 1.22;
                font-size: 22px;
            }
        }
        &__reservation {
            position: relative;
            width: 93%;
            background-color: #ffee00;
            z-index: 1;
            height: 353px;
            margin: auto;
            padding-left: 35px;
            margin-top: 80px;
            .badge-bonus {
                position: absolute;
                top: -50px;
                right: -60px;
                &__container {
                    display: block;
                    position: relative;
                    margin: auto;
                    width: 100%;

                    .badge-bonus__price {
                        display: inline-block;
                        position: absolute;
                        top: 35%;
                        left: 25%;

                        font-size: 18px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        text-align: center;
                        color: var(--jade-green);

                        width: 50%;
                        transform: rotate(20deg);
                    }
                }
            }
            h3 {
                padding-top: 25px;
                font-size: 22px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.27;
                letter-spacing: normal;
                text-align: left;
                color: #3c3c3b;
            }
            #vertical-line--big {
                width: 60px;
                height: 0;
                margin: 9px 0 0;
                border: solid 5px #3c3c3b;
                //margin-left: 35px;
                display: block;
            }

            &__form {
                #form__col__f {
                    padding-left: 0;
                }
                &--bee {
                    position: relative;
                    &__logo {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 92px;
                        height: 92px;
                    }
                }
                margin-top: 32px;
                &__cols {
                    label {
                        font-size: 13px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;

                        line-height: 1.31;
                    }
                    input[type='text'] {
                        border-radius: 4px;
                        background-color: #ffffff;
                        height: 38px;

                        ::placeholder {
                            font-size: 13px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.31;
                            letter-spacing: normal;
                            text-align: left;
                            color: #b5b5b5;
                        }
                    }
                    input[type='radio'] {
                        position: absolute;
                        width: 0;
                        height: 0;
                        background-color: #ffee00;
                        opacity: 0;
                    }

                    .radio__logo {
                        opacity: 0.4;
                    }
                    input[type='radio']:checked + label .radio__logo {
                        opacity: 1;
                    }
                }
                &__button {
                    width: 282px;
                    background-color: var(--jade-green);
                    padding: 13px 36px 13px 30px;
                    border-radius: 5px;
                    display: block;
                    margin: auto;
                    margin-top: 60px;
                    a {
                        width: 100%;
                        font-size: 18px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.39;
                        letter-spacing: normal;
                        text-align: center;
                        color: #ffffff;
                        display: inline-block;
                    }
                    a:hover {
                        text-decoration: none;
                    }
                    &:hover {
                        background-color: #258951;
                    }
                }
            }
            #badge-bonus {
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                &-container {
                    text-align: center;
                    position: relative;
                }
            }
        }
    }
}
.form__reservation--top {
    width: 100%;
    margin: auto;
    height: 97px;
    background-color: var(--bright-yellow);
    padding: 16px 16px 20px 20.3px;
    display: flex;
    justify-content: space-between;
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;

    &__header {
        display: flex;
        justify-content: start;
        h2 {
            font-size: 22px;
            font-weight: normal;
            line-height: 1.27;
            color: #3c3c3b;
            margin-top: 12px;
        }
    }
    label {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.31;
        color: #3c3c3b;
    }
    input {
        height: 38px;
        border-radius: 4px;
    }
    &__button {
        display: flex;
        padding-left: 0;
        span {
            padding: 13px 26px;
            border-radius: 5px;
            background-color: var(--jade-green);
            display: flex;
            align-items: center;
            margin-left: 29.7px;
        }

        span:hover {
            background-color: #258951;
        }
        a {
            font-size: 18px;
            line-height: 1.39;
            color: #ffffff;
            display: block;
        }
        a:hover {
            text-decoration: none;
            width: 100%;
        }
    }
}
.index__modal {
    height: 360px;
    .close-modal {
        justify-content: end;
        width: 100%;
        margin-top: 8px;
    }
    &__header {
        margin-top: 15px;
        h3 {
            text-align: center;
            margin: auto;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.39;
            color: #3c3c3b;
        }
    }
    &__body {
        &__section {
            margin-top: 32px;

            h4 {
                font-size: 13px;
                font-weight: 500;
                line-height: 1.31;
                color: var(--jade-green);
                text-align: center;
                margin: auto;
            }
            p {
                margin: auto;
                font-size: 13px;
                font-weight: normal;
                line-height: 1.38;
                color: #3c3c3b;
                text-align: center;
                margin-top: 13px;
            }
        }
    }
    &__footer {
        height: 20%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        a {
            padding: 8px 30px;
            font-size: 18px;
            font-weight: normal;
            line-height: 1.39;
            color: #ffffff;
            border-radius: 5px;
            background-color: var(--jade-green);
            text-decoration: none;
        }
        a:hover {
            background-color: #258951;
            text-decoration: none;
        }
    }
}
@media (max-width: 930px) {
    .header {
        &__main {
            &__reservation {
                width: 100%;
            }
        }
    }
}
@media (max-width: 750px) {
    .header {
        &__main {
            height: 700px;
            background-repeat: no-repeat;
            &__text {
                width: 90%;
                h2 {
                    font-size: 30px;
                    width: 80%;
                    margin: auto;
                    margin-top: 0;
                }
                p {
                    margin-top: 19px;
                }
            }
            &__reservation {
                width: 95%;
                height: 480px;
                &__form {
                    &__cols {
                        padding-left: 0;
                    }
                    &--bee {
                        position: relative;
                        margin-right: -30px;

                        &__logo {
                            position: absolute;
                            top: 100px;
                            left: -20px;
                            width: 45px;
                            height: 45px;
                        }
                    }
                    &__button {
                        width: 90%;
                        display: block;
                        margin-left: 0;
                        margin-top: 20px;
                        padding-left: 12px;
                        padding-right: 12px;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: 1100px) {
    .header {
        &__main {
            &__reservation {
                width: 820px;
            }
        }
    }
}
@media (min-width: 1200px) {
    .form__reservation--top {
        justify-content: center;
    }
}
