nav {
    li {
        list-style-type: none;
    }
    background-color: #ffffff;
}
.navbar__contacts {
    display: flex;
    justify-content: flex-end;
    li {
        margin-left: 58px;
        margin-top: 8px;
        a {
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: left;
            color: #3c3c3b;
        }
        #contact {
            margin-right: 16px;
        }
    }
}
.navbar__header {
    display: flex;
    justify-content: center;
    li {
        #logo__header {
            margin: 0 61.5px 0 62.5px;
        }
    }
    &__tabs {
        margin-top: 53px;
        margin: 28px 62.5px 23px;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.39;
        letter-spacing: normal;
        text-align: left;
        color: #3c3c3b;

    }
    // .nav__text--green{
    //     color: var(--jade-green);
    // }
}

.navbar-toggler.collapsed > .close,
.navbar-toggler:not(.collapsed) > .navbar-toggler-image {
    display: none;
}
#vertical-line--green{
    border: 1px solid #2fac66;
}
.nav--mobile {
    display: flex;
    width: 100%;
    &__logo {
        margin: auto;
    }

    &__main {
        margin: auto;
        padding-left: 0;
        padding-bottom: 100px;
        padding-top: 50px;
        &__item {
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.39;
            letter-spacing: normal;

            text-align: center;
            &--sub {
                font-size: 13px;
                font-weight: normal;
                line-height: 1.31;
            }
        }
    }
}
.underline {
    text-decoration: underline;
}
.active {
    color: #2fac66;
}
.nav__button:hover{
    background-color: var(--jade-green) important;
    
}