* {
  font-family: Public Sans;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom-nav li:nth-last-child() {
  margin-right: 30px;
}

.custom-nav li a {
  font-weight: 400;
  color: #9597a5;
  font-size: 16px;
}

.custom-nav li a:hover {
  color: #2d314d;
  border-bottom: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #33d35e 0%, #2ab6d9 100%);
  -webkit-transition: border-bottom 0.1s ease-in-out;
  transition: border-bottom 0.1s ease-in-out;
}

.custom-header {
  padding: 40px;
}

.btn-rounded {
  width: 100%;
  overflow: hidden;
  padding: 8px 33px;
  background: -webkit-gradient(linear, left top, right top, from(#33d35e), to(#2ab6d9));
  background: linear-gradient(90deg, #33d35e 0%, #2ab6d9 100%);
  color: #ffffff;
  border-radius: 22px;
  font-size: 14px;
  line-height: 2;
  font-weight: 100;
}

.btn-rounded:hover {
  color: #ffffff;
  background-color: red;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 40%;
}

.header {
  background-color: #fafafa;
}

.right-header {
  height: 650px;
  background-image: url("../../images/bg-intro-desktop.svg");
  background-position: left -263px;
  position: relative;
}

#mockup {
  position: absolute;
  -webkit-clip-path: inset(14% 16% 0% 0%);
          clip-path: inset(14% 16% 0% 0%);
  -webkit-transform: translateY(-130px) translateX(100px);
          transform: translateY(-130px) translateX(100px);
}

@media only screen and (max-width: 1399px) {
  #mockup {
    position: absolute;
    -webkit-clip-path: inset(14% 22% 0% 0%);
            clip-path: inset(14% 22% 0% 0%);
    -webkit-transform: translateY(-130px) translateX(40px);
            transform: translateY(-130px) translateX(40px);
  }
}

@media only screen and (max-width: 1201px) {
  #mockup {
    position: absolute;
    -webkit-clip-path: inset(14% 33% 0% 0%);
            clip-path: inset(14% 33% 0% 0%);
    -webkit-transform: translateY(-130px) translateX(-24px);
            transform: translateY(-130px) translateX(-24px);
  }
}

.left-header {
  margin-top: 180px;
  padding-left: 0px;
}

.left-header-inner h1 {
  line-height: 1.143;
  color: #2d314d;
  font-weight: 100;
}

.left-header-inner p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.556;
  color: #9597a5;
}

.main {
  padding-top: 96px;
  background-color: #f4f5f7;
  width: 100%;
  padding-bottom: 100px;
}

.main .main-header h2 {
  line-height: 1.6;
  font-weight: 100;
  color: #2d314d;
  margin-left: 8px;
}

.main .main-header p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.556;
  color: #9597a5;
  margin-left: 8px;
}

.main .main-card {
  background: transparent;
  border: 0;
  margin-top: 80px;
}

.main .main-card img {
  width: 72px;
  height: 72px;
  margin-left: 8px;
}

.main .main-card h4 {
  background: transparent;
  border: 0;
  padding: 8px 0;
}

.main .main-card p {
  font-size: 16px;
  color: #9597a5;
  font-weight: 400;
  line-height: 1.625;
}

.article {
  background-color: #fafafa;
  padding-top: 100px;
  padding-bottom: 100px;
}

.article h2 {
  padding: 40px 0;
  font-size: 40px;
}

.article .main-card {
  border: transparent;
  border-radius: 20px;
}

.article .main-card img {
  border-radius: 5px 5px 0 0;
  height: 200px;
}

.article .main-card .author {
  font-size: 10px;
  font-weight: 400;
  color: #9597a5;
  line-height: 1.8;
  margin-top: 10px;
}

.article .main-card h4 {
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  padding-left: 0;
}

.article .main-card h4 a {
  text-decoration: none;
  display: inline-block;
  color: #2d314d;
  line-height: 1.25;
  font-weight: 100;
}

.article .main-card h4 a:hover {
  color: #30c88f;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.article .main-card p {
  line-height: 1.385;
  font-size: 13px;
  font-weight: 400;
  color: #9597a5;
}

footer {
  background-color: #2d314d;
}

footer .footer {
  padding: 50px 0;
}

footer .footer .footer-logo {
  margin-bottom: 50px;
}

footer .footer .social-logos a {
  display: inline-block;
  margin-right: 10px;
}

footer .footer .footer-links a {
  display: inline-block;
  color: #ffffff;
  font-size: 15;
  line-height: 1.733;
  text-decoration: none;
  font-weight: 400;
}

footer .footer .footer-links a:hover {
  color: #30c88f;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

footer .footer .footer-links li {
  margin-bottom: 10px;
}

.btn-r {
  border-radius: 22px;
  margin-bottom: 30px;
}

.copyright-zone {
  color: #ffffff;
  opacity: 0.5;
  font-size: 15;
  font-weight: 400;
  line-height: 1.733;
}
/*# sourceMappingURL=style.css.map */