.home__main__section--fourth {
    padding: 0 12rem;
    margin-top: 16.25rem;
    margin-bottom: 10rem;

    &__left {
        img {
            max-width: 100%;
            width: 70%;
            @media (max-width: 1400px) {
                display: block;
                margin: auto;
                width: 80%;
            }
            @media (max-width: 700px) {
                width: 98%;
            }
        }
    }
    &__right {
        @media (max-width: 1200px) {
            margin-top: 3rem;
            h2,
            p {
                text-align: center;
                width: 100%;
            }
            h2 {
                font-size: 1.5rem;
            }

        }
        &--button {
            a {
                display: inline-block;
                width: 40%;
                text-align: center;
            }
            @media (max-width: 1200px) {
                display: flex;
                justify-content: center;
                a {
                    width: 80%;
                }
            }
        }
    }
    @media (max-width: 991px) {
        padding: 0 5rem;
    }
    @media (max-width: 800px) {
        padding: 0 2rem;
    }
    @media (max-width: 400px) {
        padding: 0 1rem;
        margin-top: 8rem;
    }
}
